<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Creating a new contractor</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">

        <div class="row">
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" id="bpNoContractor" [(ngModal)]="bpNoContractor" placeholder="Enter BP Number" name="bpNoContractor">
              <label for="bpNoContractor">BP Number</label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" id="ProfessionalRegNo" [(ngModal)]="ProfessionalRegNo" placeholder="Enter Professional Reg No" name="professionalRegNo">
              <label for="professionalRegNo">Professional Reg No.</label>
            </div>
          </div>

          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" id="CIBDrating" [(ngModal)]="CIBDrating" placeholder="Enter Rating" name="cibdrating">
              <label for="CIBDrating">CIBD Rating</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" id="Name" [(ngModal)]="Name" placeholder="Enter First Name" name="name">
              <label for="name">Name</label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" id="Surname" [(ngModal)]="Surname"  placeholder="Enter Surname" name="surname">
              <label for="surname">Surname</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="tel" class="form-control" id="ContractorTell" [(ngModal)]="ContractorTell" placeholder="Enter Tell No." name="contractorTell">
              <label for="contractorTell">Cell No.</label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="email" class="form-control" id="ContractorEmail" [(ngModal)]="ContractorEmail" placeholder="Enter Email" name="contractorEmail">
              <label for="contractorEmail">Email</label>
            </div>
          </div>
        </div>


      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>

<div class="container-fluid">
  <div class="row">
    <button type="button" class="createNewCon" (click)="openXl(content)">
      Create New Contractor
    </button>
  </div>
</div>
