<!--modal to create a new role-->

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Creating a new role</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>


      <div class="row">

        <div class="form-floating mb-3 mt-3">
          <input type="text" class="form-control" id="roleName" placeholder="Enter the role name">
          <label for="roleName">Role Name</label>
        </div>

      </div>


    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>
<!--end of modal-->
<!--button to create new role(open modal)-->

<button type="button" class="btn btn-primary createNewRole" (click)="openXl(content)">Create a new role</button>


<!--display all roles-->

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Role </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>


  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button color="success" matTooltip="Add users to this role" (click)="linkUsers(linkUsersToRole)"><i class="fa fa-plus"></i></button>
      <button mat-raised-button color="blue" matTooltip="View users on this role" (click)="viewLinkedUsers(viewlinkedUsersToRole)"><i class="fa fa-eye"></i></button>
      <button mat-raised-button color="warn" matTooltip="Delete role"><i class="fa fa-trash"></i></button>

    </td>
    <td mat-cell *matCellDef="let element">  </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!--add users to role-->

<ng-template #linkUsersToRole let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Link users to role</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Zone Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>


        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">

            <button mat-raised-button><i class="fa fa-check" aria-hidden="true" [class.checked]="check" (click)="toggle()"></i></button>

          </td>
          <td mat-cell *matCellDef="let element">  </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>

<!---->

<!--view all users linked to this role-->

<ng-template #viewlinkedUsersToRole let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"> View linked users to role</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Zone Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>


        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">

            <button mat-raised-button color="warn" matTooltip="Delete Zone"><i class="fa fa-trash"></i></button>

          </td>
          <td mat-cell *matCellDef="let element">  </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>

<!---->
