
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Creating a new engineer</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">

        <div class="row">
          <!--          <div class="col">
                  <div class="form-floating mb-3 mt-3">
                    <input type="text" class="form-control" id="BpNoApplicant" [(ngModel)]="bpNoApplicant" placeholder="Enter BP Number" name="bpNoApplicant">
                    <label for="bpNoApplicant">BP Number</label>
                  </div>
                </div>-->
          <!--          <div class="col">
                  <div class="form-floating mb-3 mt-3">
                    <input type="text" class="form-control" id="professionalRegNo" [(ngModel)]="professionalRegNo" placeholder="Professional Reg No" name="professionalRegNo">
                    <label for="professionalRegNo">Professional Reg No.</label>
                  </div>
                </div>-->
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" id="engineerIDNo" [(ngModel)]="engineerIDNo" placeholder="Engineer ID Number" name="engineerIDNo">
              <label for="engineerIDNo">Company Name</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" id="Name" [(ngModel)]="name" placeholder="Enter First Name" name="name">
              <label for="name">Name</label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" id="Surname" [(ngModel)]="surname" placeholder="Enter Surname" name="surname">
              <label for="surname">Surname</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="tel" class="form-control" id="ApplicantTel" [(ngModel)]="applicantTellNo" placeholder="Enter Tell No." name="applicantTellNo">
              <label for="applicantTellNo">Cell No.</label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="email" class="form-control" id="ApplicantEmail" [(ngModel)]="applicantEmail" placeholder="Enter Email" name="applicantEmail">
              <label for="applicantEmail">Email</label>
            </div>
          </div>
        </div>

      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="modal.close('Save click');onAddEngineer()">Save</button>
  </div>
</ng-template>

<div class="container-fluid">
  <div class="row">
    <button type="button" class="createNewEngin" (click)="openXl(content)">
      Create New Engineer
    </button>
  </div>
</div>

<ng-template #edit let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit a new engineer</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">

        <div class="row">
         <!-- <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" id="BpNoApplicant" [(ngModel)]="editBpNoApplicant" placeholder="Enter BP Number" name="editBpNoApplicant">
              <label for="bpNoApplicant">BP Number</label>
            </div>
          </div>-->
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" id="professionalRegNo" [(ngModel)]="editProfessionalRegNo" placeholder="Professional Reg No" name="editProfessionalRegNo">
              <label for="professionalRegNo">Company Name</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" id="Name" [(ngModel)]="editName" placeholder="Enter First Name" name="editName">
              <label for="name">Name</label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" id="Surname" [(ngModel)]="editSurname" placeholder="Enter Surname" name="editSurname">
              <label for="surname">Surname</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="tel" class="form-control" id="ApplicantTel" [(ngModel)]="editApplicantTellNo" placeholder="Enter Tell No." name="editApplicantTellNo">
              <label for="applicantTellNo">Cell No.</label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="email" class="form-control" id="ApplicantEmail" [(ngModel)]="editApplicantEmail" placeholder="Enter Email" name="editApplicantEmail">
              <label for="applicantEmail">Email</label>
            </div>
          </div>
        </div>


      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="modal.close('Save click');onEditEngineer()">Save</button>
  </div>
</ng-template>

<br>

<table mat-table [dataSource]="myDataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->
  <!-- Position Column -->
  <ng-container matColumnDef="ProfessinalType">
    <th mat-header-cell *matHeaderCellDef>Professional Type</th>
    <td mat-cell *matCellDef="let element"> {{element.ProfessinalType}} </td>
  </ng-container>

  <ng-container matColumnDef="bpNumber">
    <th mat-header-cell *matHeaderCellDef>BP Number</th>
    <td mat-cell *matCellDef="let element"> {{element.bpNumber}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="surname">
    <th mat-header-cell *matHeaderCellDef> Surname </th>
    <td mat-cell *matCellDef="let element"> {{element.surname}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="professionalRegNo">
    <th mat-header-cell *matHeaderCellDef> Professional Reg Number </th>
    <td mat-cell *matCellDef="let element"> {{element.professionalRegNo}} </td>
  </ng-container>


  <ng-container matColumnDef="phoneNumber">
    <th mat-header-cell *matHeaderCellDef> Cell Number </th>
    <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email  </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let i = index">

      <button mat-raised-button color="blue" (click)="openEditModal(edit, i)"><img src="assets/fontawesome-free-6.4.2-web/svgs/regular/eye-solid.svg" class="icon"></button>
      <button mat-raised-button color="warn" (click)="onDelete(i)"><img src="assets/fontawesome-free-6.4.2-web/svgs/regular/trash-can-solid.svg" class="icon red"></button>
    </td>
    <td mat-cell *matCellDef="let element">  </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


