<ng-template #internalOpt let-modal>
  <div class="modal-header">
    <h1 class="modal-title" id="modal-basic-title">As an internal applicant are you...</h1>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="container-fluid">

        <div class="cont2">
          <div class="alert alert-primary" role="alert">
            This is a primary alert—check it out!
          </div>
          </div>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="modal.dismiss('Cross click')">Continue</button>
  </div>

</ng-template>
