<div class="cont2">
<h3 class="mat-dialog-title">Welcome {{ this.CurrentUser.fullName }} to your Notification Center</h3>

<button mat-button mat-dialog-close>X</button>
  </div>
<mat-tab-group class="mat-dialog-content">

  <mat-tab label="New Notifications">
    <div *ngIf="NotificationsList && NotificationsList.length > 0; else noNotificationsText">
      <!--<div class="timeline__event animated fade-in-bottom  timeline__event--type2" *ngFor="let notification of NotificationsList" (click)="getSelectedNotification(notification.ApplicationID)">-->
      <div class="timeline__event animated fade-in-bottom  timeline__event--type2" *ngFor="let notification of NotificationsList" (click)="getSelectedNotificationNew(notification.NotificationID)">
        <!--escalation 31 January 2024-->
        <div class="timeline__event__icon">
          <div class="timeline__event__date">
            {{ notification.NotificationName }}
            <br>
            <span class="daysAgo">{{ getTimeAgo(notification.DateCreatedwithTIME) }}</span> <!--notifications Sindiswa 31 January 2024-->
          </div>
        </div>
        <div class="timeline__event__content">
          <div class="timeline__event__title">
            Application {{ notification.ApplicationID }}
          </div>
          <div class="timeline__event__description">
            <p *ngIf="notification.NotificationDescription === 'New wayleave application'">Application {{ notification.ApplicationID }} has been created on {{ notification.DateCreated }}</p>
            <p *ngIf="notification.NotificationDescription === 'Escalated wayleave application'">Application {{ notification.ApplicationID }} has been escalated on {{ notification.DateCreated }}</p>
            <p *ngIf="notification.NotificationDescription === 'Wayleave application assignment'|| notification.NotificationDescription === 'Application Assigned'">Application {{ notification.ApplicationID }} was assigned to you on the {{ notification.DateCreated }}</p>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <ng-template #noNotificationsText>
    <!-- Display centered text when the list is empty -->
    <br />
    <div class="centered-text">
      {{ OldNotificationsList.length === 0 ? 'You have no notifications' : 'You\'re all caught up' }}
    </div>
  </ng-template>
  <mat-tab label="Old Notifications">

    <!--<div class="timeline__event animated fade-in-bottom  timeline__event--type2seen" *ngFor="let notifications of OldNotificationsList" (click)="getSelectedNotification(notifications.ApplicationID)">-->
    <div *ngIf="OldNotificationsList && OldNotificationsList.length > 0; else noOldNotificationsText">
      <div class="timeline__event animated fade-in-bottom  timeline__event--type2seen" *ngFor="let notifications of OldNotificationsList" (click)="getSelectedNotificationNew(notifications.NotificationID)">
        <!--escalation 31 January 2024-->
        <div class="timeline__event__icon">
          <div class="timeline__event__date">
            {{notifications.NotificationName}}
            <br>
            <span class="daysAgo">  {{ getTimeAgo(notifications.DateCreatedwithTIME) }} </span> <!--notifications Sindiswa 31 January 2024-->
          </div>
        </div>
        <div class="timeline__event__content">
          <div class="timeline__event__title">
            Application {{notifications.ApplicationID}}
          </div>
          <div class="timeline__event__description">
            <p *ngIf="notifications.NotificationDescription === 'New wayleave application'">Application {{ notifications.ApplicationID }} has been created on {{ notifications.DateCreated }}</p>
            <p *ngIf="notifications.NotificationDescription === 'Escalated wayleave application'">Application {{ notifications.ApplicationID }} has been escalated on {{ notifications.DateCreated }}</p>
            <p *ngIf="notifications.NotificationDescription === 'Wayleave application assignment' || notifications.NotificationDescription === 'Application Assigned'">Application {{ notifications.ApplicationID }} was assigned to you on the {{ notifications.DateCreated }}</p>
          </div>

        </div>
      </div>
    </div>
    <ng-template #noOldNotificationsText>
      <br />
      <div class="centered-text">
        You have no viewed notifications.
      </div>
    </ng-template>
  </mat-tab>

</mat-tab-group>

<!--<div class="timeline">
 
  <div class="timeline__event  animated fadeInUp delay-3s timeline__event--type1">
    <div class="timeline__event__icon ">
      <i class="lni-cake"></i>
      <div class="timeline__event__date">
        20-08-2019
      </div>
    </div>
    <div class="timeline__event__content ">
      <div class="timeline__event__title">
        Birthday
      </div>
      <div class="timeline__event__description">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, nam! Nam eveniet ut aliquam ab asperiores, accusamus iure veniam corporis incidunt reprehenderit accusantium id aut architecto harum quidem dolorem in!</p>
      </div>
    </div>
  </div>
  <div class="timeline__event animated fadeInUp delay-2s timeline__event--type2">
    <div class="timeline__event__icon">
      <i class="lni-burger"></i>
      <div class="timeline__event__date">
        20-08-2019
      </div>
    </div>
    <div class="timeline__event__content">
      <div class="timeline__event__title">
        Lunch
      </div>
      <div class="timeline__event__description">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, nam! Nam eveniet ut aliquam ab asperiores, accusamus iure veniam corporis incidunt reprehenderit accusantium id aut architecto harum quidem dolorem in!</p>
      </div>
    </div>
  </div>





  <div class="timeline__event animated fadeInUp timeline__event--type1">
    <div class="timeline__event__icon">
      <i class="lni-cake"></i>
      <div class="timeline__event__date">
        20-08-2019
      </div>
    </div>
    <div class="timeline__event__content">
      <div class="timeline__event__title">
        Birthday
      </div>
      <div class="timeline__event__description">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, nam! Nam eveniet ut aliquam ab asperiores, accusamus iure veniam corporis incidunt reprehenderit accusantium id aut architecto harum quidem dolorem in!</p>
      </div>
    </div>
  </div>

</div>-->

<ng-template #Internal let-modal>
  <div class="modal-header">

    <div class=" notification-header">
      <div>
        <span style="font-size:35px;">{{this.MessageList.NotificationName}} - Application {{this.MessageList.ApplicationID}}</span>
      </div>
      <div>

        <p style="font-size:20px;">{{this.MessageList.NotificationDescription}}</p> <!--escalation Sindiswa 31 January 2024 - removed the word "Application" that was next to the description-->
      </div>
    </div>

    <button type="button" class="btn-close" aria-label="Close" (click)="onRefreshModal();close()"></button>
  </div>
  <div class="modal-body">
    <div class="email-body">
      <div class="email-content">
        <p>Dear  {{this.fullName}},</p>
        <p>{{this.MessageList.Message}}</p>

      </div>
    </div>
    <div class="modal-footer">
      <div class="email-footer">

        <img class="email-footer-logo" src='https://resource.capetown.gov.za/Style%20Library/Images/coct-logo@2x.png' alt="Wayleave Management System Logo" width="100">
        <p>Regards,<br>Wayleave Management System</p>
        <p>
          <a href="#">CCT Web</a> | <a href="#">Contacts</a> | <a href="#">Media</a> | <a href="#">Report a fault</a> | <a href="#">Accounts</a>
        </p>
      </div>
    </div>
  </div>
</ng-template>



<ng-template #External let-modal>
  <div class="modal-header">
    <h3>{{this.MessageList.NotificationName}}</h3>
    <h4>{{this.MessageList.NotificationDescription}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="onRefreshModal()"></button>
  </div>
  <div class="modal-body">
    <div class="email-body">
      <div class="email-content">
        <div class="email-content">
          <p>Dear   {{this.fullName}},</p>
          <p>{{this.MessageList.Message}}</p>
          <p>Should you have any queries, please contact us at <a href="mailto:wayleaves@capetown.gov.za">wayleaves@capetown.gov.za</a></p>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="email-footer">

        <img class="email-footer-logo" src='https://resource.capetown.gov.za/Style%20Library/Images/coct-logo@2x.png' alt="Wayleave Management System Logo" width="100">
        <p>Regards,<br>Wayleave Management System</p>
        <p>
          <a href="#">CCT Web</a> | <a href="#">Contacts</a> | <a href="#">Media</a> | <a href="#">Report a fault</a> | <a href="#">Accounts</a>
        </p>
      </div>
    </div>
  </div>
</ng-template>
