.confirm-dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

  .confirm-dialog h3 {
    margin-bottom: 20px;
  }

  .confirm-dialog .actions {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

.no-button, .yes-button {
  background-color: #005870;
  color: #fff;
}

  .yes-button:hover {
    background-color: #9d2235;
  }

  .no-button:hover {
    background-color: #446414;
  }
