<div class="container-fluid">




  <!--Displaying the applicants information into textboxes-->

  <div class="row">
    <div class="col">
      <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" id="Name" placeholder="Enter First Name" name="name" disabled>
        <label for="name">Name</label>
      </div>
    </div>

    <div class="col">
      <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" id="Surname" placeholder="Enter Surname" name="surname" disabled>
        <label for="name">Surname</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" id="Address" placeholder="Enter Address" name="address" disabled>
        <label for="name">Department</label>
      </div>
    </div>

    <div class="col">
      <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" id="Email" placeholder="Enter Email" name="email" disabled>
        <label for="name">Branch</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" id="Address" placeholder="Enter Address" name="address" disabled>
        <label for="name">Cost Center Number</label>
      </div>
    </div>

    <div class="col">
      <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" id="Email" placeholder="Enter Email" name="email" disabled>
        <label for="name">Cost Center Owner</label>
      </div>
    </div>
  </div>

</div>
