
<button mat-raised-button color="blue" (click)="openNewTask(newTask)">Create New Task</button>

<table mat-table [dataSource]="dataSourceTasks" class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="Tasks" class="approve">
    <th mat-header-cell *matHeaderCellDef>Tasks</th>
    <td mat-cell *matCellDef="let element">{{element.Task}}</td>

  </ng-container>

  <ng-container matColumnDef="Department" class="approve">
    <th mat-header-cell *matHeaderCellDef>Department</th>
    <td mat-cell *matCellDef="let element">{{element.Department}}</td>

  </ng-container>
  <!-- Indication Column -->
  <!--<ng-container matColumnDef="Checked">
    <th mat-header-cell *matHeaderCellDef>Checked By</th>
    <td mat-cell *matCellDef="let element">
      <div class="contIndication">-->
  <!--   <i class="fa fa-thumbs-up greenThumbsUp" aria-hidden="true" *ngIf=" element.commentStatus === FinalApproved"></i>-->
  <!--   <img src="assets/fontawesome-free-6.4.2-web/svgs/regular/" class="icon2" *ngIf="element.isChecked == true">-->
  <!--<i class="fa fa-check-circle icon2" aria-hidden="true" *ngIf="element.isChecked == true"></i>
  <p class="">{{element.CheckedBy}}</p>-->
  <!-- projectTracker Sindiswa 12 January 2024 -->
  <!--</div>
    </td>
  </ng-container>-->

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let i = index let element">
      <button mat-raised-button color="blue" (click)="checkTask(i)" matTooltip="Complete Task" *ngIf="element.isChecked != true"><i class="fa fa-check green" aria-hidden="true"></i></button>
      <i class="fa fa-check-circle icon2" aria-hidden="true" *ngIf="element.isChecked == true"></i>
      <p class="" *ngIf="element.isChecked == true">{{element.CheckedBy}}</p>

    </td>
    <td mat-cell *matCellDef="let element">  </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumnsTasks"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumnsTasks;"></tr>

</table>


<!--creating a new task for the application, only seen by the building inspector-->
<ng-template let-modal #newTask>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create New Task For Application</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>

  <div class="modal-body">
    <div class="row">
      <mat-form-field>
        <mat-select [(ngModel)]="selectedDepartment" placeholder="Select a department to assign the task to">
          <mat-option *ngFor="let department of DepartmentsList" [value]="department.DepartmentName">{{department.DepartmentName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-floating mb-3 mt-3">
          <input type="text" class="form-control" id="taskFor" [(ngModel)]="taskFor" placeholder="Slecet who the task is for" name="taskFor">
          <label for="taskFor">Who is this task for </label>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="form-floating mb-3 mt-3">
          <input type="text" class="form-control" id="taskName" [(ngModel)]="taskName" placeholder="Describe the task" name="taskName">
          <label for="taskName">Task</label>
        </div>
    </div>
  </div>

  <div class="modal-footer">
    <button mat-raised-button color="green" (click)="addNewTask()">Save</button>
  </div>
</ng-template>
