#coordinateInput {
  display: none;
}
.floating-button2 {
  position: fixed;
  top: 50px;
  left: 16px;
  z-index: 1; /* Ensure it's above other content, adjust as needed */
}
.mat-draft {
  background-color: #ffefcb;
  color: #d78900de;
  height: 51px;
  margin-top: 27px;
  font-size: 16px;
}
