<div class="main">

  <!-- Display File Name -->
  <span *ngIf="fileName" style="grid-column: 1;" class="fileName">{{ fileName }}</span>

  <!-- Drag and Drop Section -->
  <div class="drop-section" [ngClass]="{'drag-over': isActiveDropArea}"
       (dragover)="dragOver($event)"
       (dragenter)="dragEnter($event)"
       (dragleave)="dragLeave($event)"
       (drop)="drop($event)"
       *ngIf="!fileName"
       style="grid-column: 1;">
    <div class="icon-area" *ngIf="!isActiveDropArea">
      <i class="fa fa-cloud" aria-hidden="true"></i>
    </div>
    <div class="text-area">
      <span *ngIf="!isActiveDropArea">Drag and drop here/Click the upload button to browse and upload</span>
      <span *ngIf="isActiveDropArea">Release to upload file</span>
    </div>
  </div>

  <!-- Input File Element -->
  <input type="file" #file style="display: none;" (change)="uploadFile(file.files)" [value]="''">

  <!-- Upload Button -->
  <button *ngIf="!fileName" mat-raised-button color="btn" matTooltip="Upload File" matTooltipPosition="above"
          type="button" (click)="file.click()">
    <img src="assets/fontawesome-free-6.4.2-web/svgs/solid/upload.svg" class="icon4">
  </button>

  <!-- Delete Button -->
  <button *ngIf="fileName" mat-icon-button color="warn" style="grid-column: 3;" (click)="onDeleteFile()">
    <mat-icon>delete</mat-icon>
  </button>
</div>
