table {
  width: 100%;
  margin-top:10px;
  margin-bottom: 30px;
}
.mat-green {
  background-color: #446414;
  color: #fff;
  margin: 10px;
}
.mat-success {
  background-color: #446414;
  color: #fff;
}
.mat-column-idNumber {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 8% !important;
  width: 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-form-field {
  /*  margin: 10px 0;*/
  width: 100%;
}

.mat-column-fullName {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 8% !important;
  width: 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-actions {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 8% !important;
  width: 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  text-align: center;
}
.mat-create {
  background-color: #005870;
  color: #fff;
}
.mat-orange {
  background-color: #ff9900;
  color: #fff;
}
.outlined-select {
  border: 1px solid #000; /* Add the desired border properties */
  border-radius: 4px; /* Add rounded corners if needed */
  padding: 5px; /* Add padding for spacing */
}
