table {
  width: 100%;
  margin-top:10px;
  margin-bottom: 30px;
}
.mat-green {
  background-color: #446414;
  color: #fff;
  margin: 10px;
}
.mat-success {
  background-color: #446414;
  color: #fff;
}
.mat-column-idNumber {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 8% !important;
  width: 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-form-field {
  /*  margin: 10px 0;*/
  width: 100%;
}

.mat-column-fullName {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 8% !important;
  width: 27% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-subdepartmentName {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 8% !important;
  width: 27% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-zoneName {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 8% !important;
  width: 27% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-actions {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 8% !important;
  width: 19% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  text-align: center;
  /* Add the following styles for the new layout 
  display: flex;
  flex-direction: column;*/
}
  .mat-column-actions .action-buttons-container {
    display: flex;
    flex-direction: column;
  }

  .mat-column-actions .button-group {
    display: flex;
    justify-content: space-around;
    margin: 5px; /* Adjust as needed */
  }
.mat-create {
  background-color: #005870;
  color: #fff;
}
.mat-orange {
  background-color: #ff9900;
  color: #fff;
}
.outlined-select {
  border: 1px solid #000; /* Add the desired border properties */
  border-radius: 4px; /* Add rounded corners if needed */
  padding: 5px; /* Add padding for spacing */
}
.container02 {
  display: flex;
  align-items: baseline;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-evenly;
}
.mat-blue {
  background-color: #20c997;
  color: #fff;
}


.mat-filter {
  font-size: 28px;
  text-align: center;
  color: #005870;
}
.filterValue {
  display: flex;
  justify-content: space-evenly;
  font-size: 16px;
  color: #808080b0;
  margin-bottom: 10px;
  margin-top: -8px;
}
.filterText {
  margin-right: 10px; /* Adjust the margin as needed to separate the text and button */
}
.cont6 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}
.container003 {
  display: flex;
  justify-content: space-evenly;
}
.row {
  display: flex !important;
  justify-content: space-between !important;
}

.col {
  display: flex !important;
  flex-direction: column !important;
  flex-basis: 100% !important;
  width: auto !important; /* or adjust width as needed */
}

  .col button {
    margin-bottom: 5px !important;
    margin-top: 5px !important;
  }

.loading-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255 255 255);
  z-index: 9999;
  animation: fadein 0.5s linear forwards;
}

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.logo2 {
  width: 252px;
  height: 252px;
  animation: spin 4s linear infinite;
}
