<div class="container-fluid">
  <br />
  <!--<button mat-raised-button color="create" (click)="openNewUserModal(newUser)">Create a new EMB profile</button>-->
  <span *ngIf="!isEMBAdmin">  <button mat-raised-button color="create" (click)="addNewDepartmentUser();openNewUserModal(newUser)">Create a new {{this.loggedInUserDepartmentName}} profile</button></span>
  <span *ngIf="isEMBAdmin"> <button mat-raised-button color="create" (click)="addNewDepartmentUser();openNewUserModal(newUser)">Create a new internal user profile</button></span>
  &nbsp;
  <button mat-raised-button color="create" (click)="openAllUsersModal(allUsers)">Show linked profiles</button>

  <ng-container *ngIf="dataSourceLinkUsers.length > 0; else noUsersMessage">
    <table mat-table [dataSource]="dataSourceLinkUsers" class="mat-elevation-z8">
      <!--*ngIf="showZoneUserTable"-->

      <ng-container matColumnDef="idNumber">
        <th mat-header-cell *matHeaderCellDef> ID Number </th>
        <td mat-cell *matCellDef="let element"> {{element.idNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef> User Name </th>
        <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
      </ng-container>

      <ng-container matColumnDef="zoneName">
        <th mat-header-cell *matHeaderCellDef> Zone Name </th>
        <td mat-cell *matCellDef="let element"> {{element.zoneName}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let i = index">

          <button mat-raised-button color="warn" (click)="rejectUser(i)">Decline</button>
          <button mat-raised-button color="green" (click)="openAssignModal(content,i)">Approve</button>

        </td>

      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumnsLinkUsers"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsLinkUsers;"></tr>
    </table>
  </ng-container>
  <ng-template #noUsersMessage>
    <hr />
    <p>There are no new users needing approval at the moment.</p>
  </ng-template>



</div>

<!--Assign the user to an access group-->
<!--IS NOT PRETTY BUT FUNCTIONAL-->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Accept the user into department</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="prompt">
      <p>Select Access Group(s) For The User</p>
    </div>
    <div *ngFor="let accessGroup of AccessGroupList">
      <label>
        <input type="checkbox" [value]="accessGroup.AccessGroupID" (change)="getAccesGroupID($event)"> {{ accessGroup.AccessGroupName }}
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="approveTheUser();modal.close('Save click')">Save</button>
  </div>
</ng-template>



<!--create a new user-->
<ng-template #newUser let-modal>
  <div class="modal-header">
    <h4 class="modal-title" *ngIf="!isEMBAdmin" id="modal-basic-title">Add a new user to the {{this.loggedInUserDepartmentName}} department</h4>
    <h4 class="modal-title" *ngIf="isEMBAdmin" id="modal-basic-title">Add a new user to a department</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="clearFormFields();modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">

    <div class="row">
      <div class="col" *ngIf="!isEMBAdmin">
        <div class="form-floating mb-3 mt-3">
          <mat-select [(ngModel)]="selectedSubdepartment" placeholder="Select a subdepartment" (ngModelChange)="onSubdepartmentChange()" [ngModelOptions]="{standalone: true}">
            <mat-option *ngFor="let subdepartment of SubDepartmentList" [value]="subdepartment.SubDepartmentID">{{ subdepartment.SubDepartmentName }}</mat-option>
          </mat-select>
        </div>
      </div>
      <div class="col" *ngIf="isEMBAdmin">
        <div class="form-floating mb-3 mt-3">
          <mat-select [(ngModel)]="selectedSubdepartment" placeholder="Select a subdepartment" (ngModelChange)="onSubdepartmentChange()" [ngModelOptions]="{standalone: true}">
            <mat-option *ngFor="let subdepartment of AllSubDepartmentList" [value]="subdepartment.SubDepartmentID">{{ subdepartment.SubDepartmentName }}</mat-option>
          </mat-select>
        </div>
      </div>
      <div class="col">
        <div class="form-floating mb-3 mt-3">
          <mat-select [(ngModel)]="selectedZone" placeholder="Select a zone" [ngModelOptions]="{standalone: true}">
            <mat-option *ngFor="let zone of ZonesList" [value]="zone.ZoneID">{{ zone.ZoneName }}</mat-option>
          </mat-select>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col">
        <div class="form-floating mb-3 mt-3">
          <input type="text" class="form-control" [(ngModel)]="newName" placeholder="Enter First Name">
          <label for="name">Name *</label>
        </div>
      </div>
      <div class="col">
        <div class="form-floating mb-3 mt-3">
          <input type="text" class="form-control" [(ngModel)]="newSurname" placeholder="Enter Surname">
          <label for="surname">Surname *</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-floating mb-3 mt-3">
          <input type="text" class="form-control" [(ngModel)]="newCostCenterOwner" placeholder="Enter Cost Center Owner">
          <label for="applicantTellNo">Cost Center Owner *</label>
        </div>
      </div>
      <div class="col">
        <div class="form-floating mb-3 mt-3">
          <input type="email" class="form-control" [(ngModel)]="newCostCenterNumber" placeholder="Enter Cost Center Number">
          <label for="newCostCenterNumber">Cost Center Number *</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-floating mb-3 mt-3">
          <input type="tel" class="form-control" [(ngModel)]="newPhoneNumber" placeholder="Enter Tell No.">
          <label for="newPhoneNumber">Tell No *</label>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col">
            <div class="input-group form-floating mb-3 mt-3">
              <input type="email" class="form-control" [(ngModel)]="newEmail" placeholder="Enter Email Address">
              <span class="input-group-text">@capetown.gov.za</span>
              <label for="newEmail">Email *</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="addingTheUser(viewDepartmentPerson);modal.close('Save click')">Save</button>
  </div>
</ng-template>

<!--Add a linked user to another zone-->
<ng-template #addToZones let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add <b>{{ this.selectedUserName}}</b> to a different zone in the <b>{{this.theSubDepartmentName}}</b></h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">

    <div class="row">

      <div class="col">
        <div class="form-floating mb-3 mt-3">
          <mat-select [(ngModel)]="theirSelectedZone" placeholder="Select a zone" [ngModelOptions]="{standalone: true}" class="outlined-select">
            <mat-option *ngFor="let zone of TheirZonesList" [value]="zone.ZoneID">{{ zone.ZoneName }}</mat-option>
          </mat-select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-floating mb-3 mt-3">
          <input type="text" class="form-control" [(ngModel)]="theirName" disabled>
          <label for="name">Name </label>
        </div>
      </div>
      <div class="col">
        <div class="form-floating mb-3 mt-3">
          <input type="text" class="form-control" [(ngModel)]="theirSurname" disabled>
          <label for="surname">Surname </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col" >
        <div class="form-floating mb-3 mt-3">
          <input type="text" class="form-control" [(ngModel)]="theirCostCenterOwner" disabled >
          <label for="applicantTellNo">Cost Center Owner</label>
        </div>
      </div>
      <div class="col">
        <div class="form-floating mb-3 mt-3">
          <input type="email" class="form-control" [(ngModel)]="theirCostCenterNumber" disabled>
          <label for="newCostCenterNumber">Cost Center Number </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-floating mb-3 mt-3">
          <input type="tel" class="form-control" [(ngModel)]="theirPhoneNumber" disabled>
          <label for="newPhoneNumber">Tell No </label>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="email" class="form-control" [(ngModel)]="theirEmail" disabled>
              <label for="newEmail">Email </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="addToMoreZones2(viewDepartmentPerson);modal.close('Save click')">Save</button>
  </div>
</ng-template>

<!--Add a linked user to another department maybe because you're EMB-->
<ng-template #addToNewDepartment let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add <b>{{ this.selectedUserName}}</b> to a different department or zone</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">

    <div class="row">
      <div class="col">
        <div class="form-floating mb-3 mt-3">
          <mat-select [(ngModel)]="selectedSubdepartment" placeholder="Select a subdepartment" [ngModelOptions]="{standalone: true}" class="outlined-select" (selectionChange)="onSubdepartmentChange()">
            <mat-option *ngFor="let department of AllSubDepartmentList" [value]="department.SubDepartmentID">{{department.SubDepartmentName}}</mat-option>
          </mat-select>
        </div>
      </div><div class="col">
        <div class="form-floating mb-3 mt-3">
          <mat-select [(ngModel)]="selectedZone" placeholder="Select a zone" [ngModelOptions]="{standalone: true}" class="outlined-select">
            <mat-option *ngFor="let zone of ZonesList" [value]="zone.ZoneID">{{ zone.ZoneName }}</mat-option>
          </mat-select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-floating mb-3 mt-3">
          <input type="text" class="form-control" [(ngModel)]="theirName" disabled>
          <label for="name">Name </label>
        </div>
      </div>
      <div class="col">
        <div class="form-floating mb-3 mt-3">
          <input type="text" class="form-control" [(ngModel)]="theirSurname" disabled>
          <label for="surname">Surname </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-floating mb-3 mt-3">
          <input type="text" class="form-control" [(ngModel)]="theirCostCenterOwner" disabled>
          <label for="applicantTellNo">Cost Center Owner</label>
        </div>
      </div>
      <div class="col">
        <div class="form-floating mb-3 mt-3">
          <input type="email" class="form-control" [(ngModel)]="theirCostCenterNumber" disabled>
          <label for="newCostCenterNumber">Cost Center Number </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-floating mb-3 mt-3">
          <input type="tel" class="form-control" [(ngModel)]="theirPhoneNumber" disabled>
          <label for="newPhoneNumber">Tell No </label>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="email" class="form-control" [(ngModel)]="theirEmail" disabled>
              <label for="newEmail">Email </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="saveAddToMoreDeparts(viewDepartmentPerson);modal.close('Save click')">Save</button>
  </div>
</ng-template>

<!--I want to show the user, be able to select one and change access group and "zone" on a whim?-->
<ng-template #allUsers let-modal>

  <div class="modal-header">
    <div *ngIf="!isEMBAdmin"><h4 class="modal-title" id="modal-basic-title">The <b>{{this.loggedInUserDepartmentName}}</b> department's user list</h4></div>
    <div *ngIf="isEMBAdmin"> <h4 class="modal-title" id="modal-basic-title">Internal User List</h4></div>
    <button type="button" class="btn-close" aria-label="Close" (click)="onFilterButtonClick();onUnselection();modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">

    <div *ngIf="isEMBAdmin" class="filter-users">
      <div class="container02">
        <button mat-button [matMenuTriggerFor]="linkedUsers" matTooltip="Filter ITO departments" color="filter" aria-label="" (click)="onFilterButtonClick()">
          <img src="assets/fontawesome-free-6.4.2-web/svgs/regular/filter-solid.svg" class="icon">
        </button>
        <button mat-button matTooltip="Filter ITO zones and access groups" color="filter" aria-label="" (click)=" openFilterModal(moreFilter)">
          <img src="assets/fontawesome-free-6.4.2-web/svgs/solid/sliders.svg" class="icon" style="fill: #005870 !important;">
        </button>
        <button mat-button matTooltip="Undo all filtering" color="filter" aria-label="" (click)="onFilterButtonClick()">
          <img src="assets/fontawesome-free-6.4.2-web/svgs/solid/arrow-rotate-left.svg" class="icon" style="fill: #005870 !important;">
        </button>


        <mat-menu #linkedUsers="matMenu">
          <ng-container *ngFor="let department of DepartmentList">
            <button mat-menu-item (click)="onFilterByDepartment(department)" value="{{department.departmentID}}">{{ department.departmentName }}</button>
          </ng-container>
        </mat-menu>
        <mat-form-field appearance="outline">
          <mat-label>Search</mat-label>
          <div class="cont6">
            <!--TODO: check which list the textbox filter pulls from-->
            <input matInput placeholder="Search By Internal User Name" (keyup)="applyFilter($event)" #input>
            <img src="assets/fontawesome-free-6.4.2-web/svgs/regular/magnifying-glass-solid.svg" class="icon3">
          </div>

        </mat-form-field>

        <!--C:\CyberfoxProjects\WayleaveManagementSystem\ClientApp\src\assets\fontawesome-free-6.4.2-web\svgs\solid\user-group.svg-->
      </div>
      <div *ngIf="DepartFilter" class="filterValue">
        <p class="filterText">You Are Currently Viewing {{FilterValue}} Users </p>

        <!--<button mat-button color="primary" (click)="showAccessGroups()">
          <img src="assets/fontawesome-free-6.4.2-web/svgs/solid/user-group.svg" class="icon">
        </button>-->

      </div>
      <div *ngIf="multiFilter" class="filterValue">
        <p class="filterText">{{FilterValue}}</p>

        <!--<button mat-button color="primary" (click)="showAccessGroups()">
          <img src="assets/fontawesome-free-6.4.2-web/svgs/solid/user-group.svg" class="icon">
        </button>-->

      </div>

    </div>
    <div *ngIf="!isEMBAdmin">
      <div class="container02">
        <button mat-button [matMenuTriggerFor]="asPerAccessGroup" matTooltip="access group filter" color="filter" aria-label="" (click)="onFilterButtonClick()">
          <img src="assets/fontawesome-free-6.4.2-web/svgs/solid/user-group.svg" class="icon">
        </button>
        <button mat-button [matMenuTriggerFor]="asPerZone" matTooltip="zone filter" color="filter" aria-label="" (click)="onFilterButtonClick()">
          <img src="assets/fontawesome-free-6.4.2-web/svgs/solid/house.svg" class="icon">
        </button>
        <button mat-button matTooltip="Undo all filtering" color="filter" aria-label="" (click)="onFilterButtonClick()">
          <img src="assets/fontawesome-free-6.4.2-web/svgs/solid/arrow-rotate-left.svg" class="icon">
        </button>

        <mat-menu #asPerZone="matMenu">
          <ng-container *ngFor="let zone of LoggedInUserDptZones">
            <button mat-menu-item (click)="onFilterByZone(zone)" value="{{zone.ZoneID}}">{{ zone.ZoneName }}</button>
          </ng-container>
        </mat-menu>
        <mat-menu #asPerAccessGroup="matMenu">
          <ng-container *ngFor="let group of AccessGroupsForFilter">
            <button mat-menu-item (click)=" onFilterByAccessGroup(group)" value="{{group.AccessGroupID}}">{{ group.AccessGroupName }}</button>
          </ng-container>
        </mat-menu>

        <mat-form-field appearance="outline">
          <mat-label>Search</mat-label>
          <div class="cont6">
            <input matInput placeholder="Search by {{this.loggedInUserDepartmentName}} department user name." (keyup)="applyFilter($event)" #input>
            <img src="assets/fontawesome-free-6.4.2-web/svgs/regular/magnifying-glass-solid.svg" class="icon3">
          </div>
        </mat-form-field>
      </div>
      <div *ngIf="isAGFilter" class="filterValue">
        <p class="filterText">You are currently viewing users in the {{selectedAG}} access group.</p>
      </div>
      <div *ngIf="isZoneFilter" class="filterValue">
        <p class="filterText">You are currently viewing users from {{selectedZoneF}} of the {{coincidentallySelectedSubDept}} sudepartment.</p>
      </div>
    </div>
    <table mat-table [dataSource]="dataSourceZoneLink" class="mat-elevation-z8">
      <!--*ngIf="showZoneUserTable"-->

      <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef> User Name </th>
        <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
      </ng-container>

      <ng-container matColumnDef="departmentName">
        <th mat-header-cell *matHeaderCellDef> Department Name </th>
        <td mat-cell *matCellDef="let element"> {{element.departmentName}} </td>
      </ng-container>

      <ng-container matColumnDef="subdepartmentName">
        <th mat-header-cell *matHeaderCellDef> Subdepartment Name </th>
        <td mat-cell *matCellDef="let element"> {{element.subdepartmentName}} </td>
      </ng-container>
      <ng-container matColumnDef="zoneName">
        <th mat-header-cell *matHeaderCellDef> Zone Name </th>
        <td mat-cell *matCellDef="let element"> {{element.zoneName}} </td>
      </ng-container>

      <ng-container matColumnDef="isDepartmentAdmin">
        <th mat-header-cell *matHeaderCellDef> Department Admin </th>
        <td mat-cell *matCellDef="let element"> {{element.isDepartmentAdmin}} </td>
      </ng-container>

      <ng-container matColumnDef="isZoneAdmin">
        <th mat-header-cell *matHeaderCellDef> Zone Admin </th>
        <td mat-cell *matCellDef="let element"> {{element.isZoneAdmin}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let i = index" class="action-buttons-container">

          <div class="button-group">
            <!--The button below is only for viewing purposes-->
            <button mat-raised-button color="blue" matTooltip="View ALL User Access Group Links" (click)="editUserScopeManyZones(i, departmentPersonZones); modal.close('Save click')">
              <img src="assets/fontawesome-free-6.4.2-web/svgs/regular/eye-solid-white.svg" class="icon">
            </button>

            <button mat-raised-button color="orange" matTooltip="View and Edit User" (click)="editUserScope(i, viewDepartmentPerson); modal.close('Save click')">
              <img src="assets/fontawesome-free-6.4.2-web/svgs/regular/pencil-solid.svg" class="icon">
            </button>
          </div>

          <div class="button-group">
            <button mat-raised-button *ngIf="!isEMBAdmin" color="success" matTooltip="Add User to another Zone" (click)="addToMoreZones(i, addToZones);modal.close('Save click')">
              <img src="assets/fontawesome-free-6.4.2-web/svgs/regular/link-solid.svg" class="icon">
            </button>
            <button mat-raised-button *ngIf="isEMBAdmin" color="success" matTooltip="Add User to Department and/or Zone" (click)="addToMoreDeparts(i, addToNewDepartment);modal.close('Save click')">
              <img src="assets/fontawesome-free-6.4.2-web/svgs/regular/link-solid.svg" class="icon">
            </button>
            <button mat-raised-button color="warn" matTooltip="Unlink User" (click)="removeUserFromDPT(i,allUsers);">
              <img src="assets/fontawesome-free-6.4.2-web/svgs/regular/link-slash-solid-white.svg" class="icon red">
            </button>
            <button *ngIf="isEMBAdmin" mat-raised-button color="warn" matTooltip="ADD TO EVERYTHING ELSE" (click)="addUserToAlles(i);" hidden>
              <img src="assets/fontawesome-free-6.4.2-web/svgs/solid/skull-crossbones.svg" class="icon red">
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsZoneLinks"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsZoneLinks;"></tr>
    </table>
  </div>


  <!--<div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="modal.close('Save click')">Save</button>
  </div>-->
</ng-template>

<ng-template #moreFilter let-modal>
  <div class="modal-header">
    <h3 class="modal-title" id="modal-basic-title">Filter the internal user list</h3>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click');onFilterButtonClick();clearFormFields();"></button> <!-- departmentManager Sindiswa 22 January 2024-->
  </div>
  <div class="modal-body">
    <div class="row">
      <mat-form-field>
        <mat-label>Select A Subdepartment</mat-label>
        <mat-select [(value)]="selectedSubdepartment" (selectionChange)="onSubdepartmentChange()">
          <mat-option *ngFor="let department of AllSubDepartmentList" value="{{department.SubDepartmentID}}">{{department.SubDepartmentName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>Select A Zone</mat-label>
        <mat-select [(value)]="selectedZone">
          <mat-option *ngFor="let zone of ZonesList" value="{{zone.ZoneID}}">{{zone.ZoneName}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="row">
        <mat-form-field>
          <mat-label>Select An Access Group</mat-label>
          <mat-select [(value)]="selectAG" (selectionChange)="onAccessGroupChange()">
            <mat-option value="all">All Access Groups</mat-option>
            <mat-option *ngFor="let access of AccessGroupList" value="{{access.AccessGroupID}}">{{access.AccessGroupName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="onMultiFilterChoices(allUsers);modal.close('Save click')">Filter</button>
  </div>
</ng-template>

<ng-template #viewDepartmentPerson let-modal>
  <div class="modal-header">
    <h3 class="modal-title" id="modal-basic-title">{{this.selectedUserName}} | {{this.theirSelectedSubDepartment}}, {{this.theirSelectedZoneName}} </h3>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click');onUnselection();"></button>
  </div>
  <div class="modal-body">
    <table class="table">
      <thead>
        <tr>
          <th>Access Groups</th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let access of AccessGroupList; let i = index">
          <td>{{ access.AccessGroupName }}</td>
          <td>
            <button class="btn btn-danger" (click)="removeFromAccessGroup(i)" *ngIf="isUserInAccessGroup(access.AccessGroupID)"> - </button>
            <button class="btn btn-success" (click)="addToAccessGroup(i, viewDepartmentPerson);modal.close('Save click')" *ngIf="!isUserInAccessGroup(access.AccessGroupID)"> + </button>
          </td>
        </tr>
      </tbody>
    </table>
    <br /> 
  </div>
</ng-template>

<!--WELP, YOU CAN ONLY VIEW THEM HERE-->
<ng-template #departmentPersonZones let-modal>
  <div class="modal-header">
    <h3 class="modal-title" id="modal-basic-title">You're currently viewing {{this.selectedUserName}}'s zone links and access groups in {{this.subDeptName}}.</h3>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click');onUnselection() "></button>
  </div>
  <div class="modal-body" *ngIf="!isLoading">
    <mat-tab-group (selectedTabChange)="onTabChange($event)">

      <ng-container>
        <ng-container>
          <mat-tab *ngFor="let zone of ZonesList" label="{{ zone.ZoneName }}">
            <!-- Zone-specific information -->
    
            <div *ngIf="zone.isLinked" (click)="getZoneAccessGroups(zone.ZoneID)">
              <!-- Display zone-specific information here if user is linked to this zone-->
              <div>
                <table class="table">
                  <thead>
                    <tr>
                      <th>Access Groups</th>
                      <th> </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let access of AccessGroupList; let i = index">
                      <td>{{ access.AccessGroupName }}</td>
                      <td>

                        <!-- For the minus button -->
                        <button class="btn btn-success" *ngIf="isUserInAccessGroup(access.AccessGroupID)" [disabled]="true">
                          &#10003; <!-- Unicode check (tick) character -->
                        </button>

                        <!-- For the plus button -->
                        <button class="btn btn-danger" style="background-color: gray;" *ngIf="!isUserInAccessGroup(access.AccessGroupID)" [disabled]="true">
                          &#10005; <!-- Unicode cross character -->
                        </button>

                      </td>
                    </tr>
                  </tbody>
                </table>

              </div>
              <br />
            </div>
            <div *ngIf="!zone.isLinked">
              User has not been linked to this zone.
            </div>
          </mat-tab>
        </ng-container>
      </ng-container>
    </mat-tab-group>
  </div>
  <div class="modal-body loading-screen" *ngIf="isLoading" id="loadingScreen">
    <img src="assets/Loading.png" alt="" class="logo2">
  </div>
</ng-template>
