/* You can add global styles to this file, and also import other style files */
@import '~quill/dist/quill.bubble.css';

.sideNavIcons:hover {
  background-color: #8787872e;
}
@media(prefers-color-scheme:dark) {
    *{
        color:white !important;
    }
  .fa-bars {
    color: white !important;
  }
  .mat-stepper-horizontal[_ngcontent-ng-cli-universal-c416], .mat-stepper-vertical[_ngcontent-ng-cli-universal-c416] {
    background: #323e4e !important;
  }
  .example-sidenav {
    background-color: #2f3a49;
  }
  .loading-screen {
    background-color: #2f3a49;
  }
  .nav {
    background-color: #2f3a49;
  }
  body {
    background: #323e4e;
    color:white !important;
  }
  :root {
    background: #323e4e;
    color: white !important;
  }
  .container {
    background-color: #323e4e;
  }
  .backgroundWLMS{
    width: 100%;
    height: 470px;
    position: absolute;
    background-image: url('assets/pietermaritzburg-modified-12.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    box-shadow: none;
    background-clip: content-box;
  }
  .offcanvas-menu {
    background-color: #323e53 !important;
  }


  table {
    border-spacing: 0;
    background: #425166 !important;
    color: white !important;
  }

  input {
    background: #425166 !important;
    color: white !important;
    border-color: #1b222b8c !important;
  }

  .mat-input {
    font: inherit;
    background: rgb(50 62 78) !important;
    color: currentColor;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
    vertical-align: bottom;
    text-align: inherit;
    box-sizing: content-box;
    caret-color: rgb(50 62 78) !important;
  }

  .mat-menu-panel {
    background: #323e4e !important
  }

  .modal-content {
    background: #323e4e !important
  }

  .mat-horizontal-stepper-wrapper.ng-tns-c133-22.ng-star-inserted {
    background: #323e4e !important;
  }

  :host ::ng-deep.mat-horizontal-stepper.ng-tns-c133-20.mat-stepper-horizontal.mat-stepper-label-position-end.ng-star-inserted {
    background: #323e4e !important;
  }

  .offcanvas {
    background: #323e4e !important
  }

  mat-dialog-container#mat-dialog-0 {
    background: #323e4e !important
  }

  .button:hover {
    background: #3e4c5f !important
  }

  tr:hover {
    background: #3e4c5f !important
  }

  .mat-select-panel {
    background: #576b86;
  }

  .mat-toolbar {
    background: #323e4e !important;
  }

  .mat-checkbox-checked {
    background-color: #323e4e00 !important;
  }

  .mat-paginator-container {
    background: #323e4e !important;
  }

  .card {
    box-shadow: 0 4px 8px 0 #262626, 0 6px 20px 0 #71717100;
    margin: 20px;
    border-color: #0f8187;
    background-color: #0f8187;
    margin-bottom: 50px;
    margin-top: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .mat-expansion-panel {
    background: #425166;
  }
}

@media(prefers-color-scheme:light) {
  .fa-bars{
      color:black !important;
  }
  .card {
    box-shadow: 0 4px 8px 0 #26262661, 0 6px 20px 0 #71717100 !important;
    background-color: #99d1d4 !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
  }
  .mat-stepper-horizontal[_ngcontent-ng-cli-universal-c416], .mat-stepper-vertical[_ngcontent-ng-cli-universal-c416] {
    background: white !important;
  }
  .example-sidenav-content {
    background-color: rgb(255 255 255 / 0%) !important;
  }
  .example-sidenav {
    background-color: white;
  }
  .loading-screen {
    background-color: white;
  }
  .nav {
    background-color: white;
  }
  :root {
    --base: #d7d7d7;
    --text: black !important;
    color: black !important;
  }

  .container {
    background-color: white;
  }

  .backgroundWLMS {
    width: 100%;
    height: 581px;
    position: absolute;
    background-image: url('assets/pietermaritzburg-modified-12(light).png.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    box-shadow: none;
    background-clip: content-box;
  }
  body {
    background: #ffffff00;
    color:black !important;
  }
  .mat-tab-labels {
    background-color: #eaeaea !important;
  }
}

.light {
  --base: #d7d7d7;
  --text: #323e4e00;
}
.dark {
  --base: #323e4e;
  --text: #fff;
}
[data-theme="light"] {
    color-scheme:light;
  --base: #d7d7d7;
  --text: #323e4e00;
}
[data-theme="dark"] {
  color-scheme:dark;
  --base: #323e4e;
  --text: #fff;
}

html {
  color-scheme: dark light;
}
/* OR ??
   @import '~quill/dist/quill.snow.css'; */
/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}



.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.green-snackbar {
  font-size: 15px;
  font-weight: bold;
  background: #cee2cc00;
}


body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
/*  background: #323e4e;*/
}
.mat-tab-labels {
  display: flex;
  justify-content: space-between;
}

::-webkit-scrollbar{
    width:12px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 255, 0);
  border-radius: 20px;
  margin-block:10px;
}

::-webkit-scrollbar-thumb {
    background-color:#6b767998;
    border-radius: 20px;
}

.icon {
  width: 15px;
  height: 30px;

}
.icon2 {
    margin:5px;
  height: 30px;

}.icon3 {

  height: 20px;

}
.icon4 {
  height: 16px;
}
.blue{

}
.red {
  fill: #aa0000;
}
.white {
    fill: #ffffff;
}

.green-snackbar {
  text-align: center !important;
  border-radius: 91px !important;
  /* box-sizing: initial !important; */
  margin-top: -5px !important;
  /* max-width: 33vw; */
  min-width: 240px !important;
  /* padding: 0; */
  min-height: 3px !important;
  position: absolute;
  background: #cee2cc00;
  color: #137000;
  box-shadow: none;
  right: 31px;
}

.red-snackbar {
  text-align: center !important;
  border-radius: 91px !important;
  /* box-sizing: initial !important; */
  margin-top: 10px !important;
  /* max-width: 33vw; */
  min-width: 240px !important;
  /* padding: 0; */
  min-height: 3px !important;
  position: static;
  background: #e2cccc;
  color: #700000;
}
/** {
  background: #323e4e00;
  color: white !important;
}*/
.yellow-snackbar {
  text-align: center !important;
  border-radius: 91px !important;
  /* box-sizing: initial !important; */
  margin-top: 10px !important;
  /* max-width: 33vw; */
  min-width: 240px !important;
  /* padding: 0; */
  min-height: 3px !important;
  position: static;
  background: #e1e2cc;
  color: #6d6200;
}
quill-editor {
  width: 90%;
  min-height: 500px;
  overflow-y: auto;
}

/*.offcanvas-menu {
  background-color: #323e53 !important;
}


table {
  border-spacing: 0;
  background: #425166 !important;
  color: white !important;
}
input {
  background: #425166 !important;
  color: white !important;
  border-color: #1b222b8c !important;
}
.mat-input {
  font: inherit;
  background: rgb(50 62 78) !important;
  color: currentColor;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  vertical-align: bottom;
  text-align: inherit;
  box-sizing: content-box;
  caret-color: rgb(50 62 78) !important;
}
.mat-menu-panel {
  background: #323e4e !important
}
.modal-content {
  background: #323e4e !important
}
.mat-horizontal-stepper-wrapper.ng-tns-c133-22.ng-star-inserted {
  background: #323e4e !important;
}
:host ::ng-deep.mat-horizontal-stepper.ng-tns-c133-20.mat-stepper-horizontal.mat-stepper-label-position-end.ng-star-inserted {
  background: #323e4e !important;
}

.offcanvas {
  background: #323e4e !important
}
mat-dialog-container#mat-dialog-0 {
  background: #323e4e !important
}
.button:hover {
  background: #3e4c5f !important
}
tr:hover {
  background: #3e4c5f !important
}
.mat-select-panel {
  background: #576b86;
}
.mat-toolbar {
  background: #323e4e !important;
}
.mat-checkbox-checked {
  background-color: #323e4e00 !important;
}
.mat-paginator-container {
  background: #323e4e !important;
}
.card {
  box-shadow: 0 4px 8px 0 #262626, 0 6px 20px 0 #71717100;
  margin: 20px;
  border-color: #0f8187;
  background-color: #0f8187;
  margin-bottom: 50px;
  margin-top: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mat-expansion-panel {

  background: #425166;
}*/
