app-nav-menu {
 margin:60px;
}
h1 {
  font-family: 'Nunito', sans-serif;
  margin: 0 auto;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  color: white;
  font-size: 70px;
  font-weight: bold;
  margin-top: 152px;
  padding-bottom: 206px;
}


h3 {
  width: 30em;
  border-color: #00cdff;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  border-bottom: 1px solid #ababab;
  line-height: 0.1em;
  margin: 0 auto;
  padding-top: 50px;
  margin-bottom: 50px;
  justify-content: space-around;
}

  h3 span {
    background-color: #ffffff;
    padding: 0 10px;
    font-size: 25px;
  }

