<app-nav-menu ></app-nav-menu>

<h1>Configuration</h1>


<!-----------------------------------------------------Roles configuration-------------------------------------------------------------->
<div class="container-fluid">

  <mat-tab-group>

    <mat-tab label="Roles">

      <!-- <app-new-role></app-new-role>-->

      <app-roles-config></app-roles-config>

    </mat-tab>



    <!-----------------------------------------------------------Line Departments configuration-------------------------------------------------------------->

    <mat-tab label="Departments/Zones">
      <!--  <app-new-department></app-new-department>-->
      <app-department-config></app-department-config>
    </mat-tab>

    <!-----------------------------------------------------------Zones configuration-------------------------------------------------------------->
    <!--<mat-tab label="Zones">-->
    <!--      <app-new-zone></app-new-zone>-->
    <!--<app-zone-config></app-zone-config>
  </mat-tab>-->
    <!-----------------------------------------------------------Acess Groups configuration-------------------------------------------------------------->

    <mat-tab label="Access Groups">
      <app-access-groups-config></app-access-groups-config>
    </mat-tab>

    <!-----------------------------------------------------------Mandatory Docs configuration-------------------------------------------------------------->

    <mat-tab label="Mandatory Docs">
      <app-mandatory-docs-config></app-mandatory-docs-config>
    </mat-tab>
    <!-----------------------------------------------------------GL Code configuration-------------------------------------------------------------->
    <mat-tab label="GL Code">
      <app-gl-code-config></app-gl-code-config>

    </mat-tab>


    <!-----------------------------------------------------------Service Items configuration-------------------------------------------------------------->
    <mat-tab label="Service Items">

      <app-service-items-config></app-service-items-config>



    </mat-tab>



    <!-----------------------------------------------------------CSV configuration-------------------------------------------------------------->
    <!-----------------------------------------------------------CSV configuration-------------------------------------------------------------->
    <mat-tab label="CSV">


      <div class="container-fluid">

        <div class="row">
          <div class="col">
            <div class="card education">
              <div class="overlay"></div>
              <div class="circle">
                <i class="faa fa-download" aria-hidden="true"></i>
              </div>
              <p>Importing</p>

            </div>

          </div>


          <div class="col">

            <div class="card wallet">

              <div class="overlay"></div>
              <div class="circle">
                <i class="faa fa-upload" aria-hidden="true"></i>

              </div>
              <p>Exporting</p>
            </div>
          </div>


        </div>
      </div>

    </mat-tab>

    <!-----------------------------------------------------------User/department Manager configuration-------------------------------------------------------------->
    <mat-tab label="Department Manager">
      <app-user-management></app-user-management>




    </mat-tab>


  </mat-tab-group>


</div>


