<app-nav-menu ></app-nav-menu>

<h1>Configuration</h1>


<!-----------------------------------------------------Roles configuration-------------------------------------------------------------->
<div class="container-fluid"  >

  <mat-tab-group>

    <mat-tab label="Roles">


    </mat-tab>



    <!-----------------------------------------------------------Line Departments configuration-------------------------------------------------------------->

    <mat-tab label="Line Departments">
      <app-new-department></app-new-department>
      <app-department-config></app-department-config>
    </mat-tab>

    <!-----------------------------------------------------------Zones configuration-------------------------------------------------------------->

    <mat-tab label="Zones">
      <app-new-zone></app-new-zone>
      <app-zone-config></app-zone-config>
    </mat-tab>

  <!-----------------------------------------------------------Stages configuration-------------------------------------------------------------->

    <mat-tab label="Stages">
    </mat-tab>


  </mat-tab-group>
</div>


