<app-nav-menu></app-nav-menu>
<div class="content-body">
  <h2 *ngIf="!isFlagApplication">New Banner Or Poster Application</h2>
  <h2 *ngIf="isFlagApplication">New Flag/Pole/NewsHeadline Application</h2>
  <mat-horizontal-stepper linear #stepper>
    <mat-step>
      <form>
        <ng-template matStepLabel>Applicant Details</ng-template>
        <div class="detials">
          <div class="card">
            <h3><span>Applicant Details</span></h3>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" name="surname" placeholder="Owner Surname" [(ngModel)]="ApplicantName">
              <label for="surname">Name </label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" name="surname" placeholder="Owner Surname" [(ngModel)]="ApplicantSurname">
              <label for="surname">Surname</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" name="surname" placeholder="Owner Surname"[(ngModel)]="ApplicantEmail">
              <label for="surname">Email Address</label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" name="surname" placeholder="Owner Surname"[(ngModel)]="ApplicantFax">
              <label for="surname">Fax Number</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" name="surname" placeholder="Owner Surname"[(ngModel)]="ApplicantCell">
              <label for="surname">Cell Number</label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" name="surname" placeholder="Owner Surname" [(ngModel)]="ApplicantTelephone">
              <label for="surname">Telephone Number</label>
            </div>
          </div>
        </div>
        <div class="detials">
          <div class="card">
            <h3><span>Address Details</span></h3>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" name="surname" placeholder="Owner Surname" [(ngModel)]="streetNumber">
              <label for="surname">Street Number </label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" name="surname" placeholder="Owner Surname" [(ngModel)]="streetName">
              <label for="surname">Street Name</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" name="surname" placeholder="Owner Surname"[(ngModel)]="Suburb">
              <label for="surname">Suburb Name </label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" name="surname" placeholder="Owner Surname" [(ngModel)]="City">
              <label for="surname">City</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" name="surname" placeholder="Owner Surname" [(ngModel)]="postalCode">
              <label for="surname">Postal Code </label>
            </div>
          </div>
        </div>
        <div class="cont"> 
          <!--<button mat-raised-button color="primary" matStepperPrevious>Back</button>-->
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step *ngIf="!isFlagApplication">
      <form>
        <ng-template matStepLabel>Application Details</ng-template>
        <div class="detials">
          <div class="card">
            <h3><span>Application Details</span></h3>
          </div>
        </div>
        <div class="row">

          <mat-form-field>
            <mat-label>Type Of Advertisement</mat-label>
            <mat-select [(ngModel)]="TypeOfAdvert" name="typeOfDevelopment">
              <mat-option value="Banner">Banner</mat-option>
              <mat-option value="Poster">Poster</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <br />
        <div class="row">

          <mat-form-field>
            <mat-label>Nature Of Event</mat-label>
            <mat-select name="typeOfDevelopment" [(ngModel)]="NatureOfEvent">
              <mat-option></mat-option>

            </mat-select>
          </mat-form-field>
        </div>
        <div class="detials">
          <div class="card">
            <h3><span>Advertisement Details</span></h3>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" name="surname" placeholder="Owner Surname" >
              <label for="surname">Description Of Advertisement </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" name="surname" placeholder="Owner Surname">
              <label for="surname">Name Of Event </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="date" class="form-control" id="startDate" placeholder="Enter Start Date" name="expectedStartDate"> <!--[min]="getCurrentDate()"-->
              <label for="name">Start Date</label>
            </div>
          </div>

          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="date" class="form-control" id="endDate" placeholder="" name="expectedEndType">
              <label for="name">Completion Date</label>
            </div>
          </div>
        </div>
        <div class="row">

          <div class="col">
            <mat-form-field>
              <mat-label>Size Of Posters</mat-label>
              <mat-select name="typeOfDevelopment">
                <mat-option></mat-option>

              </mat-select>
            </mat-form-field>
          </div>
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" id="endDate" placeholder="" name="expectedEndType">
              <label for="name">Number Of Posters</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" id="endDate" placeholder="" name="expectedEndType">
              <label for="name">Application Fee</label>
            </div>
          </div>
        </div>
        <div class="container4">
          <button mat-raised-button color="green">Submit Signage Application</button>
        </div>
        <div class="cont">
          <button mat-raised-button color="primary" matStepperPrevious>Back</button>
          
        </div>
      </form>
    </mat-step>
    <mat-step *ngIf="isFlagApplication">
      <form>
        <ng-template matStepLabel>Flag Details</ng-template>
        <div class="row">
          <mat-form-field>
            <mat-label>Tyoe Of Application</mat-label>
            <mat-select [(ngModel)]="applicationType" (selectionChange)="onChangeTypeOfApplication()">
              <mat-option value="Flag">Flag Application</mat-option>
              <mat-option value ="Pole">Pole Application</mat-option>
              <mat-option value="Headline">Newspaper Headline Application</mat-option>
              <mat-option></mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="detials">
          <div class="card">
            <h3><span>Location Details</span></h3>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" name="surname" placeholder="Owner Surname" [(ngModel)]="flagStreetName">
              <label for="surname">Street Name</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" name="surname" placeholder="Owner Surname">
              <label for="surname">Pole Number </label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" name="surname" placeholder="Owner Surname">
              <label for="surname">From Street Pole Ad  </label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" name="surname" placeholder="Owner Surname">
              <label for="surname">End Location</label>
            </div>
          </div>
        </div>
        <div *ngIf="isFlag">
          <div class="detials">
            <div class="card">
              <h3><span>Flag Details</span></h3>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-floating mb-3 mt-3">
                <input type="text" class="form-control" name="surname" placeholder="Owner Surname">
                <label for="surname">Nature Of Event</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-floating mb-3 mt-3">
                <input type="text" class="form-control" name="surname" placeholder="Owner Surname">
                <label for="surname">Subject Matter To Which It Relates</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-floating mb-3 mt-3">
                <input type="text" class="form-control" name="surname" placeholder="Owner Surname">
                <label for="surname">Number Of Flags (max 50)</label>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="IsPole">
          <div class="detials">
            <div class="card">
              <h3><span>Real Estate Details</span></h3>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-floating mb-3 mt-3">
                <input type="text" class="form-control" name="surname" placeholder="Owner Surname">
                <label for="surname">Number Of Agents</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-floating mb-3 mt-3">
                <input type="text" class="form-control" name="surname" placeholder="Owner Surname">
                <label for="surname">Nature Of Advertisement</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-floating mb-3 mt-3">
                <input type="text" class="form-control" name="surname" placeholder="Owner Surname">
                <label for="surname">Subject Matter</label>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="isHeadline">
          <div class="detials">
            <div class="card">
              <h3><span>Newspaper Headline Details</span></h3>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-floating mb-3 mt-3">
                <input type="text" class="form-control" name="surname" placeholder="Owner Surname">
                <label for="surname">Number Of Agents</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-floating mb-3 mt-3">
                <input type="text" class="form-control" name="surname" placeholder="Owner Surname">
                <label for="surname">Nature Of Advertisement Boards</label>
              </div>
            </div>
          </div>
        </div>
        <div class="cont">
          <button mat-raised-button color="primary" matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" matStepperNext>Next</button>

        </div>
      </form>
    </mat-step>
    <mat-step *ngIf="isFlagApplication">
      <form>
        <ng-template matStepLabel>Application Details</ng-template>

        <div class="row">

          <mat-form-field>
            <mat-label>Nature Of Event</mat-label>
            <mat-select name="typeOfDevelopment">
              <mat-option></mat-option>

            </mat-select>
          </mat-form-field>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="date" class="form-control" id="startDate" placeholder="Enter Start Date" name="expectedStartDate"> <!--[min]="getCurrentDate()"-->
              <label for="name">Start Date</label>
            </div>
          </div>

          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="date" class="form-control" id="endDate" placeholder="" name="expectedEndType">
              <label for="name">Completion Date</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" name="surname" placeholder="Owner Surname" [(ngModel)]="placeOfEvent" >
              <label for="surname">Place Of Event</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" name="surname" placeholder="Owner Surname" [(ngModel)]="applicationFee">
              <label for="surname">Application Fee</label>
            </div>
          </div>
        </div>
        <div class="cont">
          <button mat-raised-button color="primary" matStepperPrevious>Back</button>
          </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</div>


