<app-nav-menu></app-nav-menu>
<div class="content-body">
  <h2>New Banner Or Poster Application</h2>

  <mat-horizontal-stepper linear #stepper>
    <mat-step>
      <form>
        <ng-template matStepLabel>Applicant Details</ng-template>
        <div class="detials">
          <div class="card">
            <h3><span>Applicant Details</span></h3>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" name="surname" placeholder="Owner Surname">
              <label for="surname">Name </label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" name="surname" placeholder="Owner Surname">
              <label for="surname">Surname</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" name="surname" placeholder="Owner Surname">
              <label for="surname">Email Address</label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" name="surname" placeholder="Owner Surname">
              <label for="surname">Fax Number</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" name="surname" placeholder="Owner Surname">
              <label for="surname">Cell Number</label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" name="surname" placeholder="Owner Surname">
              <label for="surname">Telephone Number</label>
            </div>
          </div>
        </div>
        <div class="detials">
          <div class="card">
            <h3><span>Address Details</span></h3>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" name="surname" placeholder="Owner Surname">
              <label for="surname">Street Number </label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" name="surname" placeholder="Owner Surname">
              <label for="surname">Street Number</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" name="surname" placeholder="Owner Surname">
              <label for="surname">Suburb Name </label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" name="surname" placeholder="Owner Surname">
              <label for="surname">City</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" name="surname" placeholder="Owner Surname">
              <label for="surname">Postal Code </label>
            </div>
          </div>
        </div>
        <div class="cont">
          <!--<button mat-raised-button color="primary" matStepperPrevious>Back</button>-->
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <form>
        <ng-template matStepLabel>Application Details</ng-template>
        <div class="detials">
          <div class="card">
            <h3><span>Application Details</span></h3>
          </div>
        </div>
        <div class="row">

          <mat-form-field>
            <mat-label>Type Of Advertisement</mat-label>
            <mat-select name="typeOfDevelopment">
              <mat-option>Banner</mat-option>
              <mat-option>Poster</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <br />
        <div class="row">

          <mat-form-field>
            <mat-label>Nature Of Event</mat-label>
            <mat-select name="typeOfDevelopment">
              <mat-option></mat-option>

            </mat-select>
          </mat-form-field>
        </div>
        <div class="detials">
          <div class="card">
            <h3><span>Advertisement Details</span></h3>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" name="surname" placeholder="Owner Surname">
              <label for="surname">Description Of Advertisement </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" name="surname" placeholder="Owner Surname">
              <label for="surname">Name Of Event </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="date" class="form-control" id="startDate" placeholder="Enter Start Date" name="expectedStartDate"> <!--[min]="getCurrentDate()"-->
              <label for="name">Start Date</label>
            </div>
          </div>

          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="date" class="form-control" id="endDate" placeholder="" name="expectedEndType">
              <label for="name">Completion Date</label>
            </div>
          </div>
        </div>
        <div class="row">

          <div class="col">
            <mat-form-field>
              <mat-label>Size Of Posters</mat-label>
              <mat-select name="typeOfDevelopment">
                <mat-option></mat-option>

              </mat-select>
            </mat-form-field>
          </div>
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="date" class="form-control" id="endDate" placeholder="" name="expectedEndType">
              <label for="name">Number Of Posters</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="date" class="form-control" id="endDate" placeholder="" name="expectedEndType">
              <label for="name">Application Fee</label>
            </div>
          </div>
        </div>
        <div class="container4">
          <button mat-raised-button color="green">Submit Signage Application</button>
        </div>
        <div class="cont">
          <button mat-raised-button color="primary" matStepperPrevious>Back</button>

        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</div>

<div class="content-body" *ngIf="isFlagApplication">
    <h2>Flag Pole Application</h2>
</div>
