
<div mat-dialog-content>
  <h1 mat-dialog-title> Create new Sub Department</h1>

  <div class="row">

    <div class="form-floating mb-3 mt-3">
      <input type="text" class="form-control" id="SubDepName" placeholder="Enter a sub department name" name="newSubDepName">
      <label for="newSubDepName">Sub Department Name</label>
    </div>

  </div>
</div>
<div mat-dialog-actions>
<button mat-raised-button color="green">Save</button>
  <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
</div>



  <!--End of modal-->
  

