<link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap" rel="stylesheet">
<link _ngcontent-ng-cli-universal-c545="" href="https://fonts.googleapis.com/css?family=Roboto:300italic,400italic,400,100,300,600,700" rel="stylesheet" type="text/css">
<script src="src/assets/js/all.js"></script>
<script src="src/assets/js/all.min.js"></script>
<link rel="stylesheet" href="/src/assets/all.css">
<link rel="stylesheet" href="/src/assets/all.min.css">
<body>

  <!--Background-->







  <div class="login-root">
    <div class="box-root flex-flex flex-direction--column animationSlideDown" style="min-height: 100vh;flex-grow: 1;">

      <div class="loginbackground box-background--white padding-top--64">
        <div class="loginbackground-gridContainer">

          <div class="box-root flex-flex" style="grid-area: top / start / 8 / end;">
            <div class="box-root loginback" style="flex-grow: 1;">

            </div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 4 / 2 / auto / 5;">
            <div class="box-root box-divider--light-all-2 animationLeftRight tans3s" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 6 / start / auto / 2;">
            <div class="box-root box-background--blue800" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 7 / start / auto / 4;">
            <div class="box-root box-background--blue animationLeftRight" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 8 / 4 / auto / 6;">
            <div class="box-root box-background--gray100 animationLeftRight tans3s" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 2 / 15 / auto / end;">
            <div class="box-root box-background--cyan200 animationRightLeft tans4s" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 3 / 14 / auto / end;">
            <div class="box-root box-background--blue animationRightLeft" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 4 / 17 / auto / 20;">
            <div class="box-root box-background--gray100 animationRightLeft tans4s" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 5 / 14 / auto / 17;">
            <div class="box-root box-divider--light-all-2 animationRightLeft tans3s" style="flex-grow: 1;"></div>
          </div>
        </div>
      </div>
      <div class="splash flex " id="splashlogo">
        <div class="container2 ">
          <img src="assets/building plans dark mode2.png" class="logo bounceIn" (click)="toggleTheme()" [matTooltip]="isDarkMode ? 'Switch to Light Mode' : 'Switch to Dark Mode'">
          <h3>Engage Services Portal (ESP)</h3>

        </div>
      </div>

      <br />
      <br />
      <div class="box-root padding-top--24 flex-flex flex-direction--column bounceIn" style="flex-grow: 1; z-index: 9;">
        <div class="formbg-outer">
          <div class="formbg">

            <div class="logo4">
              <img src="assets/Msunduzi-logo-new2.png" class="logo6 bounceIn">
              <p class="header">Msunduzi Municipality</p>
            </div>
            <div class="formbg-inner padding-horizontal--48 " *ngIf="logIN">
              <h2>Login to your account</h2>
              <form action="#" [formGroup]="loginForm" (ngSubmit)="onLogin()" >



                <mat-form-field appearance="outline">
                  <mat-label>Login</mat-label>
                  <input matInput placeholder="john@gmail.com" formControlName="email" >
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Password</mat-label>

                  <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>
                <!--                <input class="input" type="text" name="somthingelse" formControlName="email" placeholder="Email" />

              <input class="input" type="password" formControlName="password" placeholder="Password" />-->
                <a (click)="openForgotPassModal(forgotPasswordModal)" *ngIf="!isLoading" class="oragngeText"><strong>Forgot your password?</strong></a>
                <button *ngIf="!isLoading" [disabled]="!loginForm.valid" class="button5">Login</button>


                <div *ngIf="isLoading">
                  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
                </div>
              </form>
            </div>
            <div class="formbg-inner padding-horizontal--48 animationSlideDown" *ngIf="signIN">
              <h2 *ngIf="errorMessage ==''">Create your account</h2>
              <h2 *ngIf="errorMessage !=''" animationSlideDown>{{errorMessage}}</h2>

              <!--  <div class="alert2 alert-danger animationSlideDown" *ngIf="isInvalid">{{errorMessage}}</div>-->
              <form [formGroup]="registerForm" autocomplete="off">
                <mat-form-field appearance="outline">
                  <mat-label>Name & Surname</mat-label>
                  <input matInput
                         placeholder="Name & Surname"
                         formControlName="fullName"
                         (blur)="checkName()"
                         [ngClass]="{'valid-input': isValid, 'invalid-input': isInvalid}">
                  <mat-icon matSuffix
                            *ngIf="isValid"
                            class="valid-icon">
                    check_circle
                  </mat-icon>
                  <mat-icon matSuffix
                            *ngIf="isInvalid"
                            class="invalid-icon">
                    cancel
                  </mat-icon>
                </mat-form-field>


                <mat-form-field appearance="outline">
                  <mat-label>Email</mat-label>
                  <input matInput
                         placeholder="Email"
                         formControlName="registerEmail"
                         (blur)="checkNewEmail()"
                         [ngClass]="{'valid-input': validEmail, 'invalid-input': !validEmail}">
                  <mat-icon matSuffix
                            *ngIf="validEmail"
                            class="valid-icon">
                    check_circle
                  </mat-icon>
                  <mat-icon matSuffix
                            *ngIf="!validEmail"
                            class="invalid-icon">
                    cancel
                  </mat-icon>
                </mat-form-field>

                <!--                <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Email" formControlName="registerEmail">
            </mat-form-field>-->
                <!--     Conditionally display and thereafter validate BP Number input-->
                <!--                <div class="col">
              <mat-checkbox class="example-margin" [(ngModel)]="Architect">I am an Architect</mat-checkbox>

            </div>-->
                <mat-form-field appearance="outline">
                  <mat-label>Password</mat-label>
                  <input matInput
                         type="password"
                         placeholder="Password"
                         formControlName="registerPassword"
                         (blur)="validatePassword()"
                         [ngClass]="{'valid-input': isPasswordValid, 'invalid-input': !isPasswordValid && showPasswordError}">
                  <mat-icon matSuffix
                            *ngIf="isPasswordValid"
                            class="valid-icon">
                    check_circle
                  </mat-icon>
                  <mat-icon matSuffix
                            *ngIf="!isPasswordValid && showPasswordError"
                            class="invalid-icon">
                    cancel
                  </mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Re-enter Password</mat-label>
                  <input matInput
                         type="password"
                         placeholder="Re-enter password"
                         formControlName="reenterPassword"
                         (blur)="validateReenteredPassword()"
                         [ngClass]="{'valid-input': passwordsMatch, 'invalid-input': !passwordsMatch && showReenterPasswordError}">
                  <mat-icon matSuffix
                            *ngIf="passwordsMatch"
                            class="valid-icon">
                    check_circle
                  </mat-icon>
                  <mat-icon matSuffix
                            *ngIf="!passwordsMatch && showReenterPasswordError"
                            class="invalid-icon">
                    cancel
                  </mat-icon>
                </mat-form-field>
                <!--              <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Password" formControlName="registerPassword">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Re-enter password</mat-label>
              <input matInput placeholder="Re-enter password" formControlName="reenterPassword">
            </mat-form-field>-->


                <button class="button2 OTP" (click)="openOTP(otpModal)" *ngIf="showDuplicatePassInput && sendOTPBtn"
                        [disabled]="!(isValid && validEmail && isPasswordValid && passwordsMatch)">
                  Validate and send OTP
                </button>
                <br />
                <div class="footer-link padding-top--24" *ngIf="signIN">
                  <span>Click to go back to <strong><a (click)="changeForm(false)" class="oragngeText">Login</a></strong></span>

                </div>
                <!--OTP-->
                <!--    Be sure to remove this paragraph when the app is finalized!!-->

              </form>
            </div>
          </div>
          <br *ngIf="logIN" />
          <div class="footer-link padding-top--24" *ngIf="logIN">
            <span><strong>Don't have an account? <a (click)="changeForm(true)" class="oragngeText">Sign up</a></strong></span>

          </div>

        </div>
      </div>
    </div>
  </div>
  <!--  <div class="cont2">
      <div class="container-fluid">
        <div class="container" id="container">
          <div class="form-container sign-up-container">
            <form action="#" [formGroup]="registerForm" autocomplete="off">

              <h2>Create an account</h2>
              <input class="input" type="text" formControlName="fullName" placeholder="Name & Surname *" required [readonly]="regFormReadOnly" />


              <input class="input" type="text" name="somthing" formControlName="registerEmail" placeholder="Email *" required [readonly]="regFormReadOnly" />
     Conditionally display and thereafter validate BP Number input
    <input class="input" type="text" formControlName="bpNumber" placeholder="Business Partner No. *" *ngIf="showBPNumber" [readonly]="regFormReadOnly" />
    <input class="input" type="password" formControlName="registerPassword" placeholder="Password *" required [readonly]="regFormReadOnly" />
    <input class="input" type="password" formControlName="reenterPassword" placeholder="Re-enter password *" required *ngIf="showDuplicatePassInput" />
    <div class="col">
      <input type="checkbox" id="myCheckbox" name="myCheckbox" (click)="onCheckboxClick()">
      <label for="myCheckbox">I Am An Architect</label>
    </div>
    <button class="button2 OTP" (click)="onSendiOTP()" *ngIf="showDuplicatePassInput sendOTPBtn">Send OTP</button>

    <input class="input" type="text" placeholder="Enter OTP" formControlName="OTPField" *ngIf="!showDuplicatePassInput" />
    <button type="submit" [disabled]="!registerForm.valid" [class.disabled]="!registerForm.valid" class="button2" (click)="onVerifyOTPRegister()" *ngIf="!showDuplicatePassInput">Verify & Register</button>
    <app-new-profile *ngIf="otpValid"></app-new-profile>
    Be sure to remove this paragraph when the app is finalized!!
    <p>{{otp}}</p>
    </form>
            </div>
            <div class="form-container sign-in-container">
              <form action="#" [formGroup]="loginForm" (ngSubmit)="onLogin()">


                <h2>Login</h2>
                <input class="input" type="text" name="somthingelse" formControlName="email" placeholder="Email" />
                <input class="input" type="password" formControlName="password" placeholder="Password" />
                <a (click)="openForgotPassModal(forgotPasswordModal)" *ngIf="!isLoading">Forgot your password?</a>
                <button *ngIf="!isLoading" type="submit" [disabled]="!loginForm.valid" class="submit">Login</button>
    (click)="login()"
    <div *ngIf="isLoading">
       <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
    </form>
    <div *ngIf="isLoading">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
    </div>


    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Already Have A  System Profile?</h1>
          <button (click)="remove()" class="button2 ghost" id="login">Back To Login</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Don't Have A System Profile?</h1>
          <button (click)="add()" class="button2 ghost" id="signUp">Sign Up</button>
          <p class="bprequired">
            *Kindly ensure that all information provided is accurate, as any discrepancies may be regarded as fraudulent
            <br>
    <p class="bprequired"><a href="https://eservices.capetown.gov.za/irj/portal" target="_blank">Click here</a> to register with CCT eServices for a BP number.</p>
    <p class="link"> </p>
    </div>
              </div>
            </div>
          </div>

          <div class="alert alert-danger" *ngIf="error">
            {{error}}
          </div>

        </div>
      </div>-->

</body>



<ng-template #forgotPasswordModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Forgot Your Password?</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismissAll();modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div *ngIf="beforeSentOTP">
      <p>If you have forgotten your password, a One-Time-Pin will be sent to the email you will provide. You will then be allowed to change your password.</p>
      <br>
      <mat-form-field>
        <mat-label>Enter Your Email</mat-label>
        <input matInput [(ngModel)]="emailPasswordReset">
      </mat-form-field>
      <br>
      <div class="cont3">
        <button mat-raised-button color="blue" (click)="sendOTPForPasswordReset()">Send OTP To My Email</button>
      </div>
    </div>
    <div *ngIf="sentOTP">
      <p>OTP Sent. Please check your email and enter in the OTP</p>
      <mat-form-field>
        <mat-label>Enter Your OTP</mat-label>
        <input matInput [(ngModel)]="otpPasswordReset">
      </mat-form-field>
      <button mat-raised-button color="blue" (click)="validateOTP(newPasswordModal)">Validate</button>
    </div>
  </div>
</ng-template>


<ng-template #newUser let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Creating Your New User Profile</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismissAll();modal.dismiss('Cross click')"></button>
  </div>

  <div class="modal-body">
    <div class="container-fluid ">

      <!--External Applicant-->
      <div class="external">
        <h5>Please enter your details as an External Applicant</h5>
        <div class="row">
          <!--/BPRegister Sindiswa 20062024 removed BP number-->
          <!--<div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" [(ngModel)]="extApplicantBpNoApplicant" placeholder="Enter BP Number" disabled>
              <label for="bpNoApplicant">BP Number</label>
            </div>
          </div>-->
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" [(ngModel)]="extApplicantCompanyName" placeholder="Enter Company Name">
              <label for="address">Company Name</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" [(ngModel)]="extApplicantCompanyRegNo" placeholder="Enter Company Reg No">
              <label for="address">Company Reg No.</label>
            </div>
          </div>
          <div class="col">

            <mat-form-field>
              <mat-label>Company Type</mat-label>
              <mat-select [(ngModel)]="extApplicantCompanyType">
                <mat-option value="Company Limited by Shares">Company Limited by Shares</mat-option>
                <mat-option value="Company Limited by Guarantee">Company Limited by Guarantee</mat-option>
                <mat-option value="Unlimited Company">Unlimited Company</mat-option>
                <mat-option value="One Person Company (OPC)">One Person Company (OPC)</mat-option>
                <mat-option value="Private Company">Private Company</mat-option>
                <mat-option value="Public Company">Public Company</mat-option>
                <mat-option value="Holding and Subsidiary Company">Holding and Subsidiary Company</mat-option>
                <mat-option value="Associate Company">Associate Company</mat-option>
                <mat-option value="Company in terms of Access to Capital">Company in terms of Access to Capital</mat-option>
                <mat-option value="Government Company">Government Company</mat-option>
                <mat-option value="Foreign Company">Foreign Company</mat-option>
                <mat-option value="Charitable Company">Charitable Company</mat-option>
                <mat-option value="Dormant Company">Dormant Company</mat-option>
                <mat-option value="Nidhi Company">Nidhi Company</mat-option>
                <mat-option value="Public Financial Institutions">Public Financial Institutions</mat-option>
                <mat-option value="Close Corporation(CC)">Close Corporation(CC)</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
        </div>

        <!--icasadetails Sindiswa 10 January 2024-->


        <div class="row" *ngIf="showTelecommsPrompt">
          <mat-checkbox [(ngModel)]="isRepresentingTelecommsCompany"> Check this box ONLY IF your company offers telecommunications services </mat-checkbox>
        </div>
        <div class="row" *ngIf="!showTelecommsPrompt || isRepresentingTelecommsCompany">
          <!-- icasaDetailsDisplay Sindiswa 16 January 2024 -->
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" [(ngModel)]="extApplicantICASANumber" placeholder="Enter ICASA Number" name="extApplicantICASANumber" #icasaNumberInput="ngModel" [required]="isRepresentingTelecommsCompany" title="This field is mandatory for all electronic communications service providers.">
              <label for="extApplicantICASANumber">ICASA Number *</label>
            </div>
          </div>

          <!--<div class="col-1 d-flex align-items-center">
            <mat-icon aria-hidden="false" aria-label="Info icon" fontIcon="info" matTooltip="This field is mandatory for all electronic communications service providers."></mat-icon>
          </div>-->
          <!-- endof icasaDetailsDisplay Sindiswa 15 January 2024 -->
        </div>
        <!--<div *ngIf="isRepresentingTelecommsCompany && !extApplicantICASANumber">
          <div class="alert alert-danger">An ICASA License Number is required for telecomms companies /This field is mandatory for all electronic communications service providers.</div>
        </div>-->
        <!--end of icasadetails Sindiswa 10 January 2024-->
        <!--  <div class="form-floating mb-3 mt-3">
          <select class="form-select" aria-label="Default select example" formControlName="newZoneSubDemartment">
            <option selected value="0">Select a SubDepartment</option>
            <option *ngFor="let subDemartment of SubDepartmentDropdown" value="{{subDemartment.subDepartmentID}}">{{subDemartment.subDepartmentName}}</option>
          </select>
        </div>-->


        <div class="row">
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" [(ngModel)]="extApplicantName" placeholder="Enter First Name" disabled>
              <label for="name">Name *</label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" [(ngModel)]="extApplicantSurname" placeholder="Enter Surname" disabled>
              <label for="surname">Surname *</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="tel" class="form-control" [(ngModel)]="extApplicantTellNo" placeholder="Enter Tell No.">
              <label for="applicantTellNo">Cell No. *</label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="email" class="form-control" [(ngModel)]="extApplicantEmail" placeholder="Enter Email" disabled>
              <label for="applicantEmail">Email *</label>
            </div>
          </div>
        </div>


        <!--<div class="row">
          <div class="col">
            <div class="form-floating mb-3 mt-3">-->
        <!--<input type="text" class="form-control" [(ngModel)]="extApplicantPhyscialAddress" placeholder="Enter Address">-->
        <!--<input ngx-google-places-autocomplete class="form-control" [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" [(ngModel)]="extApplicantPhyscialAddress" />
              <label for="applicantTellNo">Physical Address *</label>
            </div>
          </div>
        </div>-->
        <div class="row">
          <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" [(ngModel)]="extApplicantVatNumber" placeholder="Enter Vat Number">
            <label for="extApplicantIDNumber">Vat Number </label>
          </div>
        </div>
      </div>
      <!--END-->

    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-success" (click)="changePassword()">Save</button>
  </div>
</ng-template>


<ng-template #newPasswordModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Forgot Your Password?</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismissAll();modal.dismiss('Cross click')"></button>
  </div>

  <div class="modal-body">
    <p>Please enter in your <strong>NEW</strong> password.</p>
    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="newPassword">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <br>
    <mat-form-field>
      <mat-label>Re-enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="newReEnterPassword">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-success" (click)="changePassword()">Save</button>
  </div>
</ng-template>

<!--<div class="loading-screen" *ngIf="isLoading" id="loadingScreen">
  <img src="assets/Loading.png" alt="" class="logo2">
</div>-->
<div class="loading-screen" *ngIf="isLoading" id="loadingScreen" [class.dafeOu]="!isLoading">
  <!--<img src="assets/Loading.png" alt="" class="logo2">
  Need to have an BP relevant loading shandis-->
  <div class="loader">
    <div class="box box-1">
      <div class="side-left"></div>
      <div class="side-right"></div>
      <div class="side-top"></div>
    </div>
    <div class="box box-2">
      <div class="side-left"></div>
      <div class="side-right"></div>
      <div class="side-top"></div>
    </div>
    <div class="box box-3">
      <div class="side-left"></div>
      <div class="side-right"></div>
      <div class="side-top"></div>
    </div>
    <div class="box box-4">
      <div class="side-left"></div>
      <div class="side-right"></div>
      <div class="side-top"></div>
    </div>
  </div>
  <h4>Loading.</h4>
</div>

<div class="loading2" id="maintenanceMode" *ngIf="isMaintenanceMode">
  <img src="assets/cctlogoblack.png" class="logo3">

  <!--<div class="container9">
    <div class="box">
      <div class="animation">
        <img src="assets/cog-wheel-295519_1280.png" alt="" class="wheel1 spin-one">
        <img src="assets/cog-wheel-295519_1280.png" alt="" class="wheel2 spin-two">
        <img src="assets/cog-wheel-295519_1280.png" alt="" class="wheel3 spin-one">
      </div>
      <h3>WLMS Temporarily unavailable due to updates and maintenance.</h3>
      <p class="P28">Please check back later. For queries contact <a class="P28"href="mailto:wayleaves@capetown.gov.za">wayleaves@capetown.gov.za</a></p>
    </div>
  </div>-->
  <img src="assets/2840523.jpg" alt="" class="maintenanceM">

</div>

<ng-template #otpModal let-modal>
  <div class="modal-header">
    <h3 class="modal-title" id="modal-basic-title" *ngIf="!otpValid">OTP Sent</h3>
    <h3 class="modal-title" id="modal-basic-title" *ngIf="otpValid">OTP Verified</h3>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismissAll();modal.dismiss('Cross click')"></button>
  </div>

  <div class="modal-body">

    <div class="position-relative">
      
      <div [hidden]="otpValid"> <h5>A code has been sent to: <strong>{{email}}</strong> </h5></div>
      <h5 [hidden]="otpValid">Please enter the one time password to verify your account</h5>
      <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2" [hidden]="otpValid">
        <input class="m-2 text-center form-control rounded" type="text" id="first" maxlength="1" [(ngModel)]="first" [hidden]="otpValid"/>
        <input class="m-2 text-center form-control rounded" type="text" id="second" maxlength="1" [(ngModel)]="second" [hidden]="otpValid"/>
        <input class="m-2 text-center form-control rounded" type="text" id="third" maxlength="1" [(ngModel)]="third" [hidden]="otpValid"/>
        <input class="m-2 text-center form-control rounded" type="text" id="fourth" maxlength="1" [(ngModel)]="fourth" [hidden]="otpValid"/>
        <input class="m-2 text-center form-control rounded" type="text" id="fifth" maxlength="1" [(ngModel)]="fifth" [hidden]="otpValid"/>
        <input class="m-2 text-center form-control rounded" type="text" id="sixth" maxlength="1" [(ngModel)]="sixth" [hidden]="otpValid"/>
      </div>
      <div class="mt-4">
        <button id="validateBtn" class="button4" (click)="onVerifyOTPRegister()" [hidden]="otpValid" [disabled]="!(first && second && third && fourth && fifth && sixth)">Validate</button>
        <p [hidden]="otpValid">{{otp}}</p> 

      </div>
      <div class="alert alert-success animationSlideDown" *ngIf="otpValid">OTP Verified</div>
      <app-new-profile *ngIf="otpValid"></app-new-profile>

    </div>
    
  </div>
</ng-template>
