<link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap" rel="stylesheet">
<link _ngcontent-ng-cli-universal-c545="" href="https://fonts.googleapis.com/css?family=Roboto:300italic,400italic,400,100,300,600,700" rel="stylesheet" type="text/css">
<script src="src/assets/js/all.js"></script>
<script src="src/assets/js/all.min.js"></script>
<link rel="stylesheet" href="/src/assets/all.css">
<link rel="stylesheet" href="/src/assets/all.min.css">
<body>

  <!--Background-->





  <div class="splash flex" id="splashlogo">
    <div class="container2">
      <img src="assets/building plans dark mode.png" class="logo">
      <h3>Welcome to the Engage Development Services System</h3>

    </div>
  </div>
  <div class="cont2">
    <div class="container-fluid">
      <div class="container" id="container">
        <div class="form-container sign-up-container">
          <form action="#" [formGroup]="registerForm" autocomplete="off">

            <h2>Create an account</h2>
            <input class="input" type="text" formControlName="fullName" placeholder="Name & Surname *" required [readonly]="regFormReadOnly" />


            <input class="input" type="text" name="somthing" formControlName="registerEmail" placeholder="Email *" required [readonly]="regFormReadOnly" />
            <!-- Conditionally display and thereafter validate BP Number input -->
            <!--<input class="input" type="text" formControlName="bpNumber" placeholder="Business Partner No. *" *ngIf="showBPNumber" [readonly]="regFormReadOnly" />-->

            <input class="input" type="password" formControlName="registerPassword" placeholder="Password *" required [readonly]="regFormReadOnly" />
            <input class="input" type="password" formControlName="reenterPassword" placeholder="Re-enter password *" required *ngIf="showDuplicatePassInput" />

            <!--<div class="col">
              <input type="checkbox" id="myCheckbox" name="myCheckbox" (click)="onCheckboxClick()">
              <label for="myCheckbox">I Am An Architect</label>
            </div>-->

            <button class="button2 OTP" (click)="onSendiOTP()" *ngIf="showDuplicatePassInput sendOTPBtn">Send OTP</button>
            <input class="input" type="text" placeholder="Enter OTP" formControlName="OTPField" *ngIf="!showDuplicatePassInput" />
            <button type="submit" [disabled]="!registerForm.valid" [class.disabled]="!registerForm.valid" class="button2" (click)="onVerifyOTPRegister()" *ngIf="!showDuplicatePassInput">Verify & Register</button>
            <!--Be sure to remove this paragraph when the app is finalized!!-->
            <p>{{otp}}</p>
          </form>
        </div>
        <div class="form-container sign-in-container">
          <form action="#" [formGroup]="loginForm" (ngSubmit)="onLogin()">


            <h2>Login</h2>
            <input class="input" type="text" name="somthingelse" formControlName="email" placeholder="Email" />
            <input class="input" type="password" formControlName="password" placeholder="Password" />
            <a (click)="openForgotPassModal(forgotPasswordModal)" *ngIf="!isLoading">Forgot your password?</a>
            <button *ngIf="!isLoading" type="submit" [disabled]="!loginForm.valid" class="submit">Login</button> <!--(click)="login()"-->
            <div *ngIf="isLoading">
              <!--   <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>-->
            </div>
          </form>
          <div *ngIf="isLoading">
            <!--  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>-->
          </div>
        </div>


        <div class="overlay-container">
          <div class="overlay">
            <div class="overlay-panel overlay-left">
              <h1>Already Have A  System Profile?</h1>
              <button (click)="remove()" class="button2 ghost" id="login">Back To Login</button>
            </div>
            <div class="overlay-panel overlay-right">
              <h1>Don't Have A System Profile?</h1>
              <button (click)="add()" class="button2 ghost" id="signUp">Sign Up</button>
              <!--<p class="bprequired">* Please note a Business Partner (BP) number is required to use this portal. Your BP number can be found on the top right hand side corner of your municipal account.</p>-->
              <br>
              <!--<p class="bprequired"><a href="https://eservices.capetown.gov.za/irj/portal" target="_blank">Click here</a> to register with CCT eServices for a BP number.</p>
              <p class="link"> </p>-->
            </div>
          </div>
        </div>
      </div>

      <div class="alert alert-danger" *ngIf="error">
        {{error}}
      </div>

    </div>
  </div>

</body>



<ng-template #forgotPasswordModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Forgot Your Password?</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismissAll();modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div *ngIf="beforeSentOTP">
      <p>If you have forgotten your password, a One-Time-Pin will be sent to the email you will provide. You will then be allowed to change your password.</p>
      <br>
      <mat-form-field>
        <mat-label>Enter Your Email</mat-label>
        <input matInput [(ngModel)]="emailPasswordReset">
      </mat-form-field>
      <br>
      <div class="cont3">
        <button mat-raised-button color="blue" (click)="sendOTPForPasswordReset()">Send OTP To My Email</button>
      </div>
    </div>
    <div *ngIf="sentOTP">
      <p>OTP Sent. Please check your email and enter in the OTP</p>
      <mat-form-field>
        <mat-label>Enter Your OTP</mat-label>
        <input matInput [(ngModel)]="otpPasswordReset">
      </mat-form-field>
      <button mat-raised-button color="blue" (click)="validateOTP(newPasswordModal)">Validate</button>
    </div>
  </div>
</ng-template>



<ng-template #newPasswordModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Forgot Your Password?</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismissAll();modal.dismiss('Cross click')"></button>
  </div>

  <div class="modal-body">
    <p>Please enter in your <strong>NEW</strong> password.</p>
    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="newPassword">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <br>
    <mat-form-field>
      <mat-label>Re-enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="newReEnterPassword">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-success" (click)="changePassword()">Save</button>
  </div>
</ng-template>

<!--<div class="loading-screen" *ngIf="isLoading" id="loadingScreen">
  <img src="assets/Loading.png" alt="" class="logo2">
</div>-->
<div class="loading-screen" *ngIf="isLoading" id="loadingScreen">
  <!--<img src="assets/Loading.png" alt="" class="logo2">
  Need to have an BP relevant loading shandis-->
  <div class="shapes-5"></div>

</div>

<div class="loading2" id="maintenanceMode" *ngIf="isMaintenanceMode">
  <img src="assets/cctlogoblack.png" class="logo3">

  <!--<div class="container9">
    <div class="box">
      <div class="animation">
        <img src="assets/cog-wheel-295519_1280.png" alt="" class="wheel1 spin-one">
        <img src="assets/cog-wheel-295519_1280.png" alt="" class="wheel2 spin-two">
        <img src="assets/cog-wheel-295519_1280.png" alt="" class="wheel3 spin-one">
      </div>
      <h3>WLMS Temporarily unavailable due to updates and maintenance.</h3>
      <p class="P28">Please check back later. For queries contact <a class="P28"href="mailto:wayleaves@capetown.gov.za">wayleaves@capetown.gov.za</a></p>
    </div>
  </div>-->
  <img src="assets/2840523.jpg" alt="" class="maintenanceM">

</div>
