<table mat-table [dataSource]="dataSourceDoc" class="mat-elevation-z8">

  <!-- Name Column -->
  <ng-container matColumnDef="DocumentName">
    <th mat-header-cell *matHeaderCellDef>Document Name</th>
    <td mat-cell *matCellDef="let element"> {{element.DocumentName}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>actions</th>
    <td mat-cell *matCellDef="let i = index">
      <button mat-raised-button color="blue"  matTooltip="View document" (click)="viewDocument(i)"><img src="assets/fontawesome-free-6.4.2-web/svgs/regular/eye-solid-white.svg" class="icon"></button>

    </td>
    <td mat-cell *matCellDef="let element">  </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumnsDocs"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumnsDocs;"></tr>
</table>
