<app-nav-menu></app-nav-menu>

<ng-template #drafts let-modal>
  <div class="modal-header">
    <h1 class="modal-title">Drafts</h1>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">

      <mat-tab label="Select departments">
        <table mat-table  class="mat-elevation-z8">

          <ng-container matColumnDef="subDepartmentName">
            <th mat-header-cell *matHeaderCellDef> Sub Department Name </th>
            <td mat-cell *matCellDef="let element"> e </td>
          </ng-container>


          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let i = index;let element">
              <button mat-raised-button ><i class="fa fa-dot-circle-o" aria-hidden="true"></i></button>
            </td>
          </ng-container>

          <tr mat-header-row ></tr>
          <tr mat-row ></tr>
        </table>
      </mat-tab>
  </div>

</ng-template>

<app-internal-option (optionEvent)="reciveOption($event)" *ngIf="internal"></app-internal-option>



<div class="content-body">
  <h2 *ngIf="isPlanning === false">Create New Wayleave</h2>
  <h2 *ngIf="isPlanning === true">Create New Planning Wayleave</h2>


  <!--Stepper-->
  <mat-horizontal-stepper linear #stepper>

    <!---------------------------------------------------------------Application Details----------------------------------------------------------->

    <mat-step>

      <form>
        <ng-template matStepLabel>Application details</ng-template>
        <div class="detials">
          <div class="card">
            <h3><span>Applicant details</span></h3>
          </div>

          <!------------------------------------------------------------EXTERNAL------------------------------------------------------------------>
          <!--<app-external-details *ngIf="external"></app-external-details>-->
          <div *ngIf="external">
            <div class="row">

              <div class="form-floating mb-3 mt-3">
                <input type="text" class="form-control" [(ngModel)]="externalBPNumber" id="BPNumber" name="BPNumber" disabled>
                <label for="name">BP Number</label>
              </div>


            </div>

            <!--Displaying the applicants information into textboxes-->

            <div class="row">
              <div class="col">
                <div class="form-floating mb-3 mt-3">
                  <input type="text" class="form-control" [(ngModel)]="externalName" id="externalName" name="externalName" disabled>
                  <label for="name">Name</label>
                </div>
              </div>

              <div class="col">
                <div class="form-floating mb-3 mt-3">
                  <input type="text" class="form-control" [(ngModel)]="externalSurname" id="externalSurname" name="externalSurname" disabled>
                  <label for="name">Surname</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-floating mb-3 mt-3">
                  <input type="text" class="form-control" [(ngModel)]="externalAddress" id="externalAddress" name="externalAddress" disabled>
                  <label for="name">Physical Address</label>
                </div>
              </div>

              <div class="col">
                <div class="form-floating mb-3 mt-3">
                  <input type="text" class="form-control" [(ngModel)]="externalEmail" id="externalEmail" name="externalEmail" disabled>
                  <label for="name">Email</label>
                </div>
              </div>
            </div>

          </div>
          <!------------------------------------------------------------INTERNAL---------------------------------------------------------------->
          <!-- <app-internal-details *ngIf="internal"></app-internal-details>-->
          <div *ngIf="internal">








            <div class="row">
              <div class="col">
                <div class="form-floating mb-3 mt-3">
                  <input type="text" class="form-control" [(ngModel)]="internalName" id="InternalName" placeholder="Enter First Name" name="name" disabled>
                  <label for="name">Name</label>
                </div>
              </div>

              <div class="col">
                <div class="form-floating mb-3 mt-3">
                  <input type="text" class="form-control" [(ngModel)]="internalSurname" id="Surname" placeholder="Enter Surname" name="surname" disabled>
                  <label for="name">Surname</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-floating mb-3 mt-3">
                  <input type="text" class="form-control" [(ngModel)]="internalDepartmentName" id="internalDepartment" placeholder="Enter Address" name="internalDepartment" disabled>
                  <label for="name">Department</label>
                </div>
              </div>

              <div class="col">
                <div class="form-floating mb-3 mt-3">
                  <input type="text" class="form-control" [(ngModel)]="internalBranch" id="internalBranch" placeholder="Enter Branch" name="Branch" disabled>
                  <label for="name">Branch</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-floating mb-3 mt-3">
                  <input type="text" class="form-control" [(ngModel)]="internalCostCenterNumber" id="internalCostCenterNumber" placeholder="Enter CostCenterNumber" name="internalCostCenterNumber" disabled>
                  <label for="name">Cost Center Number</label>
                </div>
              </div>

              <div class="col">
                <div class="form-floating mb-3 mt-3">
                  <input type="text" class="form-control" [(ngModel)]="internalCostCenterOwner" id="internalCostCenterOwner" placeholder="Enter internalCostCenterOwner" name="internalCostCenterOwner" disabled>
                  <label for="name">Cost Center Owner</label>
                </div>
              </div>
            </div>

          </div>

          <!-- <app-client-details *ngIf="client"></app-client-details>-->
          <!------------------------------------------------------------CLIENT---------------------------------------------------------------->

          <div *ngIf="client">
            <div class="container-fluid">

              <button mat-raised-button color="blue" (click)="openExsistingClientModal(user)">Create for an existing client</button>

              <form>
                <div class="row">
                  <div class="col">
                    <div class="form-floating mb-3 mt-3">
                      <input type="text" class="form-control" [(ngModel)]="clientName" name="clientName" placeholder="Enter First Name">
                      <label for="clientName">Name</label>
                    </div>
                  </div>

                  <div class="col">
                    <div class="form-floating mb-3 mt-3">
                      <input type="text" class="form-control" [(ngModel)]="clientSurname" name="clientSurname" placeholder="Enter Surname">
                      <label for="clientSurname">Surname</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="form-floating mb-3 mt-3">
                      <input type="text" class="form-control" [(ngModel)]="clientEmail" name="clientEmail" placeholder="Enter Email">
                      <label for="clientEmail">Email</label>
                    </div>
                  </div>

                  <div class="col">
                    <div class="form-floating mb-3 mt-3">
                      <input type="text" class="form-control" [(ngModel)]="clientCellNo" name="clientCellNo" placeholder="Enter Cell Number">
                      <label for="clientCellNo">Cell Number</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="form-floating mb-3 mt-3">
                      <input type="text" class="form-control" [(ngModel)]="clientIDNumber" name="clientIDNumber" placeholder="Enter ID Number">
                      <label for="extApplicantIDNumber">ID Number</label>
                    </div>
                  </div>

                  <div class="col">
                    <div class="form-floating mb-3 mt-3">
                      <input type="text" class="form-control" [(ngModel)]="clientRefNo" name="clientRefNo" placeholder="Enter Ref No">
                      <label for="clientRefNo">Reference Number</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="form-floating mb-3 mt-3">
                      <input type="text" class="form-control" [(ngModel)]="clientBPNum" name="clientBPNum" placeholder="Enter BP Number">
                      <label for="bpNoApplicant">BP Number</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-floating mb-3 mt-3">
                      <input type="text" class="form-control" [(ngModel)]="clientCompanyName" name="clientCompanyName" placeholder="Enter Company Name">
                      <label for="address">Company Name</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="form-floating mb-3 mt-3">
                      <input type="text" class="form-control" [(ngModel)]="clientCompanyRegNo" name="clientCompanyRegNo" placeholder="Enter Company Reg No">
                      <label for="address">Company Reg No.</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-floating mb-3 mt-3">
                      <input type="email" class="form-control" [(ngModel)]="clientCompanyType" name="clientCompanyType" placeholder="Select Company Type">
                      <label for="applicantEmail">Company Type</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-floating mb-3 mt-3">
                    <input type="email" class="form-control" [(ngModel)]="clientPhysicalAddress" name="clientPhysicalAddress" placeholder="Select Address">
                    <label for="applicantEmail">Address</label>
                  </div>



                </div>
                <div class="row" *ngIf="newClient">
                  <h5>Please upload a copy of your ID</h5>
                  <div class="input-group">
                    <input type="file" class="form-control" aria-describedby="inputGroupFileAddon04" aria-label="Upload">

                  </div>

                </div>
              </form>
            </div>

          </div>

          <!--Only if they are a client do they see these divs to create a new engineer and contractor-->
          <!--          <div class="container-fluid" *ngIf="client">
              <div class="card">
                <h3><span>Please create an engineer</span></h3>
              </div>
              <app-new-egineer></app-new-egineer>

              <div class="card" >
                <h3><span>Please create a contractor</span></h3>
              </div>

              <app-new-contractor></app-new-contractor>
            </div>-->
          <!--the applicant selecting an engineer-->
          <div class="card" *ngIf="isPlanning === false ">
            <h3><span>Please select an engineer</span></h3>
          </div>
          <!--      <div class="container-fluid">
                  <div class="row">
                    <button type="button" class="createNewEngin" (click)="openXl(content)">
                      Create New Engineer
                    </button>
                  </div>
                </div>-->
          <!--Table displaying the engineers-->
          <app-select-engineer-table [PrfessionalType]='Engineer' *ngIf="isPlanning === false"></app-select-engineer-table>


          <div class="card" *ngIf="isPlanning === false">
            <h3><span>Please select a contractor</span></h3>
          </div>
          <app-select-engineer-table [PrfessionalType]='Contractor' *ngIf="isPlanning === false"></app-select-engineer-table>



        </div>


      </form>
      <div class="cont">
        <button mat-raised-button color="primary" matStepperPrevious disabled>Back</button>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </mat-step>

    <!---------------------------------------------------------------Project Details----------------------------------------------------------->
    <mat-step>




      <ng-template matStepLabel>Project Details</ng-template>
      <div class="card">
        <h3><span>Project Details</span></h3>
      </div>
      <!--enterning project details-->
      <!--<app-project-details></app-project-details>-->
      <!--        <div class="form-floating ">
        <select class="form-select" [(ngModel)]="typeOfApplication" name="typeOfApplication" aria-label="Default select example" placeholder="Type of application">
          <option value="TOA">Type of application</option>
          <option value="Small">Small</option>
          <option value="Medium">Medium</option>
          <option value="Large">Large</option>
          <option value="Emergency">Emergency</option>
        </select>

      </div>-->

      <mat-form-field appearance="fill">
        <mat-label>Select type of application</mat-label>
        <mat-select [(ngModel)]="typeOfApplication" name="typeOfApplication">
          <mat-option value="Small">Small</mat-option>
          <mat-option value="Medium">Medium</mat-option>
          <mat-option value="Large">Large</mat-option>
          <mat-option value="Emergency">Emergency</mat-option>

        </mat-select>
      </mat-form-field>


      <div class="row">
        <!--          <div class="col">
                    <div class="form-floating mb-3 mt-3">
                      <input type="text" class="form-control" [(ngModel)]="notificationNumber" id="NotificationNo" placeholder="Enter Notification Number" name="notificationNo">
                      <label for="name">Notification Number</label>
                    </div>
                  </div>-->

        <div class="col">
          <!--  <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" [(ngModel)]="wbsNumber" id="WBSNo" placeholder="Enter WBS Number" name="wbsNo">
            <label for="name">WBS Number</label>
          </div>-->
          <!--            <div class="form-floating mb-3 mt-3">
                        <input type="text" class="form-control" [(ngModel)]="descriptionOfProject" id="Description" placeholder="Enter Description" name="descriptionOfProject">
                        <label for="name">Description of Proposed Construction Work</label>
                      </div>-->
        </div>
      </div>
      <div class="row">
        <!--          <div class="col">
                    <div class="form-floating mb-3 mt-3">
                      <input type="text" class="form-control" [(ngModel)]="physicalAddressOfProject" id="Address" placeholder="Enter Address" name="physicalAddressOfProject">
                      <label for="name">Physical Address</label>
                    </div>
                  </div>-->

        <div class="form-floating mb-3 mt-3">
          <input type="text" class="form-control" [(ngModel)]="natureOfWork" id="Email" placeholder="Enter Email" name="natureOfWork">
          <label for="name">Type/Nature of works to be undertaken</label>
        </div>


      </div>


      <button mat-raised-button color="draft" (click)="saveProjectAsDraft()">Save project as a draft</button>

      <div class="row">
        <div class="typeOfExcavation">

          <div class="card">
            <h3><span>Type of excavation</span></h3>
          </div>
          <div class="container-fluid">

            <mat-form-field>
              <mat-label>Types of excavation</mat-label>
              <mat-select [(ngModel)]="TOENAMES" multiple>
                <mat-option *ngFor="let TOE of TypeOfExcavationList" [value]="TOE.typeOfExcavationName">{{TOE.typeOfExcavationName}}</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
        </div>
      </div>



      <div class="card">
        <h3><span>Expected Start & End Dates </span></h3>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-floating mb-3 mt-3">
            <input type="date" class="form-control" [(ngModel)]="expectedStartDate" id="startDate" placeholder="Enter Start Date" name="expectedStartDate">
            <label for="name">Start Date</label>
          </div>
        </div>

        <div class="col">
          <div class="form-floating mb-3 mt-3">
            <input type="date" class="form-control" [(ngModel)]="expectedEndType" id="endDate" placeholder="" name="expectedEndType">
            <label for="name">Completion Date</label>
          </div>
        </div>
      </div>

      <!---------------------------------------------------------------Map----------------------------------------------------------->
      <div class="card" *ngIf="map">
        <h3><span>Location</span></h3>
      </div>
      <!--<app-project-details-map *ngIf="map"></app-project-details-map>-->
      <div *ngIf="map">
        <!--<div class="row">
          <div class="form-floating mb-3 mt-3">-->
        <!--<input type="text" class="form-control" [(ngModel)]="extApplicantPhyscialAddress" placeholder="Enter Address">-->
        <!--<input ngx-google-places-autocomplete class="form-control" [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" />
            <label for="applicantTellNo">Physical Address</label>
          </div>
        </div>-->
        <div class="container-fluid">
          <div class="alert alert-warning">
            <h4>Please draw a polygon around the area of interest, Below you will find buttons relating to their function. Please select draw to begin drawing. Once you are done drawing you may click save to commit this drawing or if you feel that you have made a mistake feel free to retry by clicking edit, and then on save.</h4>
            <h5>Shortcuts</h5>
            <p>Z: Undo<br />R: Redo<br />A: Rotate left <br />D: Rotate right<br />Enter: Complete the drawing<br />Double click: Complete the drawing<br />Mouse scroll wheel: Zoom-in/Zoom-out<br /></p>
          </div>
        </div>
        <app-project-details-map [data]="ARCGISAPIData"></app-project-details-map>



      </div>
      <div class="alert alert-warning" *ngIf="client">
        <h4>This project is being created for a client, because of this a drawing needs to be provided of the location of works on the next step.</h4>
      </div>





      <div class="cont">
        <button mat-raised-button color="primary" matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" matStepperNext [disabled]="shared.totalAddedFeatures<1">Next</button>
      </div>
    </mat-step>





    <!---------------------------------------------------------------uploading docs----------------------------------------------------------->

    <mat-step>
      <form>
        <ng-template matStepLabel>document uploads</ng-template>
      </form>
      <mat-list *ngFor="let manDoc of MandatoryDocumentsLinkedStagesList; let i=index" [attr.data-index]="i">
        <mat-list-item> {{manDoc.mandatoryDocumentName}}</mat-list-item>
        <mat-form-field>
          <div>
            <mat-toolbar>
              <!-- Display files names -->
              <input matInput [(ngModel)]="fileAttrs[i]" readonly name="name" />
              <!-- Browse Button -->
              <div class="row" style="margin-bottom:15px;">
                <div class="container-fluid">
                  <app-file-upload [UploadFor]="'CoverLetter'+i" (passFileName)="onPassFileName($event)"></app-file-upload>
                  <!--(onUploadFinished)="uploadFinished($event)"-->
                </div>
              </div>
            </mat-toolbar>
          </div>
        </mat-form-field>
      </mat-list>
      <div class="row">

        <button mat-raised-button color="green" (click)="onWayleaveCreate(CurrentUser.appUserId,false);">Create Application</button>
      </div>

      <div class="cont">
        <button mat-raised-button color="primary" matStepperPrevious>Back</button>

      </div>
    </mat-step>


  </mat-horizontal-stepper>
</div>


<!--choose existing-->
<ng-template #user let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Choose the user</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">

    <div class="container-fluid">
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
      </mat-form-field>

      <table mat-table [dataSource]="dataSourceLinkUsers" class="mat-elevation-z8">
        <!--*ngIf="showZoneUserTable"-->

        <ng-container matColumnDef="idNumber">
          <th mat-header-cell *matHeaderCellDef> ID Number </th>
          <td mat-cell *matCellDef="let element"> {{element.idNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="fullName">
          <th mat-header-cell *matHeaderCellDef> User Name </th>
          <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
        </ng-container>


        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Select</th>
          <td mat-cell *matCellDef="let i = index">

            <mat-radio-button class="example-margin" (click)="getUserID(i)"></mat-radio-button>
          </td>
       
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsLinkUsers"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsLinkUsers;"></tr>
      </table>

    </div>

  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-success" (click)="populateClientInfo();modal.close('Save click')">Save</button>
  </div>
</ng-template>

<!--end-->

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Creating a new engineer</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">

        <div class="row">
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" id="BpNoApplicant" [(ngModel)]="bpNoApplicant" placeholder="Enter BP Number" name="bpNoApplicant">
              <label for="bpNoApplicant">BP Number</label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" id="professionalRegNo" [(ngModel)]="professionalRegNo" placeholder="Professional Reg No" name="professionalRegNo">
              <label for="professionalRegNo">Professional Reg No.</label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" id="engineerIDNo" [(ngModel)]="engineerIDNo" placeholder="Engineer ID Number" name="engineerIDNo">
              <label for="engineerIDNo">ID Number</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" id="Name" [(ngModel)]="name" placeholder="Enter First Name" name="name">
              <label for="name">Name</label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" id="Surname" [(ngModel)]="surname" placeholder="Enter Surname" name="surname">
              <label for="surname">Surname</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="tel" class="form-control" id="ApplicantTel" [(ngModel)]="applicantTellNo" placeholder="Enter Tell No." name="applicantTellNo">
              <label for="applicantTellNo">Cell No.</label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="email" class="form-control" id="ApplicantEmail" [(ngModel)]="applicantEmail" placeholder="Enter Email" name="applicantEmail">
              <label for="applicantEmail">Email</label>
            </div>
          </div>
        </div>

      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="modal.close('Save click');onAddEngineer()">Save</button>
  </div>
</ng-template>
