USE [WayleaveManagementDB]
GO
/****** Object:  Table [dbo].[MandatoryDocumentUploads]    Script Date: 2023/08/10 09:05:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MandatoryDocumentUploads](
	[MandatoryDocumentID] [int] IDENTITY(1,1) NOT NULL,
	[MandatoryDocumentName] [nvarchar](max) NULL,
	[DateCreated] [datetime2](7) NOT NULL,
	[DateUpdated] [datetime2](7) NOT NULL,
	[CreatedById] [nvarchar](max) NULL,
	[isActive] [bit] NOT NULL,
	[MandatoryDocumentCategory] [nvarchar](max) NULL,
 CONSTRAINT [PK_MandatoryDocumentUploads] PRIMARY KEY CLUSTERED 
(
	[MandatoryDocumentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[MandatoryDocumentUploads] ON 

INSERT [dbo].[MandatoryDocumentUploads] ([MandatoryDocumentID], [MandatoryDocumentName], [DateCreated], [DateUpdated], [CreatedById], [isActive], [MandatoryDocumentCategory]) VALUES (1005, N'Plan', CAST(N'2023-06-13 14:51:17.4293592' AS DateTime2), CAST(N'2023-06-13 14:51:17.4293613' AS DateTime2), N'b78c5081-4902-4077-a157-40544d5ae645', 1, NULL)
INSERT [dbo].[MandatoryDocumentUploads] ([MandatoryDocumentID], [MandatoryDocumentName], [DateCreated], [DateUpdated], [CreatedById], [isActive], [MandatoryDocumentCategory]) VALUES (1006, N'Application Letter', CAST(N'2023-06-13 14:52:07.1611757' AS DateTime2), CAST(N'2023-06-13 14:52:07.1611766' AS DateTime2), N'b78c5081-4902-4077-a157-40544d5ae645', 1, NULL)
INSERT [dbo].[MandatoryDocumentUploads] ([MandatoryDocumentID], [MandatoryDocumentName], [DateCreated], [DateUpdated], [CreatedById], [isActive], [MandatoryDocumentCategory]) VALUES (1007, N'1) Application Letter', CAST(N'2023-07-19 11:36:24.0846633' AS DateTime2), CAST(N'2023-07-19 11:36:24.0846649' AS DateTime2), N'bd164785-3291-48fe-8727-1e80f31019a9', 1, N'Small')
SET IDENTITY_INSERT [dbo].[MandatoryDocumentUploads] OFF
