.alert-dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

  .alert-dialog h3 {
    margin-bottom: 20px;
  }

.mat-blue {
  background-color: #20c997;
  color: #fff;
}
