.floating-button {
  bottom: -220px;
  right: -989px;
  z-index: 1002;
  background-color: transparent;
}

i.fa.fa-cog {
  font-size: 26px;
}

h2 {
  margin-bottom: 12px;
  padding-bottom: 16px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  text-transform: capitalize;
}

h3 {
  margin: 44px 0 -29px;
  font-size: 28px;
  line-height: 36px;
}

button {
  outline: none !important;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

  a:focus,
  a:active,
  a:visited,
  a:hover {
    text-decoration: none;
    outline: none;

  }

  a:hover {
    color: #e73700;
  }

.carousel-container {
  position: relative;
  width: 80%; /* Adjust width as needed */
  margin: 0 auto;
}

.carousel {
  display: flex;
  overflow: hidden;
}

.carousel-item {
  flex: 0 0 auto;
  width: 100%; /* Adjust width as needed */
  display: none;
}

  .carousel-item.active {
    display: block;
  }



h2 {
  margin-bottom: 12px;
  padding-bottom: 16px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  text-transform: capitalize;
}

h3 {
  margin: 44px 0 -29px;
  font-size: 28px;
  line-height: 36px;
}

button {
  outline: none !important;
}
/******* Common Element CSS End *********/

/* -------- title style ------- */
.line-title {
  position: fixed;
}

  .line-title::before,
  .line-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    border-radius: 2px;
  }

  .line-title::before {
    width: 100%;
    background: #f2f2f2;
  }

  .line-title::after {
    width: 100%;
    background: #005870;
  }

/******* Middle section CSS Start ******/
/* -------- Landing page ------- */
.game-section {
}
.activeCard {
  border: 3px solid #3aa03a85;
}

  .game-section .owl-stage {
    margin: 15px 0;
    display: flex;
    display: -webkit-flex;
  }

.game-section .item {
  margin: 0 20px 41px;
  border: 1px solid #dfdfdf;
  width: 431px;
  height: 285px;
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  cursor: pointer;
  margin-top: 87px;
}

    .game-section .item.active {
      width: 500px;
      box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
      -webkit-box-shadow: 20px 16px 40px rgba(0, 0, 0, 0.25);
     
    }

    .game-section .item:after {
      content: "";
      display: block;
      position: absolute;
      height: 100%;
      width: 900px;
      left: 0;
      top: 0;
    }

  .game-section .item-desc {
    padding: 0 24px 12px;
    color: #005870;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transform: translateY(calc(100% - 54px));
    -webkit-transform: translateY(calc(100% - 54px));
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
  }

  .game-section .item.active .item-desc {
    transform: none;
    -webkit-transform: none;
  }

  .game-section .item-desc p .icon2 {
    opacity: 0;
    -webkit-transform: translateY(32px);
    transform: translateY(32px);
    transition: all 0.4s ease-in-out 0.2s;
    -webkit-transition: all 0.4s ease-in-out 0.2s;
  }

  .game-section .item.active .item-desc p .icon2 {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  .game-section .owl-theme.custom-carousel .owl-dots {
    margin-top: -20px;
    position: relative;
    z-index: 5;
  }
/******** Middle section CSS End *******/

/***** responsive css Start ******/

/*@media (min-width: 992px) and (max-width: 1199px) {
  h2 {
    margin-bottom: 32px;
  }

  h3 {
    margin: 44px 0 -29px;
    font-size: 28px;
    line-height: 36px;
  }


  .game-section {
  }

    .game-section .item {
      margin: 0 12px 60px;
      width: 260px;
      height: 360px;
    }



    .game-section .item-desc {
      transform: translateY(calc(100% - 46px));
      -webkit-transform: translateY(calc(100% - 46px));
    }
}


@media (min-width: 768px) and (max-width: 991px) {
  h2 {
    margin-bottom: 32px;
  }

  h3 {
    margin: 44px 0 -29px;
    font-size: 28px;
    line-height: 36px;
  }

  .line-title {
  }


  .game-section {
  }

    .game-section .item {
      margin: 0 12px 60px;
      width: 240px;
      height: 330px;
    }

      .game-section .item.active {
        width: 360px;
      }

    .game-section .item-desc {
      transform: translateY(calc(100% - 42px));
      -webkit-transform: translateY(calc(100% - 42px));
    }
}

@media (max-width: 767px) {
  body {
    font-size: 14px;
  }

  h2 {
    margin-bottom: 20px;
  }

  h3 {
    margin: 44px 0 -29px;
    font-size: 28px;
    line-height: 36px;
  }

  .line-title {
  }


  .game-section {
  }

    .game-section .item {
      margin: 0 10px 40px;
      width: 200px;
      height: 280px;
    }

      .game-section .item.active {
        width: 270px;
        box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
        -webkit-box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
      }

    .game-section .item-desc {
      padding: 0 14px 5px;
      transform: translateY(calc(100% - 42px));
      -webkit-transform: translateY(calc(100% - 42px));
    }
}*/

.actingDepFlexContainer {
  width: 1375px;
  white-space: nowrap;
}

.item-card {
  display: inline-block; /* Display items in a line */
  margin: 0 10px; /* Add some spacing between items */
}

.item {
  /* Style for individual item cards */
  /* Add your desired styles here */
}

.backgroundWLMS2 {
  width: 500px;
  height: 269px;
  position: absolute;
  top: -82px;
  z-index: 1;
}

.actingDepFlexContainer2 {
  display: flex;

}
.mat-activate {
  margin-left: 102px;
  margin-top: 98px;

}
.default{

}
.active{

}
.shapes{
    display:flex;
}

.loading-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255 255 255);
  z-index: 9999;
  animation: fadein 0.5s linear forwards;
}

.text {
  font-size: 24px;
  color: black;
  margin-top: 20px;
}

.text2 {
  font-size: 12px;
  color: black;
  margin-top: 10px;
}

.logo2 {
  width: 252px;
  height: 252px;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadein {

  0% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}
