<h1>You May Change Your Acting Department And Zone</h1>
<mat-form-field>
  <mat-label>Select A Department</mat-label>
  <mat-select [(ngModel)]="selectedDep" (change)="updateZoneList()">
    <mat-option *ngFor="let department of SubDepartmentList" [value]="department.subDepartmentId">
      {{ department.subDepartmentName }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Select A Zone</mat-label>
  <mat-select [(ngModel)]="selectedZone">
    <mat-option *ngFor="let zone of ZoneList" [value]="zone.zoneId">
      {{ zone.zoneName }}
    </mat-option>
  </mat-select>
</mat-form-field>-->

<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button cdkFocusInitial (click)="continue()">Continue</button>
</mat-dialog-actions>


