.mat-column-DocumentName {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 8% !important;
  width: 60% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-actions {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 8% !important;
  width: 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  text-align: center;
}

.mat-warn {
  margin-bottom: 10px;
  background-color: #f43636;
  color: #fff;
  margin: 10px;
}

table {
  width: 100%;
  margin-bottom: 20px;
}

.mat-blue {
  background-color: #369cf4;
  color: #fff;
  margin: 10px;
}

.mat-action {
  color: white;
  background-color: #005870;
  margin: 10px;
}

.mat-form-field {
  margin: 40px 0;
  width: 100%;
}

#uploadFile {
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 9;
  opacity: 0;
  height: 100%;
  cursor: pointer;
  position: absolute;
}
