<div class="splash flex" id="splashlogo">
  <div class="container2">
    <img src="assets/cctlogoblack.png" class="logo">
  </div>
</div>

<div class="area">
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <!--    <div id="stripes">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>-->
</div>
<div class="container-fluid ">
  <h4>Thank you for registering.</h4>
  <h5>We are awating feedback from your department manager to allow you access.</h5>
</div>



