<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<ng-template #internalOpt let-modal>
  <div class="modal-header">
    <h1 class="modal-title" id="modal-basic-title">As an internal applicant are you applying for :</h1>

  </div>
  <div class="modal-body">
    <form>
      <div class="container-fluid">


        <div class="cont2">
          <button mat-raised-button color="client" [class.cardactive]="option ==='client'" (click)="cardchange('client')"> <i class="fa fa-user-plus" aria-hidden="true"></i> Client</button>
          <button mat-raised-button color="internal" (click)="cardchange('internal')" [class.cardactive]="option ==='internal'"><i class="fa fa-user" aria-hidden="true"></i> Yourself</button>
        </div>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="sendOption();modal.dismiss('Cross click')">Continue</button>
  </div>

</ng-template>

