.mat-blue {
  margin: 10px;
  background-color: #005a71;
  color: white;
}
.mat-form-field {
  /*  margin: 10px 0;*/
  width: 100%;
}
table {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
  overflow-x: scroll;
}

.mat-column-Stage {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 8% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.loading-screen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  /* top: 0; */
  /* left: 0; */
  width: 100%;
  height: 100%;
  background: #fffffff2;
  z-index: 9999;
  animation: fadein 0.5s linear forwards;
  align-content: center;
  flex-wrap: nowrap;
  margin: 0 auto;
  border-radius: 30px;
}
.logo2 {
  width: 155px;
  height: 155px;
  animation: spin 4s linear infinite;
  /* justify-content: center; */
}
