<div class="row" style="margin-bottom:15px;">
  <div class="container-fluid">

    <!--<span class="upload" *ngIf="progress > 0">
      {{progress}}%
    </span>
    <span class="upload" *ngIf="message">
      {{message}}
    </span>-->


    <input type="file" #file placeholder="{{fileUploadName}}" (change)="uploadFile(file.files)" style="display:none;">
    <button mat-raised-button color="btn" matTooltip="Upload File" matTooltipPosition="above" type="button" class="btn btn-info" (click)="file.click()"><i class="fa fa-upload" style="font-size: 1em;"></i></button>
     
        
    
    
  </div>

</div>


