.animationSlideDown {
  animation: fade-in-bottom 0.5s ease-out;
}
.main {
  display: flex;
  justify-content: center;
  margin-bottom: 62px;
}
.cont3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  /* margin-bottom: 150px; */
}
h2 {

  margin-top: 200px;
  margin-bottom: 0px;
  text-align: center;
  font-family: 'Nunito';
  font-size: 55px;
  font-weight: 600;
}

.example-h2 {
  margin: 10px;
}
.cont2 {
  display: flex;
  padding: 10px;
  flex-direction: column;
  overflow: hidden;
}
h3 span {
  background-color: #ccdee2;
  padding: 0 10px;

  font-size: 23px;
}

.card {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 13%), 0 6px 20px 0 rgb(0 0 0 / 0%);
  margin: 20px;
  border-color: #f1f1f1;
  background-color: #ccdee2;
  margin-bottom: 50px;
  margin-top: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.detials {
  position: relative;
}

.card p {
  font-size: 17px;

  margin-top: 40px;
  z-index: 1000;
  transition: color 0.3s ease-out;
  
}

.example-card {
  margin-bottom: 10px;
  width:100%;
}
h3 {
  width: 30em;
  border-color: #00cdff;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  border-bottom: 1px solid #0487a7;
  line-height: 0.1em;
  margin: 0 auto;
  padding-top: 50px;
  margin-bottom: 50px;
  justify-content: space-around;
}

.mat-form-field {
  /*  margin: 10px 0;*/
  width: 100%;
  height: auto;
}

.cont {
  margin-top: 30px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.textFuckingBox {
  display: none;
}

.container04 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: nowrap;
}

.cont {
  margin-top: 30px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.mat-stepper {
  animation-duration: 0s;
}
.mat-action {

  background-color: #d57d38;
  margin: 10px;
  margin-bottom: 153px;
  margin-top: 50px;
}

.mat-blue {
  margin: 5px;
  background-color: #9FA8DA;
  width: auto;

}

.mat-orange {
  margin: 5px;
  background-color: #ff9900;

  width: auto;
}

table {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
  overflow-x: scroll;
}
.mat-column-DocumentName {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 8% !important;
  width: 30% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  text-align: left;
}
.mat-column-actions {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 8% !important;
  width: 12% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  text-align: center;
}
:host ::ng-deep .mat-tab-label-active {
  background-color: #d57d38;

  border-radius: 20px;
}


.mat-menu-item:hover {
  background-color: #ccdee2;
}

:host ::ng-deep.mat-tab-list {
  flex-grow: 1;
  position: relative;
  transition: transform 500ms cubic-bezier(0.35, 0, 0.25, 1);
  background-color: #d5d5d55c !important;
  border-radius: 20px !important;
}

:host ::ng-deep.mat-ink-bar {
  background-color: rgb(240 240 240 / 0%) !important;
}

.alert-info {
  background: #00807061 !important;
  border: none !important;
  box-shadow: 2px 3px 7px 0px #23bdad66 !important;
/*  color: #26e9d0 !important;*/
  text-align: center !important;
}
.alert-other {
  background: #6e008061 !important;
  border: none !important;
  box-shadow: 2px 3px 7px 0px #a020b561 !important;
/*  color: #ef8bff !important;*/
  text-align: center !important;
}

.cardApprove {
  height: 80px;
  border-radius: 50px;
  border: 2px solid;
  border-color: #046b02;
  box-sizing: border-box;
  padding: 10px 15px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: start;
  justify-content: flex-start;
  align-content: center;
  flex-direction: row;
  margin-top: 10px;
}



.waveApprove {
  position: absolute;
  transform: rotate(90deg);
  left: -31px;
  top: 32px;
  width: 80px;
  fill: #04e4003a;
}

.icon-containerApprove {
  width: 70px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #046b02;
  border-radius: 100%;
  margin-left: 0;
}

.iconApprove {
  width: 100px;
  color: #269b24;
}

.message-text-container  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
}

.message-textApprove,
.sub-textApprove {
 
  margin: 0;
  cursor: default;
}

.message-textApprove {
  color: #269b24 !important;
  font-size: 17px;
  font-weight: 700;
}

.sub-text {
 
  font-size: 14px;
  color: #555;
}

.cross-icon {
  width: 18px;
  height: 18px;
  color: #555;
  cursor: pointer;
}
.commentbox {
  width: 100%;
  margin-left:10px;
}

.cardReject {
  height: 80px;
  border-radius: 50px;
  border: 2px solid;
  border-color: #730303;
  padding: 10px 15px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: start;
  justify-content: flex-start;
  align-content: center;
  flex-direction: row;
  margin-top: 10px;
}



.waveReject {
  position: absolute;
  transform: rotate(90deg);
  left: -31px;
  top: 32px;
  width: 80px;
  fill: #04e4003a;
}

.icon-containerReject {
  width: 70px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #730303;
  border-radius: 100%;
  margin-left: 0;
}

.iconReject {
  width: 100px;
  color: #269b24;
}



.message-textReject,
.sub-textReject {
  margin: 0;
  cursor: default;
}

.message-textReject {
  color: #730303 !important;
  font-size: 17px;
  font-weight: 700;
}





.cardClarify {
  height: 80px;
  border-radius: 50px;
  border-block-color: #046b02;
  box-sizing: border-box;
  padding: 10px 15px;
  border: 2px solid;
  border-color: #d57d38;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: start;
  justify-content: flex-start;
  align-content: center;
  flex-direction: row;
  margin-top: 10px;
}



.waveClarify {
  position: absolute;
  transform: rotate(90deg);
  left: -31px;
  top: 32px;
  width: 80px;
  fill: #04e4003a;
}

.icon-containerClarify {
  width: 70px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d57d38;
  border-radius: 100%;
  margin-left: 0;
}

.iconClarify {
  width: 100px;
  color: #269b24;
}



.message-textClarify,
.sub-textClarify {
  margin: 0;
  cursor: default;
}

.message-textClarify {
  color: #d57d38 !important;
  font-size: 17px;
  font-weight: 700;
}





.cardRelaxation {
  height: 80px;
  border-radius: 50px;
  box-sizing: border-box;
  padding: 10px 15px;
  border: 2px solid;
  border-color: #0be7fd;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: start;
  justify-content: flex-start;
  align-content: center;
  flex-direction: row;
  margin-top: 10px;
}



.waveRelaxation {
  position: absolute;
  transform: rotate(90deg);
  left: -31px;
  top: 32px;
  width: 80px;
  fill: #04e4003a;
}

.icon-containerRelaxation {
  width: 70px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0be7fd;
  border-radius: 100%;
  margin-left: 0;
}

.iconRelaxation {
  width: 100px;
  color: #269b24;
}



.message-textRelaxation,
.sub-text{
  margin: 0;
  cursor: default;
  padding-left :10px;
}

.message-textRelaxation {
  color: #0be7fd !important;
  font-size: 17px;
  font-weight: 700;
}


.messageHead {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.mat-clarify {
  background-color: #f48a36;

  margin-bottom: 17px;
}
.messageFoot {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  padding-left: 20px;
}

.viewReply {
  width: 90%;
  border: 2px solid;
  border-color: #d57d38;
  background: white;

  font-weight: bolder;
  font-size: 17px;
  margin-left: 30px;
}
.replyRow {
  display: flex;
 
}

.mat-clarify2 {
  background-color: #f48a36;
  margin: 5px;
}

.RelaxationDocumentsUploads {
  box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
}
