<div class="cont5">
  <!--<button mat-raised-button color="createWayleave" (click)="openXl(content)">Action Center</button>-->
  <button mat-raised-button color="createWayleave" (click)="actionCentreView(content)" *ngIf="!EMBLoggedIn">Action Center</button>
  <button mat-raised-button color="createWayleave" (click)="onGoToEscalationActionCentre(escalatedToEMB)"  *ngIf="EMBLoggedIn">Action Center</button>
</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h1 class="modal-title">Action Center: {{ACHeader}}</h1>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body" *ngIf="CurrentApplication.isPlanning != true">
    <div class="cont">
      <!--<button mat-raised-button color="blue" *ngIf="CanAssignDepartment == true && canCommentFinalApprover == false && showPermitTab === false" (click)="openAssignDepartment(assign)">Assign Department to Project</button>-->
      <!--<button mat-raised-button color="blue" *ngIf="AssignProjectToZone == true && canCommentFinalApprover == false && showPermitTab === false" (click)="openAssignToZone(assignProjectToZone)">Assign Project to Zone</button>-->
      <!-- actionCentreEdits Sindiswa 16 January 2024 -->
      <button mat-raised-button color="blue" *ngIf="AssignUserForComment == true && canCommentFinalApprover == false && canCommentSeniorReviewer == false && showPermitTab === false && hasReviewerAssignment == false" (click)="openAssignToUser(assignProjectToUser)">Assign User For Comment</button>
      <button mat-raised-button color="blue" *ngIf="AssignUserForComment == true && canCommentFinalApprover == false && canCommentSeniorReviewer == false && showPermitTab === false && hasReviewerAssignment == true" (click)="openAssignToUser(assignProjectToUser)">Assign Another User For Comment</button>
      <!-- endof actionCentreEdits Sindiswa 16 January 2024 -->
      <!-- <button mat-raised-button color="blue" *ngIf="hopperButton == true" (click)="onHopperClick()">Hopper</button>-->
    </div>

    <br>
    <mat-divider *ngIf="AssignUserForComment == true && canCommentFinalApprover == false && showPermitTab === false"></mat-divider>
    <!--    <mat-form-field>
      <mat-label>Select A Comment From Your Comment Builder</mat-label>
      <mat-select [(value)]="select" (selectionChange)="filterDepartment()" [(ngModel)]="selectDepFilterName">
        <mat-option *ngFor="let comment of CommentList" value="{{comment.commentID}}">{{comment.commentName}}</mat-option>
      </mat-select>
    </mat-form-field>-->



    <br>
    <mat-form-field class="example-full-width" *ngIf="canComment == true || canCommentFinalApprover == true || canCommentSeniorReviewer == true">
      <!--  || canCommentFinalApprover == true-->
      <mat-label>Type new Comment/Special Condition. Please also make reference to the Services Conditions tab, if documents have been uploaded. </mat-label> <!-- actionCentreEdits Sindiswa 15 January 2024-->
      <textarea matInput [(ngModel)]="leaveAComment" placeholder="Eg. This is good" id="myTextarea"></textarea>


    </mat-form-field>
    <div class="cont2">

      <button mat-raised-button color="purple" [matMenuTriggerFor]="menu" (click)="getAllCommentsByUserID()" *ngIf="canComment == true || canCommentFinalApprover == true || canCommentSeniorReviewer == true">Select A Comment From Your Comment Builder</button>
      <!--     <button mat-raised-button color="purple" (click)="openBottomSheet()">Select A Comment From Your Comment Builder</button>
      -->
      <!--<mat-menu #menu="matMenu" xPosition="before">-->
      <!-- actionCentreEdits Sindiswa 15 January 2024 - a blank box will NO LONGER SHOW if comment list length is less than 1-->
      <mat-menu #menu="matMenu" yPosition="above" width="100%">
        <ng-container *ngIf="CommentDropDown.length > 0; else noComments"> <button mat-menu-item *ngFor="let comment of CommentDropDown" value="{{comment.commentID}}" (click)="populateComment(comment.commentName)">{{comment.commentName}} </button></ng-container>
        <ng-template #noComments>
          <p style="padding: 10px; color: red; font-style: italic;">There are no comments in your comment collection.</p>
        </ng-template><!--  <button type="button" mat-menu-item *ngFor="let comment of CommentDropDown" value="{{comment.commentID}}" (click)="populateComment(comment.commentName)"> <span [innerHTML]="sanitizeHTML(comment.commentName)"></span></button>-->

      </mat-menu>
    </div>


    <div class="cont2" *ngIf="canComment == true && canCommentFinalApprover == false && canCommentSeniorReviewer == false">
      <button mat-raised-button color="approveBTN" (click)="onComment('Approve')"><img src="assets/fontawesome-free-6.4.2-web/svgs/regular/thumbs-up-solid.svg" class="icon"> Prov. Approved</button>
      <button mat-raised-button color="rejectBTN" (click)="onComment('Reject')"><img src="assets/fontawesome-free-6.4.2-web/svgs/regular/thumbs-down-solid.svg" class="icon">   Prov. Not Approved</button>
      <button mat-raised-button color="clarifyBTN" (click)="onComment('Clarify');sendOption()"><img src="assets/fontawesome-free-6.4.2-web/svgs/regular/comment-solid.svg" class="icon">  Clarify</button>
      <button mat-raised-button color="referBTN" (click)="onComment('Refer')"><img src="assets/fontawesome-free-6.4.2-web/svgs/regular/retweet-solid-white.svg" class="icon">  Refer</button>

    </div>

    <div class="cont2" *ngIf="canCommentSeniorReviewer == true && canCommentFinalApprover == false">
      <button mat-raised-button color="approveBTN" (click)="onCommentSR('Approve')"><img src="assets/fontawesome-free-6.4.2-web/svgs/regular/thumbs-up-solid.svg" class="icon">   Prov. Approved</button>
      <button mat-raised-button color="rejectBTN" (click)="onCommentSR('Reject')"><img src="assets/fontawesome-free-6.4.2-web/svgs/regular/thumbs-down-solid.svg" class="icon"> Prov. Not Approved</button>
      <button mat-raised-button color="clarifyBTN" (click)="onCommentSR('Clarify');sendOption()"><img src="assets/fontawesome-free-6.4.2-web/svgs/regular/comment-solid.svg" class="icon">  Clarify</button>
      <button mat-raised-button color="returnToReviewerBTN" (click)="onReturnToReviewerClick()"><i class="fa fa-reply" aria-hidden="true"></i>  Return To Reviewer</button>
      <button mat-raised-button color="consultWithReviewerBTN" (click)="onReviewerClarityClick()"><i class="fa fa-comments" aria-hidden="true"></i>  Consult With Reviewer</button> <!---->

    </div>
    <div class="cont2" *ngIf="canCommentFinalApprover == true && canCommentSeniorReviewer == false">
      <!-- -->
      <button mat-raised-button color="approveBTN" (click)="FinalApprove('Approve')"><img src="assets/fontawesome-free-6.4.2-web/svgs/regular/thumbs-up-solid.svg" class="icon">  Approved</button>
      <button mat-raised-button color="rejectBTN" (click)="FinalApprove('Reject')"><img src="assets/fontawesome-free-6.4.2-web/svgs/regular/thumbs-down-solid.svg" class="icon"> Not Approved</button>

      <button mat-raised-button color="clarifyBTN" (click)="onCommentFA('Clarify');sendOption()"><img src="assets/fontawesome-free-6.4.2-web/svgs/regular/comment-solid.svg" class="icon">  Clarify</button>
      <button mat-raised-button color="returnToReviewerBTN" (click)="onReturnToReviewerClick()"><i class="fa fa-reply" aria-hidden="true"></i>  Return To Reviewer</button>
      <button mat-raised-button color="returnToSeniorReviewerBTN" (click)="onReturnToSeniorReviewerClick()"><i class="fa fa-reply" aria-hidden="true"></i>  Return To Senior Reviewer</button>

    </div>
    <div class="cont3">
      <!--this is for the wbs number -->
      <div *ngIf="WBSCHeckBox">
        <mat-checkbox class="example-margin" *ngIf="canComment == true || canCommentSeniorReviewer == true && canCommentFinalApprover == false" [(ngModel)]="WBSCheck">WBS Number</mat-checkbox>
      </div>
      <div *ngIf="WBSRequestedAlreadyLabel">
        <label *ngIf="canComment == true || canCommentSeniorReviewer == true && canCommentFinalApprover == false">WBS Has Been Requested By A Department Already </label>
      </div>
      <!--This is for the document upload-->

      <mat-form-field *ngIf="CurrentApplication.isPlanning === true">
        <div>
          <mat-toolbar>

            <!-- <input matInput [(ngModel)]="fileAttrs[0]" readonly name="name" />-->

            <div class="row">
              <div class="container-fluid">
                <div class="row" style="margin-bottom:15px;">
                  <div class="container-fluid">

                    <input matInput [(ngModel)]="fileAttrs" readonly name="name" />
                    <!-- app-file-upload Component -->
                    <div class="row" style="margin-bottom:15px;">
                      <div class="container-fluid">
                        <app-file-upload [ApplicationID]="ApplicationID"
                                         [UploadFor]="fileAttrsName"
                                         (passFileName)="onPassFileName($event)"
                                         (onUploadFinished)="onFileDelete($event, 0)"
                                         (onUploadSuccess)="onFileUpload($event)">
                        </app-file-upload>
                      </div>
                    </div>




                  </div>

                </div>

              </div>
            </div>
          </mat-toolbar>
        </div>
      </mat-form-field>


      <!--  WBSCheck: boolean = false;
      checked: boolean = false;
      DepositCheck: boolean = false;-->
      <!--this is for the deposit required  (click)="saveDeposit(deposit)"-->
      <div *ngIf="DepositCHeckBox">
        <mat-checkbox class="example-margin" *ngIf="canComment == true || canCommentSeniorReviewer == true && canCommentFinalApprover == false" [(ngModel)]="DepositCheck" (click)="getAllServiceItmesForDropdown(deposit)">Deposit Required</mat-checkbox>
      </div>
    </div>


    <mat-spinner [diameter]="20" *ngIf="loading"></mat-spinner>
    <button mat-raised-button color="saveDoc" (click)="saveDocument()" *ngIf="CurrentApplication.isPlanning === true && saveBtn">Save</button>
    <div class="cont4" *ngIf="permit && canApprovePermit">
      <mat-form-field class="example-full-width">
        <!--|| canCommentFinalApprover == true-->
        <mat-label>Type new comment</mat-label>
        <textarea matInput [(ngModel)]="leaveACommentPermit" placeholder="Eg. This is good"></textarea>

      </mat-form-field>
      <button mat-raised-button color="purple" [matMenuTriggerFor]="menu" (click)="getAllCommentsByUserID()"><img src="assets/fontawesome-free-6.4.2-web/svgs/regular/comment-solid.svg" class="icon"></button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item *ngFor="let comment of CommentDropDown" value="{{comment.commentID}}" (click)="populateCommentPermit(comment.commentName)">{{comment.commentName}} </button>

      </mat-menu>


    </div>
    <div class="cont6" *ngIf="permit && canApprovePermit">
      <button mat-raised-button color="approvePermit" *ngIf="canApprovePermit" (click)="PermitIssue('Approve')">Approve Permit</button>
      <button mat-raised-button color="meetOnSite" *ngIf="canApprovePermit" (click)="PermitIssue('MeetOnSite')">Meet On Site</button>
      <button mat-raised-button color="rejectPermit" *ngIf="canApprovePermit" (click)="PermitIssue('Reject')">Reject Permit</button>
    </div>

  </div>
  <!-- Service Information Kyle 31/01/24-->
  <div class="modal-body" *ngIf="CurrentApplication.isPlanning === true">
    <div class="cont">
      <button mat-raised-button color="blue" *ngIf="AssignUserForComment == true && canCommentFinalApprover == false && canCommentSeniorReviewer == false && showPermitTab === false && hasReviewerAssignment == false" (click)="openAssignToUser(assignProjectToUser)">Assign User For Comment</button>
      <button mat-raised-button color="blue" *ngIf="AssignUserForComment == true && canCommentFinalApprover == false && canCommentSeniorReviewer == false && showPermitTab === false && hasReviewerAssignment == true && ServiceInfoDocumentsList.length == 0 " (click)="openAssignToUser(assignProjectToUser)">Assign Another User For Comment</button>
      <button mat-raised-button color="blue" *ngIf="AssignUserForComment == true && canCommentFinalApprover == false && canCommentSeniorReviewer == false && showPermitTab === false && hasReviewerAssignment == false" (click)=" AdminAssigningIsPlanningToSelf()">Assign To Myself</button>
    </div>
    <mat-tab-group *ngIf="CurrentApplication.isPlanning === true && hasReviewerAssignment === true">
      <mat-tab label="Upload Documents">


        <div class="cont">
          <mat-form-field *ngIf="CurrentApplication.isPlanning === true && hasReviewerAssignment === true">
            <div>
              <mat-toolbar>

                <!-- <input matInput [(ngModel)]="fileAttrs[0]" readonly name="name" />-->

                <div class="row">
                  <div class="container-fluid">
                    <div class="row" style="margin-bottom:15px;">
                      <div class="container-fluid">

                        <input matInput [(ngModel)]="fileAttrs" readonly name="name" />
                        <!-- app-file-upload Component -->
                        <div class="row" style="margin-bottom:35px;">
                          <div class="container-fluid">
                            <app-file-upload [ApplicationID]="ApplicationID"
                                             [isPlanningDoc]="CurrentApplication.isPlanning"
                                             [UploadFor]="fileAttrsName"
                                             (passFileName)="onPassFileName($event)"
                                             (onUploadFinished)="onFileDelete($event, 0)"
                                             (onUploadSuccess)="onFileUpload($event)">
                            </app-file-upload>
                          </div>
                        </div>




                      </div>

                    </div>

                  </div>
                </div>
              </mat-toolbar>
            </div>
          </mat-form-field>
        </div>
        <div class="modal-footer" *ngIf="CurrentApplication.isPlanning === true && hasReviewerAssignment === true">
          <button type="submit" class="btn btn-outline-success" (click)="onSaveDocumentUpload(content)">Save Upload</button>
        </div>
      </mat-tab>
      <mat-tab label="View Uploads" *ngIf="ServiceInfoDocumentsList.length > 0">
        <table mat-table class="mat-elevation-z8" [dataSource]="dataSourceServiceInfoDocuments">

          <ng-container matColumnDef="DocumentName">
            <th mat-header-cell *matHeaderCellDef>Document Name</th>
            <td mat-cell *matCellDef="let element"> {{element.DocumentName}} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>actions</th>
            <td mat-cell *matCellDef="let i = index">
              <button mat-raised-button color="blue2" matTooltip="View document"><img src="assets/fontawesome-free-6.4.2-web/svgs/regular/eye-solid-white.svg" class="icon"></button>
              <button mat-raised-button color="warn" matTooltip="Delete document" (click)="onDeleteDocument(i,content)"><img src="assets/fontawesome-free-6.4.2-web/svgs/regular/trash-can-solid-white.svg" class="icon"></button>
            </td>
            <td mat-cell *matCellDef="let element">  </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsDocs"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsDocs;"></tr>
        </table>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="cont6" *ngIf="ServiceInfoDocumentsList.length > 0">
    <button mat-raised-button color="approveBTN" (click)=" Approve() "><img src="assets/fontawesome-free-6.4.2-web/svgs/regular/thumbs-up-solid.svg" class="icon"> Move to next stage</button>
  </div>
  <!-- Service Information Kyle 31/01/24-->
</ng-template>


<!--modal for when they click deposit required-->
<!---->

<ng-template #escalatedToEMB let-modal>
  <div class="modal-header">
    <h1 class="modal-title">EMB Action Center</h1>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p class="text-center">Only {{this.departmentsDone}} out of {{this.totalDepartments}} departments have either final approved or final rejected the application. Would you like to send a reminder to the other department admins?</p>
    <mat-form-field class="example-full-width">
      <mat-label>Enter any additional notes for department admin(s) (optional).</mat-label>
      <textarea matInput [(ngModel)]="embMessage" placeholder="Type your additional notes here." id="myTextarea"></textarea>
    </mat-form-field>
    <div class="cont2">
      <button mat-raised-button color="clarifyBTN" (click)="sendEmailsToDepartments();modal.close('Save click');"><img src="assets/fontawesome-free-6.4.2-web/svgs/regular/paper-plane.svg" class="icon"> Send Reminder</button>

    </div>
    <hr />
    <table mat-table [dataSource]=" dataSourceViewDepartmentsForEMBComment" class="mat-elevation-z8">

      <ng-container matColumnDef="subDepartmentName">
        <th mat-header-cell *matHeaderCellDef> SubDepartment Name  </th>
        <td mat-cell *matCellDef="let element"> {{element.subDepartmentName}} </td>
      </ng-container>
      <ng-container matColumnDef="zoneName">
        <th mat-header-cell *matHeaderCellDef> Zone Name  </th>
        <td mat-cell *matCellDef="let element"> {{element.zoneName}} </td>
      </ng-container>


      <ng-container matColumnDef="progress"> <!--notifications Sindiswa 01 February 2024 - changed column name when text text was being formatted funny-->
        <th mat-header-cell *matHeaderCellDef> Progress </th>
        <td mat-cell *matCellDef="let i = index; let element">
          <!-- Display different text based on departmentDone and departmentYetToAssign -->
          <span *ngIf="element.departmentDone">End of Comment Process</span>
          <span *ngIf="element.departmentYetToAssign">No Reviewer has been assigned</span>
          <span *ngIf="!element.departmentDone && !element.departmentYetToAssign">In Process</span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef=" displayedColumnsViewDepartmentsForEMBComment"></tr>
      <tr mat-row *matRowDef="let row; columns:  displayedColumnsViewDepartmentsForEMBComment;"></tr>
    </table>

  </div>
</ng-template>

<ng-template #deposit let-modal>
  <div class="modal-header">
    <h1 class="modal-title">Deposit Required</h1>
    <button type="button" class="btn-close" aria-label="Close" (click)="uncheck();modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="depositRequired">

      <div class="row">
        <mat-form-field>
          <mat-label>Select A Service Item</mat-label>
          <mat-select [(value)]="selectSI" (selectionChange)="onPopulateDeposit()">
            <mat-option *ngFor="let serviceItemCode of ServiceItemCodeDropdown" value="{{serviceItemCode.serviceItemID}}">{{serviceItemCode.serviceItemCode}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>


      <div class="row">
        <mat-form-field class="example-full-width">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description" readonly></textarea>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="example-full-width">
          <mat-label>Remarks</mat-label>
          <textarea matInput formControlName="remarks"></textarea>
        </mat-form-field>
      </div>
      <div class="row">
        <div class="col">
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" formControlName="rate" placeholder="Enter Rate">
              <label for="rate">Rate</label>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" formControlName="quantity" placeholder="Enter Quantity">
            <label for="quantity">Quantity</label>
          </div>
        </div>
      </div>
      <div class="row">

        <div class="form-floating mb-3 mt-3">
          <input type="text" class="form-control" formControlName="total" placeholder="Enter Total" readonly>
          <label for="total">Total Amount(Vat Not Applicable)</label>
        </div>
        <div class="form-floating mb-3 mt-3" hidden>
          <input type="text" class="form-control" formControlName="vatApplicable" placeholder="Enter Total" hidden>
          <label for="total">VatApplicable</label>
        </div>
        <div class="alert alert-info" role="alert" *ngIf="totalCheck">Your Total Is : R{{totalAmount}}</div>
        <div class="alert alert-info" role="alert" *ngIf="totalCheckVat">Your Total Is : R{{totalAmount}}, Vat incl.</div>
      </div>

      <button mat-raised-button color="save" (click)="calculateTotalAmount()">Calculate Total</button>
    </form>
  </div>

  <div class="cont4">
    <button mat-raised-button color="warn" (click)="uncheck();modal.dismiss('Cross click')">Cancel</button>
    <button mat-raised-button color="save" (click)="onDepositRequiredClick();modal.close('Save click')">Save</button>

  </div>


</ng-template>

<ng-template #assign let-modal>
  <div class="modal-header">
    <h1 class="modal-title">Assign Department To Project</h1>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <mat-tab-group>
      <mat-tab label="Select departments">



        <table mat-table [dataSource]="dataSourceSubDepartment" class="mat-elevation-z8">

          <ng-container matColumnDef="subDepartmentName">
            <th mat-header-cell *matHeaderCellDef> Sub Department Name </th>
            <td mat-cell *matCellDef="let element"> {{element.subDepartmentName}} </td>
          </ng-container>


          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let i = index;let element">
              <mat-checkbox class="example-margin" (change)="departmentSelectedForLink(element)" [checked]="selection.isSelected(element)"></mat-checkbox>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsSubDepartment"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsSubDepartment;"></tr>
        </table>
      </mat-tab>

      <mat-tab label="View Selected Departments">

        <table mat-table [dataSource]="dataSourceLinkedSubDepartment" class="mat-elevation-z8">



          <ng-container matColumnDef="subDepartmentName">
            <th mat-header-cell *matHeaderCellDef> Sub Department Name </th>
            <td mat-cell *matCellDef="let element"> {{element.subDepartmentName}} </td>
          </ng-container>


          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let i = index;let element">
              <button mat-raised-button color="warn" (click)="deleteLinkedDepartmentForComment(i);modal.dismiss('Cross click');getAllSubDepartments()"><img src="assets/fontawesome-free-6.4.2-web/svgs/regular/trash-can-solid.svg" class="icon red"></button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsSubDepartment"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsLinkedSubDepartment;"></tr>
        </table>

      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-success" (click)="onLinkDepartmentForComment();modal.close('Save click');getAllSubDepartments()">Save</button>
  </div>

</ng-template>

<ng-template #assignProjectToZone let-modal>
  <div class="modal-header">
    <h1 class="modal-title">Assign Project to Zone</h1>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <mat-tab-group>
      <mat-tab label="Select Zones">



        <table mat-table [dataSource]="dataSourceViewLinkedSubZones" class="mat-elevation-z8">

          <ng-container matColumnDef="zoneName">
            <th mat-header-cell *matHeaderCellDef> Zone Name  </th>
            <td mat-cell *matCellDef="let element"> {{element.zoneName}} </td>
          </ng-container>


          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let i = index;let element">
              <mat-checkbox class="example-margin" (change)="zoneSelectedForLink(element)" [checked]="zoneSelection.isSelected(element)"></mat-checkbox>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsViewLinkedSubZones"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsViewLinkedSubZones;"></tr>
        </table>
      </mat-tab>

      <mat-tab label="Linked Zones">

        <table mat-table [dataSource]="dataSourceViewLinkedZones" class="mat-elevation-z8">



          <ng-container matColumnDef="zoneName">
            <th mat-header-cell *matHeaderCellDef> Zone Name </th>
            <td mat-cell *matCellDef="let element"> {{element.zoneName}} </td>
          </ng-container>


          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let i = index;let element">
              <button mat-raised-button color="warn" (click)="deleteLinkedZoneForComment(i);modal.dismiss('Cross click')"><img src="assets/fontawesome-free-6.4.2-web/svgs/regular/trash-can-solid.svg" class="icon red"></button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsViewLinkedZones"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsViewLinkedZones;"></tr>
        </table>

      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-success" (click)="onLinkZoneForComment();modal.close('Save click')">Save</button>
  </div>

</ng-template>
<!-- actionCenterReassignReviewer Sindiswa 16 January 2024-->
<ng-template #assignProjectToUser let-modal>
  <div class="modal-header">
    <h1 class="modal-title" *ngIf="hasReviewerAssignment == false">Assign User For Comment</h1>
    <h1 class="modal-title" *ngIf="hasReviewerAssignment == true">Assign Another User For Comment</h1>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <mat-tab-group>
      <mat-tab label="Select User(s)">

        <!--<div class="form-floating mb-3 mt-3" >
          <select class="form-select" aria-label="Default select example" formControlName="selectedZone" (change)="onSelectToPopulateZoneUsers($event,newUserLinkedToZone)">
            <option selected value="0">select a zone</option>
            <option *ngFor="let zone of ZoneDropdown" value="{{zone.zoneID}}">{{zone.zoneName}}</option>
          </select>

        </div>-->
        <p class="centered-paragraph" *ngIf="hasReviewerAssignment == true">This application has already been assigned to {{assignedReviewerName}}</p>
        <p class="centered-paragraph" *ngIf="hasReviewerAssignment == false">{{specialText}}</p>
        <table mat-table [dataSource]="dataSourceViewUsersForLink" class="mat-elevation-z8">






          <ng-container matColumnDef="fullName">
            <th mat-header-cell *matHeaderCellDef> User Name  </th>
            <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
          </ng-container>


          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let i = index;let element">
              <mat-radio-button class="example-margin" (change)="userSelectedForManualLink(element)" [checked]="UserSelectionForManualLink.isSelected(element)" [disabled]="element.fullName === assignedReviewerName">
              </mat-radio-button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsViewUsersForLink"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsViewUsersForLink;"></tr>
        </table>
      </mat-tab>

      <!-- endof actionCenterReassignReviewer Sindiswa 16 January 2024-->
      <mat-tab label="View Selected User(s) ">

        <!--<div class="form-floating mb-3 mt-3" *ngIf="showZone">
          <select class="form-select" aria-label="Default select example" formControlName="viewSelectedZone" (change)="onSelectToPopulateZoneUsers($event,newUserLinkedToZone)">
            <option selected value="0">select a zone</option>
            <option *ngFor="let zone of ZoneDropdown" value="{{zone.zoneID}}">{{zone.zoneName}}</option>
          </select>

        </div>-->

        <table mat-table [dataSource]="dataSourceViewUserForComment" class="mat-elevation-z8">







          <ng-container matColumnDef="fullName">
            <th mat-header-cell *matHeaderCellDef> User Name </th>
            <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
          </ng-container>


          <!--<ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let i = index;let element">-->
          <!-- <button mat-raised-button color="warn" (click)="deleteLinkedZoneForComment(i);modal.dismiss('Cross click')"><i class="fa fa-trash" aria-hidden="true"></i></button>-->
          <!--</td>
          </ng-container>-->

          <tr mat-header-row *matHeaderRowDef="displayedColumnsViewlinkedUserForComment"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsViewlinkedUserForComment;"></tr>
        </table>

        <!-- ADD A CLARIFY!! NB: 17 January 2024-->
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-success" (click)="modal.close('Save click');textWithReviewerAssign();onManuallyAssignUser();" *ngIf="hasReviewerAssignment == false">Save</button>
    <button type="submit" class="btn btn-outline-success" (click)="modal.close('Save click');openAssignToNewUser(adminNotes)" *ngIf="hasReviewerAssignment == true">Save</button>
  </div>

</ng-template>


<ng-template #depositOrWBSNumber let-modal>
  <div class="modal-header">
    <h1 class="modal-title">Approve</h1>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">


    <h3>Do you want to add a deposit required ?</h3>
    <h3>Do you want to add a WBS Number ?</h3>
    <div class="cont3">
      <button mat-button>No</button>
      <button mat-raised-button (click)="depositReqModal(deposit)">Yes</button>

    </div>

  </div>

</ng-template>


<!--This is for the wbs number-->

<ng-template #wbsNumberModal let-modal>
  <div class="modal-header">
    <h1 class="modal-title">WBS Number</h1>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="wbs">
      <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" formControlName="wbsnumber" placeholder="wbsnumber">
        <label for="wbsnumber">WBS Number</label>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-success" (click)="onCreateWBSNumber();modal.close('Save click')">Save</button>
  </div>
</ng-template>

<!-- actionCentreEdits Sindiswa 17 January 2024-->
<ng-template #adminNotes let-modal>
  <div class="modal-header">
    <h1 class="modal-title">Add a Note for Selected Reviewer</h1>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p class="centered-paragraph" *ngIf="hasReviewerAssignment == true">You're about to assign this application to {{newlySelectedReviewerName}}</p>
    <mat-form-field class="example-full-width">
      <mat-label>State why you're assigning this application to this new Reviewer. </mat-label>
      <textarea matInput [(ngModel)]="adminNote" placeholder="Eg. Application is being handed over because..." id="myTextarea"></textarea>
    </mat-form-field>
  </div>
  <div class="modal-footer">
    <button mat-raised-button color="clarifyBTN" (click)="textWithReviewerAssign();onManuallyAssignUser();modal.close('Save click')"><img src="assets/fontawesome-free-6.4.2-web/svgs/regular/comment-solid.svg" class="icon"> Assign </button>
  </div>
</ng-template>
<!-- endof actionCentreEdits Sindiswa 17 January 2024-->


