


<button class="actioncenter" (click)="openXl(content)"><a>Action Center</a></button>


<ng-template #content let-modal>
  <div class="modal-header">
    <h1 class="modal-title">Action center</h1>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <mat-accordion>

      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false" class="approve">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Approve
          </mat-panel-title>
        </mat-expansion-panel-header>
        <br>

        <button type="button" class="btn btn-outline-success">Approve</button>


      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false" class="reject">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Reject
          </mat-panel-title>

        </mat-expansion-panel-header>

        <br>

        <button type="button" class="btn btn-danger">Reject</button>


      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false" class="clarify">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Clarify
          </mat-panel-title>

        </mat-expansion-panel-header>

        <br>

        <button type="button" class="btn btn-warning">Clarify</button>


      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false" class="escalate">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Escalate
          </mat-panel-title>

        </mat-expansion-panel-header>

        <br>

        <button type="button" class="btn btn-info ">Escalate</button>

      </mat-expansion-panel>

    </mat-accordion>
  </div>
  <div class="modal-footer">

  </div>
</ng-template>
