table {
  width: 100%;
  overflow: auto;
  /* margin-bottom: 10px; */
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  /* border-radius: 20px; */
  box-shadow: none !important;
}
body{
    width:100%;
}
.mat-blue {
  margin-right: 5px;
  background-color: #ccdee2;
  color: #005870;
}
.mat-column-actions {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 8% !important;
  width: 1% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-raised-button {
  white-space: inherit !important;
}
/*.mat-blue {
  margin: 5px;
  background: #005870;
  width: 20px;
}*/
