<app-nav-menu ></app-nav-menu>
<link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap" rel="stylesheet">
<link _ngcontent-ng-cli-universal-c545="" href="https://fonts.googleapis.com/css?family=Roboto:300italic,400italic,400,100,300,600,700" rel="stylesheet" type="text/css">

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<!--<h1>Navbar</h1>-->

<div class="container-fluid main">

  <h1>Hi, {{CurrentUser.fullName}}</h1>
<h2>Welcome to your Dashboard</h2>
<button class="btn" (click)="goToNewWayleave()"><a><i class="fa fa-plus" > </i> Create New Wayleave</a></button>

<!--Tabs-->

<div class="main-container">
  <div class="heading">
    <h3><span>Recent Projects</span></h3>

  </div>
  <div class="cards">
    <div class="card card-1">
      <h4>Projects in : Processing</h4>
      <h1 class="num">6</h1>
      <p class="card__apply">
        <a class="card__link">View these projects</a>
      </p>
    </div>
    <div class="card card-2">
      <h4>Projects in : Declined</h4>
      <h1 class="num">2</h1>
      <p class="card__apply">
        <a class="card__link">View these projects</a>
      </p>
    </div>
    <div class="card card-3">
      <h4>Projects in : Paid</h4>
      <h1 class="num">9</h1>
      <p class="card__apply">
        <a class="card__link">View these projects</a>
      </p>
    </div>
    <div class="card card-4">
      <h4>Projects in : Approved</h4>
      <h1 class="num">12</h1>
      <p class="card__apply">
        <a class="card__link">View these projects</a>
      </p>
    </div>
    <div class="card card-5">
      <h4>Projects in : Invoiced</h4>
      <h1 class="num">1</h1>
      <p class="card__apply">
        <a class="card__link">View these projects</a>
      </p>
    </div>
  </div>
</div>
<!--END OF TABS-->

<div class="table container-fluid">
<!--  <table class="table table-hover table-xl border_bottom">
    <thead>
      <tr class="tableheader">
        <th scope="col" class="border-top-0">Status</th>
        <th scope="col" class="border-top-0">Project#</th>
        <th scope="col" class="border-top-0">Item Location</th>
        <th scope="col" class="border-top-0">Item Name</th>
        <th scope="col" class="border-top-0">Application Type</th>
        <th scope="col" class="border-top-0">Current Stage</th>
        <th scope="col" class="border-top-0">Date Created</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-truncate row_padding">
          <i class="la la-dot-circle-o  font-medium-1 mr-1"></i>
          Test
        </td>
        <td class="text-truncate row_padding">
          <a href="javascript:void(0);" (click)="viewProject()">TEST</a>
        </td>

        <td class="text-truncate row_padding">
          <span>TEST</span>
        </td>

        <td class="text-truncate row_padding">
          <span>TEST</span>
        </td>
        <td class="text-truncate row_padding">
          <span>
            TEST
          </span>
        </td>
        <td class="text-truncate row_padding">
          <span>TEST</span>
        </td>
        <td class="text-truncate row_padding">TEST</td>
      </tr>
    </tbody>
  </table>-->

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


    <ng-container matColumnDef="Stage">
      <th mat-header-cell *matHeaderCellDef>Stage</th>
      <td mat-cell *matCellDef="let element"> {{element.Stage}} </td>
    </ng-container>

    <ng-container matColumnDef="AplicationAge">
      <th mat-header-cell *matHeaderCellDef>Aplication Age</th>
      <td mat-cell *matCellDef="let element"> {{element.TestApplicationAge}} </td>
    </ng-container>

    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element"> {{element.Status}} </td>
    </ng-container>

    <ng-container matColumnDef="StageAge">
      <th mat-header-cell *matHeaderCellDef>Stage Age</th>
      <td mat-cell *matCellDef="let element"> {{element.TestApplicationStageAge}} </td>
    </ng-container>

    <ng-container matColumnDef="FullName">
      <th mat-header-cell *matHeaderCellDef>Full Name</th>
      <td mat-cell *matCellDef="let element"> {{element.FullName}} </td>
    </ng-container>

    <ng-container matColumnDef="TypeOfApplication">
      <th mat-header-cell *matHeaderCellDef>Type Of Application</th>
      <td mat-cell *matCellDef="let element"> {{element.TypeOfApplication}} </td>
    </ng-container>

    <ng-container matColumnDef="DateCreated">
      <th mat-header-cell *matHeaderCellDef>Date Created</th>
      <td mat-cell *matCellDef="let element"> {{element.DateCreated}} </td>
    </ng-container>




    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let i = index">

        <button mat-raised-button color="blue" matTooltip="View Application" (click)="viewProject(i)"><i class="fa fa-eye"></i></button>
        <button mat-raised-button color="warn" matTooltip="Escalate"><i class="fa fa-arrow-circle-up"></i></button>



      </td>
      <td mat-cell *matCellDef="let element">  </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
  </div>
