<!-- Stepper JavaScript -->
<div class="nav">
  <div class="nav-header">
    <div class="nav-title">
      <img src="assets/cctlogoblack.png" alt="" class="logo">

    </div>

  </div>
  <div class="cont4">
    <button mat-raised-button color="primary" (click)="refresh();">Back To Login</button>
  </div>
</div>




<div class="container-fluid ">
  <h2>Creating a new user</h2>


  <mat-horizontal-stepper>


    <mat-step label="Personal Information">


      <div class="container-fluid ">

        <!--External Applicant-->
        <div class="external" *ngIf="showExternal">
          <h5>Please enter your details as an External Applicant</h5>
          <div class="row">
            <div class="col">
              <div class="form-floating mb-3 mt-3">
                <input type="text" class="form-control" [(ngModel)]="extApplicantBpNoApplicant" placeholder="Enter BP Number">
                <label for="bpNoApplicant">BP Number</label>
              </div>
            </div>
            <div class="col">
              <div class="form-floating mb-3 mt-3">
                <input type="text" class="form-control" [(ngModel)]="extApplicantCompanyName" placeholder="Enter Company Name">
                <label for="address">Company Name</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-floating mb-3 mt-3">
                <input type="text" class="form-control" [(ngModel)]="extApplicantCompanyRegNo" placeholder="Enter Company Reg No">
                <label for="address">Company Reg No.</label>
              </div>
            </div>
            <div class="col">
              <div class="form-floating mb-3 mt-3">
                <input type="email" class="form-control" [(ngModel)]="extApplicantCompanyType" placeholder="Select Company Type">
                <label for="applicantEmail">Company Type</label>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col">
              <div class="form-floating mb-3 mt-3">
                <input type="text" class="form-control" [(ngModel)]="extApplicantName" placeholder="Enter First Name" disabled>
                <label for="name">Name</label>
              </div>
            </div>
            <div class="col">
              <div class="form-floating mb-3 mt-3">
                <input type="text" class="form-control" [(ngModel)]="extApplicantSurname" placeholder="Enter Surname" disabled>
                <label for="surname">Surname</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="form-floating mb-3 mt-3">
                <input type="tel" class="form-control" [(ngModel)]="extApplicantTellNo" placeholder="Enter Tell No.">
                <label for="applicantTellNo">Cell No.</label>
              </div>
            </div>
            <div class="col">
              <div class="form-floating mb-3 mt-3">
                <input type="email" class="form-control" [(ngModel)]="extApplicantEmail" placeholder="Enter Email" disabled>
                <label for="applicantEmail">Email</label>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col">
              <div class="form-floating mb-3 mt-3">
                <!--<input type="text" class="form-control" [(ngModel)]="extApplicantPhyscialAddress" placeholder="Enter Address">-->
                <input ngx-google-places-autocomplete class="form-control" [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" />
                <label for="applicantTellNo">Physcial Address</label>
              </div>
            </div>
            <div class="col">
              <div class="form-floating mb-3 mt-3">
                <input type="text" class="form-control" [(ngModel)]="extApplicantIDNumber" placeholder="Enter ID Number">
                <label for="extApplicantIDNumber">ID Number</label>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" [(ngModel)]="extApplicantVatNumber" placeholder="Enter Vat Number">
              <label for="extApplicantIDNumber">Vat Number</label>
            </div>
          </div>

          <div class="row">
            <h5>Please upload a copy of your ID</h5>
            <div class="input-group">
              <input type="file" class="form-control" [(ngModel)]="extApplicantIDUpload" aria-describedby="inputGroupFileAddon04" aria-label="Upload">

            </div>

          </div>


        </div>
        <!--END-->
        <!--Internal Applicant-->
        <div class="internal" *ngIf="showInternal">
          <h5>Please enter your details as an Internal Applicant</h5>

          <div class="row">
            <div class="col">
              <div class="form-floating mb-3 mt-3">
                <input type="text" class="form-control" [(ngModel)]="internalApplicantName" placeholder="Enter First Name" disabled>
                <label for="name">Name</label>
              </div>
            </div>
            <div class="col">
              <div class="form-floating mb-3 mt-3">
                <input type="text" class="form-control" [(ngModel)]="internalApplicantSurname" placeholder="Enter Surname" disabled>
                <label for="surname">Surname</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="form-floating mb-3 mt-3">
                <select class="form-select" aria-label="Default select example" [(ngModel)]="internalApplicantDepartment" (change)="onSelectToPopulateZone($event)">
                  <option selected value="0">Select a department</option>
                  <option *ngFor="let department of DepartmentDropdown" value="{{department.departmentID}}">{{department.departmentName}}</option>
                </select>


              </div>
            </div>
            <div class="col">
              <div class="form-floating mb-3 mt-3">
                <select class="form-select" aria-label="Default select example" [(ngModel)]="selectedZone">
                  <option selected value="0">Select a zone</option>
                  <option *ngFor="let zone of ZoneDropdown" value="{{zone.zoneID}}">{{zone.zoneName}}</option>
                </select>

              </div>
            </div>
            <div class="col">
              <div class="form-floating mb-3 mt-3">
                <input type="text" class="form-control" [(ngModel)]="internalApplicantCostCenterOwner" placeholder="Enter Cost Center Owner">
                <label for="applicantTellNo">Cost Center Owner</label>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-floating mb-3 mt-3">
                <input type="text" class="form-control" [(ngModel)]="internalApplicantBranch" placeholder="Enter Branch">
                <label for="Branch">Branch</label>
              </div>
            </div>
            <div class="col">
              <div class="form-floating mb-3 mt-3">
                <input type="email" class="form-control" [(ngModel)]="internalApplicantCostCenterNo" placeholder="Enter Cost Center Number">
                <label for="applicantEmail">Cost Center Number</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-floating mb-3 mt-3">
                <input type="tel" class="form-control" [(ngModel)]="internalApplicantDirectorate" placeholder="Enter Tell No." hidden>
                <label for="applicantTellNo" hidden>Directorate</label>
              </div>
            </div>
          </div>
        </div>
        <!--END-->

      </div>
      <div class="cont2">
        <button mat-raised-button color="primary" matStepperPrevious disabled>Back</button>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step label="Engineer Information">

      <div class="container-fluid div">
        <app-new-egineer></app-new-egineer>

        <!--  <app-view-engineers-table></app-view-engineers-table>-->
        <!--     <div class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>You have added</strong> "name of engineer"
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>-->
      </div>
      <div class="cont2">
        <button mat-raised-button color="primary" matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step label="Contractor Information">

      <div class="container-fluid div">

        <app-new-contractor></app-new-contractor>

        <!-- <app-view-contractors-table></app-view-contractors-table>-->
      </div>
      <div class="cont2">
        <button mat-raised-button color="primary" matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step label="Finalize">

      <div class="container-fluid div">

        <h5>All of my details are correct</h5>
        <div class="row">
          <button class="save" (click)="onNewProfileCreate()">Save and create new user</button>
        </div>
      </div>
      <div class="cont2">
        <button mat-raised-button color="primary" matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" matStepperNext disabled>Next</button>
      </div>
    </mat-step>



  </mat-horizontal-stepper>

  <!--Personal Information-->
  <!--Engineer-->
  <!--Contractor-->
  <!--Final-->





</div>


