<button mat-raised-button color="create" (click)="openXl(content)">Add New Functional Area</button>

<!--table displaying the funcational areas-->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="functionalArea">
    <th mat-header-cell *matHeaderCellDef> Functional Area </th>
    <td mat-cell *matCellDef="let element"> {{element.FAName}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let i = index">
      <button mat-raised-button color="create" matTooltip="View functional area Details"><img src="assets/fontawesome-free-6.4.2-web/svgs/solid/pencil.svg" class="icon4"></button>
    </td>
    <td mat-cell *matCellDef="let element">  </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Creating a new Functional Area</h4>

    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">

    <form [formGroup]="addFunctionalArea" >

      <div class="form-group row">
        <label for="newFAName" class="col-sm-3 col-form-label">Functional Area </label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="newFAName" formControlName="newFAName" name="newFAName" placeholder="">
        </div>
      </div>

    </form>


  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-success" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>


<!--<ng-template #editFA let-modal class="mat-elevation-z8">

  <div class="modal-header">
    <h4 class="modal-title">Editing a functional area</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>

  <div class="modal-body">

    <div class="col">
      <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" id="professionalRegNo" [(ngModel)]="selectedDepartmentName" placeholder="Enter updated department name" name="selectedDepartmentName">
        <label for="selectedDepartmentName">New Department Name: </label>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-success" (click)="  updateDepartment();modal.close('Close click');">Update</button>
  </div>

</ng-template>-->


