<div class="container-fluid">


  <div class="row">
      <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" id="TypeOfApplication" placeholder="Type pf application" name="typeOfApplication" disabled>
        <label for="name">Type of application</label>
      </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" id="NotificationNo" placeholder="Enter Notification Number" name="notificationNo" disabled>
        <label for="name">Notification Number</label>
      </div>
    </div>

    <div class="col">
      <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" id="WBSNo" placeholder="Enter WBS Number" name="wbsNo" disabled>
        <label for="name">WBS Number</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" id="Address" placeholder="Enter Address" name="address" disabled>
        <label for="name">Physical Address</label>
      </div>
    </div>

    <div class="col">
      <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" id="Description" placeholder="Enter Description" name="desecription" disabled>
        <label for="name">Description of Proposed Construction Work</label>
      </div>
    </div>
  </div>




  <div class="row">
    <div class="col">
      <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" id="Email" placeholder="Enter Email" name="email" disabled>
        <label for="name">Type/Nature of works to be undertaken</label>
      </div>
    </div>
    <div class="col">
      <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" id="TypeOfExcavation" placeholder="Type of excavation" name="typeOfExcavation" disabled>
        <label for="name">Type of excavation</label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-floating mb-3 mt-3">
        <input type="date" class="form-control" id="startDate" placeholder="Enter Start Date" name="startdate" disabled>
        <label for="name">Start Date</label>
      </div>
    </div>

    <div class="col">
      <div class="form-floating mb-3 mt-3">
        <input type="date" class="form-control" id="endDate" placeholder="Enter end date" name="enddate" disabled>
        <label for="name">Completion Date</label>
      </div>
    </div>
  </div>

</div>
