<div class="container-fluid">

  <form [formGroup]="viewProjectDetails">
  <div class="row">
      <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control"  placeholder="Type of application" formControlName="typeOfApplication" readonly>
        <label for="name">Type of application</label>
      </div>
  </div>

  <div class="row">
<!--    <div class="col">
      <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control"  placeholder="Enter Notification Number" formControlName="notificationNumber" readonly>
        <label for="name">Notification Number</label>
      </div>
    </div>-->

    <!--<div class="col">
      <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control"  placeholder="Enter WBS Number" formControlName="WBSNo" readonly>
        <label for="name">WBS Number</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control"  placeholder="Enter Address" formControlName="physicalAddress" readonly>
        <label for="name">Physical Address</label>
      </div>
    </div>
-->
    <div class="col">
      <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control"  placeholder="Enter Description" formControlName="descriptionOfWork" readonly>
        <label for="name">Description of Proposed Construction Work</label>
      </div>
    </div>
  </div>




  <div class="row">
    <div class="col">
      <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control"  placeholder="Enter Email" formControlName="typeOfWorks" readonly>
        <label for="name">Type/Nature of works to be undertaken</label>
      </div>
    </div>
    <div class="col">
      <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control"  placeholder="Type of excavation" formControlName="typeOfExcavation" readonly>
        <label for="name">Type of excavation</label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control"  placeholder="Enter Start Date" formControlName="expectedStartDate" readonly>
        <label for="name">Start Date</label>
      </div>
    </div>

    <div class="col">
      <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control"  placeholder="Enter end date" formControlName="expectedEndDate" readonly>
        <label for="name">Completion Date</label>
      </div>
    </div>
  </div>
    </form>
</div>
