<div class="cont5">
  <h2 class="mat-dialog-title">{{this.CurrentUser.fullName}}'s Drafts</h2>

</div>
<p class="Nothing" *ngIf="DraftsList.length == 0"> You Currently Have No drafts</p>


<div *ngIf="DraftsList.length > 0 " class="mat-dialog-content">
  <table mat-table #draftsTable [dataSource]="draftDataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="ApplicationID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Application ID </th>
      <td mat-cell *matCellDef="let element"> {{element.ApplicationID}} </td>
    </ng-container>



    <ng-container matColumnDef="FullName">
      <th mat-header-cell *matHeaderCellDef>Full Name</th>
      <td mat-cell *matCellDef="let element"> {{element.FullName}} </td>
    </ng-container>

    <ng-container matColumnDef="TypeOfApplication">
      <th mat-header-cell *matHeaderCellDef>Type Of Application</th>
      <td mat-cell *matCellDef="let element"> {{element.TypeOfApplication}} </td>
    </ng-container>

    <ng-container matColumnDef="PhysicalAddressOfProject">
      <th mat-header-cell *matHeaderCellDef>Address Of Project</th>
      <td mat-cell *matCellDef="let element"> {{element.PhysicalAddressOfProject}} </td>
    </ng-container>

    <ng-container matColumnDef="NatureOfWork">
      <th mat-header-cell *matHeaderCellDef>Nature Of Work</th>
      <td mat-cell *matCellDef="let element"> {{element.NatureOfWork}} </td>
    </ng-container>

    <ng-container matColumnDef="ExcavationType">
      <th mat-header-cell *matHeaderCellDef>Excavation Type</th>
      <td mat-cell *matCellDef="let element">{{element.ExcavationType}}</td>
    </ng-container>



    <ng-container matColumnDef="DescriptionOfProject">
      <th mat-header-cell *matHeaderCellDef> Desription Of Project </th>
      <td mat-cell *matCellDef="let element"> {{element.DescriptionOfProject}} </td>
    </ng-container>

    <ng-container matColumnDef="DateCreated">
      <th mat-header-cell *matHeaderCellDef>Date Created </th>
      <td mat-cell *matCellDef="let element"> {{element.DateCreated}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let i = index">
        <button mat-raised-button color="orange" matTooltip="Select Draft" (click)=" onSelectDraft(i)" mat-dialog-close><i class="fa fa-pencil"></i></button>
        <button mat-raised-button color="warni" matTooltip="Delete Draft"><i class="fa fa-trash"></i></button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="draftTableColumns"></tr>
    <tr mat-row *matRowDef="let row; columns:draftTableColumns;"></tr>
  </table>
</div>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>

</mat-dialog-actions>
