table {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
  overflow-x: scroll;
}
.mat-warni {
  background-color: #9d2235;
  color: #fff;
}
.mat-orange {
  background-color: #ff9900;
  color: #fff;
}
