
<h1>Welcome {{this.CurrentUser.fullName}}</h1>

<div class="alert alert-info" role="alert" *ngIf="DraftsList.length == 0"> You Currently Have No drafts</div>


<div *ngIf="DraftsList.length > 0 ">
  <table mat-table #draftsTable [dataSource]="draftDataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="ApplicationID">
      <th mat-header-cell *matHeaderCellDef> Application ID </th>
      <td mat-cell *matCellDef="let element"> {{element.ApplicationID}} </td>
    </ng-container>

    

    <ng-container matColumnDef="FullName">
      <th mat-header-cell *matHeaderCellDef> Full Name </th>
      <td mat-cell *matCellDef="let element"> {{element.FullName}} </td>
    </ng-container>

    <ng-container matColumnDef="TypeOfApplication">
      <th mat-header-cell *matHeaderCellDef> Type Of Application </th>
      <td mat-cell *matCellDef="let element"> {{element.TypeOfApplication}} </td>
    </ng-container>

    <ng-container matColumnDef="PhysicalAddressOfProject">
      <th mat-header-cell *matHeaderCellDef> Physical Address Of Project </th>
      <td mat-cell *matCellDef="let element"> {{element.PhysicalAddressOfProject}} </td>
    </ng-container>

    <ng-container matColumnDef="NatureOfWork">
      <th mat-header-cell *matHeaderCellDef> Nature Of Work </th>
      <td mat-cell *matCellDef="let element"> {{element.NatureOfWork}} </td>
    </ng-container>

    <ng-container matColumnDef="ExcavationType">
      <th mat-header-cell *matHeaderCellDef>Excavation Type</th>
      <td mat-cell *matCellDef="let element">{{element.ExcavationType}}</td>
    </ng-container>


    
    <ng-container matColumnDef="DescriptionOfProject">
      <th mat-header-cell *matHeaderCellDef> Desription Of Project </th>
      <td mat-cell *matCellDef="let element"> {{element.DescriptionOfProject}} </td>
    </ng-container>

    <ng-container matColumnDef="DateCreated">
      <th mat-header-cell *matHeaderCellDef>Date Created </th>
      <td mat-cell *matCellDef="let element"> {{element.DateCreated}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let i = index">
        <button mat-raised-button color="orange" matTooltip="Select Draft" (click)=" onSelectDraft(i)"><i class="fa fa-pencil"></i></button>
        <button mat-raised-button color="warni" matTooltip="Delete Draft"><i class="fa fa-trash"></i></button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="draftTableColumns"></tr>
    <tr mat-row *matRowDef="let row; columns:draftTableColumns;"></tr>
  </table>
</div>
