<div *ngIf="dataSource.length === 0" style="text-align: center; padding-top: 20px;">
  <h3 style="text-align: center;">This is the original application, the applicant has not reapplied.</h3>
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 animationFadeIn" *ngIf="dataSource.length > 0">


  <ng-container matColumnDef="Stage">
    <th mat-header-cell *matHeaderCellDef>Stage</th>
    <td mat-cell *matCellDef="let element"> {{element.CurrentStage}} </td>
  </ng-container>

  <ng-container matColumnDef="ProjectNumber">
    <th mat-header-cell *matHeaderCellDef>Project Number</th>
    <td mat-cell *matCellDef="let element">
      <span class="processFlow"
            (click)="element?.ProjectNumber?.startsWith('WL') ? getLinkedZones(element.ApplicationID, processFlow) : null;"
            [class.disabled]="!element?.ProjectNumber?.startsWith('WL')">
        {{element?.ProjectNumber}}
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="AplicationAge">
    <th mat-header-cell *matHeaderCellDef>Application Age</th>
    <td mat-cell *matCellDef="let element"> {{element.TestApplicationAge}} Days</td>
  </ng-container>

  <ng-container matColumnDef="Status">
    <th mat-header-cell *matHeaderCellDef>Status</th>
    <td mat-cell *matCellDef="let element"> {{element.ApplicationStatus}} </td>
  </ng-container>

  <ng-container matColumnDef="StageAge">
    <th mat-header-cell *matHeaderCellDef>Stage Age</th>
    <td mat-cell *matCellDef="let element"> {{element.TestApplicationStageAge}} Days</td>
  </ng-container>

  <ng-container matColumnDef="FullName">
    <th mat-header-cell *matHeaderCellDef>Full Name</th>
    <td mat-cell *matCellDef="let element"> {{element.FullName}} </td>
  </ng-container>

  <ng-container matColumnDef="TypeOfApplication">
    <th mat-header-cell *matHeaderCellDef>Type</th>
    <td mat-cell *matCellDef="let element"> {{element.TypeOfApplication}} </td>
  </ng-container>

  <ng-container matColumnDef="DateCreated">
    <th mat-header-cell *matHeaderCellDef>Date Created</th>
    <td mat-cell *matCellDef="let element"> {{element.DateCreated}} </td>
  </ng-container>


  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let applications of ApplicationsList ; let i = index;let element">
      <div class="buttons">
        <button mat-raised-button color="blue" matTooltip="View Application" (click)="viewProject(i)"><img src="assets/fontawesome-free-6.4.2-web/svgs/regular/eye-solid.svg" class="icon"></button>
      </div>
    </td>
    <td mat-cell *matCellDef="let element">  </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<ng-template #processFlow let-modal>
  <div class="modal-header">
    <h6 class="modal-title" id="modal-basic-title">Process Flow</h6>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">

      <table mat-table [dataSource]="dataSourceViewLinkedZones" class="mat-elevation-z8">


        <ng-container matColumnDef="subDepartmentName">
          <th mat-header-cell *matHeaderCellDef>Sub Departments</th>
          <td mat-cell *matCellDef="let element"> {{element.subDepartmentName}} </td>
        </ng-container>

        <ng-container matColumnDef="zoneName">
          <th mat-header-cell *matHeaderCellDef>Zones</th>
          <td mat-cell *matCellDef="let element"> {{element.zoneName}} </td>
        </ng-container>






        <tr mat-header-row *matHeaderRowDef="displayedColumnsViewLinkedZones"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsViewLinkedZones;"></tr>
      </table>


    </div>
  </div>
  <div class="modal-footer">

    <button type="button" class="btn btn-light" (click)="modal.dismiss('Cross click')">Close</button>
  </div>

</ng-template>

