<div class="nav"  [ngClass]="{'transparent': isTransparent}">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <div class="nav-title" (click)="goHome()">
      <img src="assets/cctlogoblack.png" alt="" class="logo">
    </div>
  </div>
  <div class="nav-btn">
    <button mat-button matTooltip="Menu" (click)="openEnd(content)"><i class="fa fa-bars" aria-hidden="true"></i></button>
  </div>

  <div class="nav-links" *ngIf="Icons">
<!--    <button mat-button matTooltip="Frequently Asked Questions" (click)="openFAQModal(FAQModal)"><i class="fa fa-question" aria-hidden="true"></i></button>
    <button mat-button matTooltip="Cyberfox configs" (click)="goToCyberfoxCofig()" *ngIf="cyberfoxConfigs"><i class="fa fa-superpowers"></i></button>
    <button mat-button matTooltip="Repository" (click)="openRepositoryModal(repositoryModal)"><i class="fa fa-files-o" aria-hidden="true"></i></button>
    <button mat-button matTooltip="Comment Builder" (click)="getAllCommentsByUserID(commentBuilder)" *ngIf="isInternalUser"><i class="fa fa-comment"></i></button>
    <button mat-button matTooltip="Configurations" (click)="goToConfig()" *ngIf="Configurations"><i class="fa fa-cogs"></i></button>
    <button mat-button matTooltip="Notifications" (click)="getAllNotifications();openNotificationsModal(notificationsCenter)"><i class="fa fa-bell"></i></button>-->
    <button mat-button matTooltip="Menu" (click)="openEnd(content)"><i class="fa fa-bars" aria-hidden="true"></i></button>
<!--    <button mat-button [matMenuTriggerFor]="user"><img src="https://img.icons8.com/dusk/100/000000/user-male-circle.png" alt="" class="user-avatar-md rounded-circle"></button>-->
<!--    <mat-menu #user="matMenu">
      <button mat-menu-item (click)="goToSettings()">Settings</button>
      <a><button mat-menu-item (click)="LogoutUser()">Log Out</button></a>
    </mat-menu>-->
  </div>

</div>



<!--modal for comment builder-->
<ng-template #commentBuilder let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{CurrentUser.fullName}}'s Comment Builder</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="cont3">
      <form [formGroup]="addComment">
        <mat-form-field class="example-full-width">
          <mat-label>Type new comment</mat-label>
          <textarea matInput placeholder="Eg. This is good" formControlName="newCommentName"></textarea>
        </mat-form-field>

        <!--<mat-checkbox class="example-margin">Set as default</mat-checkbox>-->
        <button mat-raised-button color="green" (click)="modal.dismiss('Cross click');onCommentCreate(commentBuilder)"><i class="fa fa-save"></i></button>

      </form>
    </div>


    <table mat-table [dataSource]="dataSourceComment" class="mat-elevation-z8">


      <ng-container matColumnDef="Comment">
        <th mat-header-cell *matHeaderCellDef>Comment</th>
        <td mat-cell *matCellDef="let element"> {{element.Comment}} </td>
      </ng-container>



      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let i = index">

          <button mat-raised-button color="blue" matTooltip="Edit comment" (click)="viewEditComment(editComment,i)"><i class="fa fa-pencil"></i></button>
          <button mat-raised-button color="warn" matTooltip="Delete comment" (click)="onCommentDelete(i,commentBuilder);modal.dismiss('Cross click')"><i class="fa fa-trash"></i></button>

        </td>
        <td mat-cell *matCellDef="let element">  </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsComment"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsComment;"></tr>
    </table>


  </div>
</ng-template>

<!--create a new comment-->
<!--<ng-template #createNewComment let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create new comment</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="addComment" (ngSubmit)="onCommentCreate(commentBuilder)">
      <mat-form-field class="example-full-width">
        <mat-label>Type new comment</mat-label>
        <textarea matInput placeholder="Eg. This is good" formControlName="newCommentName"></textarea>
      </mat-form-field>
    </form>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-success" (click)="onCommentCreate(commentBuilder);modal.dismiss('Cross click')">Save</button>
  </div>
</ng-template>-->
<!--view comment-->
<ng-template #editComment let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Comment</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editComments">
      <mat-form-field class="example-full-width">
        <mat-label>Edit comment</mat-label>
        <textarea matInput formControlName="editCommentName"></textarea>
      </mat-form-field>
    </form>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-success" (click)="modal.dismiss('Cross click');onEditCommentSave(commentBuilder);modal.close('Save click')">Save</button>
  </div>
</ng-template>

<!--<h1>Navbar</h1>-->
<!--<div class="container-fluid">
  <div class="dashboard-header">
    <nav class="navbar navbar-expand-lg bg-white fixed-top">
      <a class="navbar-brand" (click)="goHome()"><img src="assets/cctlogoblack.png" alt="" class="logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto navbar-right-top">
        </ul>
        <ul class="navbar-nav ml-auto navbar-right-top">-->
<!--Cyberfox configs-->
<!--<button mat-button matTooltip="Cyberfox configs" (click)="goToCyberfoxCofig()" *ngIf="isInternalUser"><i class="fa fa-superpowers"></i></button>-->
<!--Comment builder-->
<!--<button mat-button matTooltip="Comment Builder" (click)="getAllCommentsByUserID(commentBuilder)" *ngIf="isInternalUser"><i class="fa fa-comment"></i></button>-->
<!--Configs-->
<!--<button mat-button matTooltip="Configurations" (click)="goToConfig()"><i class="fa fa-cogs" *ngIf="isInternalUser"></i></button>-->
<!--notifications-->
<!--<button mat-button matTooltip="Notifications" (click)="getAllNotifications();openNotificationsModal(notificationsCenter)"><i class="fa fa-bell"></i> <span *ngIf="notiBell" class="indicator"></span></button>-->
<!--User settings-->
<!--<button mat-button [matMenuTriggerFor]="user"><img src="https://img.icons8.com/dusk/100/000000/user-male-circle.png" alt="" class="user-avatar-md rounded-circle"></button>
<mat-menu #user="matMenu">
  <button mat-menu-item (click)="goToSettings()">Settings</button>
  <a><button mat-menu-item (click)="LogoutUser()">Log Out</button></a>
</mat-menu>-->
<!-- <li ngbDropdown class="nav-item dropdown nav-user">
  <a ngbDropdownToggle class="nav-link nav-user-img" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="https://img.icons8.com/dusk/100/000000/user-female-circle.png" alt="" class="user-avatar-md rounded-circle"></a>
  <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
    <div class="nav-user-info">
      <h5 class="mb-0 text-white nav-user-name">Jahdiel Sanjeevy</h5>

    </div>
    <a class="dropdown-item"><i class="fa fa-user mr-2"></i>Account</a>
    <a class="dropdown-item"><i class="fa fa-cog mr-2"></i>Setting</a>
    <a class="dropdown-item" href="#"><i class="fa fa-power-off mr-2"></i>Logout</a>
  </div>
</li>-->
<!--</ul>
      </div>
    </nav>
  </div>
</div>-->
<!--the notifications section-->
<ng-template #notificationsCenter let-modal>
  <div class="modal-header">
    <h1 class="modal-title" id="modal-basic-title">Notifications</h1>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="row1-container" *ngFor="let notificationsList of NotificationsList">
      <div class="box box-down blue">
        <div class="cont2">
          <h3>{{notificationsList.NotificationName}}</h3>
          <h4>Application {{notificationsList.ApplicationID}}</h4>
        </div>
        <p>Application {{notificationsList.NotificationDescription}} on {{notificationsList.DateCreated}}</p>
      </div>
    </div>
  </div>
</ng-template>


<!--Repository-->

<ng-template #repositoryModal let-modal>
  <div class="modal-header">
    <h1 class="modal-title" id="modal-basic-title">Document Repository</h1>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click');resetFilter()"></button>
  </div>
  <div class="modal-body">
    <button mat-raised-button color="green" (click)="onUploadFile(fileUpload)" *ngIf="uploadRepoDoc">Upload Document</button>

    <div class="container2">

      <!--This is to select the group from that department-->
      <mat-form-field>
        <mat-label>Filter by selecting a department</mat-label>
        <mat-select [(value)]="select" (selectionChange)="filterDepartment()">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let department of SubDepartmentList" value="{{department.subDepartmentID}}">{{department.subDepartmentName}}</mat-option>
        </mat-select>
      </mat-form-field>


      <!--This is to select the department-->
      <mat-form-field *ngIf="groupName">
        <mat-label>Filter</mat-label>
        <mat-select [(value)]="selected" (selectionChange)="onOptionSelected($event);filerGroupName()">
          <mat-option>General</mat-option>
          <mat-option value="option1">General Documents</mat-option>
          <mat-option value="option2">Terms and conditions</mat-option>
          <mat-option value="option3">Layout Plans</mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">



      <ng-container matColumnDef="DocumentName">
        <th mat-header-cell *matHeaderCellDef>Document</th>
        <td mat-cell *matCellDef="let element"> {{element.DocumentName}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>actions</th>
        <td mat-cell *matCellDef="let i = index">
          <button mat-raised-button color="blue" (click)="viewDocument(i)" matTooltip="View document"><i class="fa fa-eye"></i></button>
          <button mat-raised-button color="warn" matTooltip="Delete document" (click)="onDeleteRepositoryDocument(i,repositoryModal)" *ngIf="deleteRepoDoc"><i class="fa fa-trash"></i></button>
        </td>
        <td mat-cell *matCellDef="let element">  </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>
</ng-template>


<!--File Upload-->
<ng-template #fileUpload let-modal>
  <div class="modal-header">
    <h1 class="modal-title" id="modal-basic-title">Upload Document</h1>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>

  </div>
  <div class="modal-body">

    <!--This is to select the group from that department-->
    <mat-form-field>
      <mat-label>Filter by selecting a department</mat-label>
      <mat-select [(value)]="selectDepForUpload" (selectionChange)="selectDepartment()">
        <mat-option value="All Departments">All Departments</mat-option>
        <mat-option *ngFor="let department of SubDepartmentList" value="{{department.subDepartmentID}}">{{department.subDepartmentName}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Select an option</mat-label>
      <mat-select [(value)]="selected" (selectionChange)="onOptionSelected($event)">
        <mat-option>None</mat-option>
        <mat-option value="General Documents">General Documents</mat-option>
        <mat-option value="Terms and conditions">Terms and conditions</mat-option>
        <mat-option value="Layout Plans">Layout Plans</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <div>
        <mat-toolbar>

          <!-- Display files names -->
          <input matInput [(ngModel)]="fileAttrs" readonly name="name" />
          <!-- app-file-upload Component -->
          <div class="row" style="margin-bottom:15px;">
            <div class="container-fluid">
              <app-file-upload [ApplicationID]="isRep"
                               [UploadFor]="fileAttrsName"
                               (passFileName)="onPassFileName($event)"
                               (onUploadFinished)="onFileDelete($event, 0)"
                               (onUploadSuccess)="onFileUpload($event)"  *ngIf="selectDepForUpload != 0 && selected != 'none' && selected != undefined">
              </app-file-upload>
            </div>
          </div>
        </mat-toolbar>
      </div>
    </mat-form-field>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-success" (click)="save(repositoryModal);modal.close('Save click')">Save</button>
  </div>
</ng-template>



<!--FAQ-->
<ng-template #FAQModal let-modal>

  <div class="modal-body">
    <h1>Frequently Asked Questions (FAQ's)</h1>
    <mat-expansion-panel  *ngFor="let faqList of FAQList; let i = index">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Question : {{faqList.Question}}
        </mat-panel-title>
       
      </mat-expansion-panel-header>

        <mat-label>Answer : {{faqList.Answer}}</mat-label>


    </mat-expansion-panel>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-light" (click)="modal.dismiss('Cross click')">Close</button>
  </div>
</ng-template>




<!--Side Nav-->

<ng-template #content let-offcanvas>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvas-basic-title">Menu</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
  </div>
  <div class="offcanvas-body">
      <div class="sideNav" *ngIf="Icons">
      <button mat-button class ="sideNavIcons" (click)="openFAQModal(FAQModal)"><i class="fa fa-question" aria-hidden="true"></i>   Frequently Asked Questions</button>
      <button mat-button class ="sideNavIcons" (click)="goToCyberfoxCofig();offcanvas.dismiss('Cross click')" *ngIf="cyberfoxConfigs"><i class="fa fa-superpowers"></i>   Cyberfox Configs</button>
      <button mat-button class ="sideNavIcons" (click)="openRepositoryModal(repositoryModal)"><i class="fa fa-files-o" aria-hidden="true"></i>   Document Repository</button>
      <button mat-button class ="sideNavIcons" (click)="getAllCommentsByUserID(commentBuilder)" *ngIf="isInternalUser"><i class="fa fa-comment"></i>   Comment Builder</button>
      <button mat-button class ="sideNavIcons" (click)="goToConfig();offcanvas.dismiss('Cross click')" *ngIf="Configurations"><i class="fa fa-cogs"></i>   Configurations</button>
      <button mat-button class ="sideNavIcons" (click)="getAllNotifications();openNotificationsModal(notificationsCenter)"><i class="fa fa-bell"></i>   Notifications</button>
      <button mat-button class ="sideNavIcons" (click)="goToSettings();offcanvas.dismiss('Cross click')"><i class="fa fa-user-circle-o" aria-hidden="true"></i>   User Settings</button>
      <button mat-button class ="sideNavIcons" (click)="LogoutUser();offcanvas.dismiss('Cross click')"><i class="fa fa-sign-out" aria-hidden="true"></i>   Log Out</button>
    </div>
  </div>
</ng-template>
