* {
  box-sizing: border-box;

}


body {
  margin: 0px;
  font-family: 'segoe ui';
}
.logo {
  width: 100%;
  height: 50px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 6px;
}
.container2{
    display:flex;
}
.nav.transparent {
  background-color: transparent;
 /* Change the text color when transparent, if needed */
  box-shadow:none;
}

@keyframes fadeInOut {
  0% {
    background-color: rgba(255, 255, 255, 0); /* Fully transparent */
  }

  100% {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent */
  }
}
@keyframes swipeIn {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}


.nav {
  height: 68px;
  width: 100%;

  position: fixed;
  margin-bottom: -59px;
  display: flex;
  justify-content: space-between;
  top: 0;
  z-index: 2;
  box-shadow: 0 2px 20px 0 rgb(0 0 0 / 27%);
}

.mat-form-field {
  width: 100%;
  margin-top: 26px;
}

  .nav > .nav-btn {
    display: none;
  }

  .nav > .nav-links {
    display: flex;
    float: unset;
    font-size: 18px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: right;
  }
    .nav > .nav-links > a {
      display: inline-block;
      padding: 13px 10px 13px 10px;
      text-decoration: none;
      color: #efefef;
    }
      .nav > .nav-links > a:hover {
        background-color: rgba(0, 0, 0, 0.3);
      }
  .nav > #nav-check {
    display: none;
  }

@media (max-width:900px) {

  .logo {
    width: 100%;
    height: 50px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 6px;
  }
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 4px;
  }

    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }

      .nav > .nav-btn > label:hover, .nav #nav-check:checked ~ .nav-btn > label {
        color: #005870;
      }

      .nav > .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 1px;
        border-top: 2px solid #ababab;
        margin-top: 6px;
        padding-top: -10px;
      }

  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }

    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }

  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }

  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 648px);
    overflow-y: auto;
    z-index: 1;
    margin-top: 19px;
    background-color: #a5b3b7;
  }

  .nav-icons{
      display:none;
  }
}

.sideNav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.offcanvas{
    z-index:999999999999;
}











.mat-green {
  background-color: #005870;
  color: #fff;
}

.cont2 {
  display: flex;
}





.dashboard-header .navbar {
  padding: 0px;
  border-bottom: 1px solid #e6e6f2;
  box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
  -webkit-transition: all 0.3s ease;
  height: 70px;
}

a {
  color: black;
  text-decoration: none;
}

.mat-newComment {
  background-color: #2dd568;
  color: #fff;
  margin-bottom: 20px;
}

.mat-blue {
  margin-right: 5px;
  background-color: #ccdee2;
  color: #005870;
}


.mat-button {
  font-size: 16px;
}


.mat-column-Comment {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 8% !important;
  width: 60% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.example-full-width {
  width: 70%;
  margin-right: 40px;
}

.mat-column-actions {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 8% !important;
  width: 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  text-align: center;
}

.navbar-brand {
  display: inline-block;
  margin-right: 1rem;
  line-height: inherit;
  white-space: nowrap;
  padding: 11px 20px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: #007bff;
}

  .navbar-brand:hover {
    color: #007bff;
  }

.navbar-right-top {
}

  .navbar-right-top .nav-item {
    border-right: 1px solid #e6e6f2;
  }

    .navbar-right-top .nav-item:last-child {
      border: none;
    }

    .navbar-right-top .nav-item .nav-link {
      padding: 13px 20px;
      font-size: 16px;
      line-height: 2;
      color: #82849f;
    }


/* --  top-search-bar ---  */

.top-search-bar {
  padding-top: 12px;
  padding-right: 24px;
}


/* ------  Notification Dropdown --------  */

*.notification {
}

.notification-dropdown {
  min-width: 320px;
}

.notification-dropdown,
.connection-dropdown,
.nav-user-dropdown {
  padding: 0px;
  margin: 0px;
}

.notification-title {
  font-size: 14px;
  color: #3d405c;
  text-align: center;
  padding: 8px 0px;
  border-bottom: 1px solid #e3e3e3;
  line-height: 1.5;
  background-color: #fffffe;
}

.notification-list {
}



  .notification-list .list-group-item {
    border-radius: 0px;
    padding: 12px;
    margin-top: -1px;
    border-left: transparent;
    border-right: transparent;
  }

    .notification-list .list-group-item.active {
      z-index: 2;
      color: #3d405c;
      background-color: #f7f7fb;
      border-color: #e1e1e7;
    }

  .notification-list .list-group-item-action:focus,
  .list-group-item-action:hover {
    color: #404040;
    text-decoration: none;
    background-color: #f7f7fb;
  }

  .notification-list .list-group-item:last-child {
  }

.notification-info {
}

  .notification-info .notification-date {
    display: block;
    font-size: 11px;
    margin-top: 4px;
    text-transform: uppercase;
    color: #71748d;
  }

.notification .dropdown-toggle::after,
.connection .dropdown-toggle::after,
.nav-user .dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border: none;
}

.notification-list-user-img {
  float: left;
}

.notification-list-user-block {
  padding-left: 50px;
  font-size: 14px;
  line-height: 21px;
}

.notification-list-user-name {
  color: #5969ff;
  font-size: 14px;
  margin-right: 8px;
}

.list-footer,
.conntection-footer {
  font-size: 14px;
  color: #fff;
  text-align: center;
  padding: 10px 0px;
  line-height: 1.5;
  font-weight: 700;
  background-color: #5969ff;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

  .list-footer a,
  .conntection-footer a {
    color: #fff;
  }

    .list-footer a:hover,
    .conntection-footer a:hover {
      color: #fff;
    }

.indicator {
  content: '';
  position: absolute;
  top: 16px;
  right: 23px;
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background-color: #ef172c;
  animation: .9s infinite beatHeart;
  transform-origin: center;
}

@keyframes beatHeart {
  0% {
    transform: scale(0.9);
  }

  25% {
    transform: scale(1.1);
  }

  40% {
    transform: scale(0.9);
  }

  60% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(0.9);
  }
}

*/
/* ------  Connection --------  */
.connection {
}

.connection-dropdown {
}

.connection-list {
  width: 300px;
  padding: 20px;
}

.connection-item {
  border-radius: 3px;
  line-height: 32px;
  text-align: center;
  padding: 12px 7px 4px;
  display: block;
  border: 1px solid transparent;
  color: #3d405c;
  font-size: 12px;
}

  .connection-item img {
    width: 32px;
  }

  .connection-item:hover {
    background-color: #fff;
    border: 1px solid #e6e6f2;
  }

  .connection-item span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }


/* ----- User Nav Dropdown -----*/

.nav-user {
}

.nav-user-dropdown {
  padding: 0px;
  min-width: 230px;
  margin-right: -4px;
  top: 63px;
  left: -204px;
}

.nav-user-name {
}

.nav-user-info {
  background-color: #5969ff;
  line-height: 1.4;
  padding: 12px;
  color: #fff;
  font-size: 13px;
  border-radius: 2px 2px 0 0;
}

  .nav-user-info .status {
    float: left;
    top: 7px;
    right: 0px;
  }

.nav-user-dropdown {
}

  .nav-user-dropdown .dropdown-item {
    display: block;
    width: 100%;
    padding: 12px 22px 15px;
    clear: both;
    font-weight: 400;
    color: #686972;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    font-size: 13px;
    line-height: 0.4;
    right: 0;
  }

    .nav-user-dropdown .dropdown-item:hover {
      background-color: #f7f7fb;
    }

/*---- User icon sizes ---*/


.user-avatar-md {
  height: 32px;
  width: 32px;
}

.avatar {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  border: 2px solid #F7F9FA;
  background: #F7F9FA;
  color: #fff;
}

.media-attachment div.avatar {
  border: none;
}

.avatar.bg-primary {
  display: flex;
  align-items: center;
  justify-content: center;
}

  .avatar.bg-primary i {
    font-size: 14px;
  }

table {
  width: 100%;
}


h2 {
  margin: 0 auto;
  text-align: center;
  padding-top: 0;
  padding-bottom: 40px;
  color: white;
  font-size: 30px;
}




.nav-pills {
  width: 450px;
}

.nav-item {
  width: 50%;
}

.nav-pills .nav-link {
  font-weight: bold;
  padding-top: 13px;
  text-align: center;
  background: #343436;
  color: #fff;
  border-radius: 30px;
  height: 100px;
}

  .nav-pills .nav-link.active {
    background: #fff;
    color: #000;
  }

.dropdown-menu {
  left: -368px;
}

.offcanvas {
  width: 300px;
}

.fa {
  font-size: 17px;
}

.sideNavIcons {
  height: 56px;
  width: 100%;
  text-align: inherit;
}
.modal, .offcanvas {
  overflow: hidden;
}

body.modal-open, body.offcanvas-open {
  overflow: hidden;
}
h5 {

  display: block;
  font-size: 30px;
  margin-top: 20px;
  font-weight: 700;
}

.toolbar{

}
/*NOTIFICATIONS SECTION*/
body {
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  background-color: hsl(0, 0%, 98%);
  ;
}

@media (max-width: 400px) {
  h1 {
    font-size: 1.5rem;
  }
}


.box p {
  color: hsl(229, 6%, 66%);
}



.box {
  border-radius: 5px;
  box-shadow: 0px 30px 40px -20px hsl(229, 6%, 66%);
  text-align:center;
  padding: 11px;
  margin: 20px;
   max-width: 100%;
  
}


@media (max-width: 450px) {
  .box {
    height: 200px;
  }
}

@media (max-width: 950px) and (min-width: 450px) {
  .box {
    text-align: center;
    height: 180px;
  }
}


.blue {
  border-top: 3px solid hsl(212, 86%, 64%);
}

h3 {
  color: hsl(234, 12%, 34%);
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
  padding-top: 0;
  padding-bottom: 20px;
  margin-right: 306px;
  font-size: 25px;
}

h4 {
  color: hsl(234, 12%, 34%);
}


@media (min-width: 950px) {
  .row1-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.cont2 {
  display: flex;
}

/*FAQ*/
/*::ng-deep .mat-expansion-panel-body {
  padding: 30px;
  height: 100%;
  background-color: moccasin;
}*/

.mat-expansion-panel-header {
  padding: 20px;
  height: 100%;
  margin: 10px;
  font-weight: bold;
}
.mat-expansion-panel {
  margin: 30px;
  height: 100%;
  background: #ffffff7a !important;
}


/* CSS Transition for search bar and table container heights */
.search-bar-container,
.table-container {
  transition: height 0.5s ease-in-out; /* Customize the duration and timing function */
  overflow: hidden; /* Ensure overflow is hidden when the content is hidden */
}

/* Define the heights for the search bar and table container */
.search-bar-container {
  height: 50px; /* Adjust the initial height of the search bar container */
}

.table-container {
  height: calc(100% - 50px); /* Adjust the initial height of the table container */
}

/* Adjust the heights when cards are visible */
.cards-visible .search-bar-container {
  height: 0;
}

.cards-visible .table-container {
  height: 100%;
}

@keyframes fade-in-top-Nav {
  0% {
    opacity: 0;
   
  }

  50% {
    opacity: 0;
  
  }

  100% {
    opacity: 1;
    
  }
}
.animationSlideUpNav {
  animation: fade-in-top-Nav 0.5s ease-out;
}
.animationSlideDown {
  animation: fade-in-bottom 0.5s ease-out;
}

.animationSlideUp {
  animation: fade-in-top 0.5s ease-out;
}

.animationFadeIn {
  animation: fade-in-top 0.5s ease-out;
}
.animationFadeInRightToLeft {
  animation: fade-in-rightToLeft 1s ease-out;
}

@keyframes fade-in-bottom {
  0% {
    opacity: 0;
    transform: translateY(20px); /* Optional: Add a slide-up effect */
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-top {
  0% {
    opacity: 0;
    transform: translateY(20px); /* Optional: Add a slide-up effect */
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in-rightToLeft {
  0% {
    opacity: 1;
    transform: translateX(20px); /* Optional: Add a slide-up effect */
  }

  50% {
    opacity: 1;
    transform: translateX(-5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}





.notification-btn{
    width:100%;
    border:2px;
    border-color:black;
    left:2px;
    right:2px;
    
    
}
table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.example-element-diagram {
  font-size: 13px;
  font-weight: bolder;
  color: #00587073;
}

.example-element-symbol {
  font-size: 13px;
  line-height: normal;
  color: #dadada;
  margin-top: 10px;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.mat-warn2 {
  background-color: #e2cccc;
  color: #aa0000;
}
/*quill-editor {
  display: block;
  height: 300px;*/ /* Adjust the height as needed */
  /*min-height: 100px;*/ /* Set a minimum height */
/*}*/

quill-editor {
  width: 90%;
  min-height: 500px;
  overflow-y:auto;
}

.shape {
  position: absolute;
  background-color: #fff;
}

.shape1 {
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 100px solid #fff;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.shape2 {
  width: 200px;
  height: 50px;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.shape3 {
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 100px solid #fff;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.shape4 {
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}


/**/
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.toggle-slot {
  position: relative;
  height: 10em;
  width: 20em;
  border: 5px solid #e4e7ec;
  border-radius: 10em;
  background-color: white;
  box-shadow: 0px 10px 25px #e4e7ec;
  transition: background-color 250ms;
}

.toggle-checkbox:checked ~ .toggle-slot {
  background-color: #374151;
}

.toggle-button {
  transform: translate(11.75em, 1.75em);
  position: absolute;
  height: 6.5em;
  width: 6.5em;
  border-radius: 50%;
  background-color: #ffeccf;
  box-shadow: inset 0px 0px 0px 0.75em #ffbb52;
  transition: background-color 250ms, border-color 250ms, transform 500ms cubic-bezier(.26,2,.46,.71);
}

.toggle-checkbox:checked ~ .toggle-slot .toggle-button {
  background-color: #485367;
  box-shadow: inset 0px 0px 0px 0.75em white;
  transform: translate(1.75em, 1.75em);
}

.sun-icon {
  position: absolute;
  height: 6em;
  width: 6em;
  color: #ffbb52;
}

.sun-icon-wrapper {
  position: absolute;
  height: 6em;
  width: 6em;
  opacity: 1;
  transform: translate(2em, 2em) rotate(15deg);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(.26,2,.46,.71);
}

.toggle-checkbox:checked ~ .toggle-slot .sun-icon-wrapper {
  opacity: 0;
  transform: translate(3em, 2em) rotate(0deg);
}

.moon-icon {
  position: absolute;
  height: 6em;
  width: 6em;
  color: white;
}
.dp {
  margin-top: 4px !important;
    font-weight: 900;
    font-size: 12px;
    /* padding: 0 !important; */
  margin-left: 6px !important;
  /* scale: 1; */
  /* margin: 0 auto; */
  width: 28px;
  
}
.sidebar.active .userIMG2 {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-top: 15px;
  background: #4393d752;
  scale: 1;
  margin-left: 9px;
  margin-bottom: 12px;
  backdrop-filter: blur(1px);
}
.userIMG2 {
  width: 27px;
  height: 27px;
  border-radius: 100%;
  margin-left: 12px;
  margin-bottom: -11px;
  background: #4393d724;
  padding: 0 !important;
  scale: 1.6;
  box-shadow: inset 0px 0px 3px 1px #00000026;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
}

.sidebar.active .userIMG2 {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-top: 15px;
  background: #4393d752;
  scale: 1;
  margin-left: 9px;
  margin-bottom: 12px;
  backdrop-filter: blur(1px);
}

.moon-icon-wrapper {
  position: absolute;
  height: 6em;
  width: 6em;
  opacity: 0;
  transform: translate(11em, 2em) rotate(0deg);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(.26,2.5,.46,.71);
}

.toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper {
  opacity: 1;
  transform: translate(12em, 2em) rotate(-15deg);
}

.spacer {
  flex: 1 1 auto; /* Takes up remaining space, pushing the logout button to the bottom */
}

.logout-button {
  position: absolute;
  bottom: 7px;
  /* position: relative; */
  /* list-style-type: none; */
  height: 47px;
  /* width: 90%; */
  /* margin: .5rem 5px; */
  padding: 4px;
}
