h1 {
  font-family: 'Nunito', sans-serif;
  margin: 0 auto;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #343a40;
  font-size: 50px;
  margin-top: 210px;
  font-weight: bold;
  margin-bottom: 148px;
}

.form-control {
  background-color: #ccdee2;
  border: 1px solid #005870;
}

.mat-main {
  margin-top: 75px;
  margin-bottom: 80px;
  background: #005870;
  color: #ccdee2;
  width: 239px;
  height: 74px;
}

.mat-blue {
  margin: 5px;
  background-color: #005870;
  color: #ccdee2;
  width: 20px;
}

.mat-warn {
  margin: 5px;
  background-color: #5e1420;
  color: #ccdee2;
  width: 20px;
}

