<app-nav-menu></app-nav-menu>

<h1>User Profile Settings</h1>

<div class="container-fluid">

  <mat-tab-group>
    <!-----------------------------------------------------------User Profile-------------------------------------------------------------->

    <mat-tab label="User Profile">
      <div class="container-fluid">
        <button mat-raised-button color="blue" (click)="openEditModal(userProfileEditModal)">Edit My Details</button>
        <button mat-raised-button color="blue" (click)="openEditPasswordModal(passwordEditModal)">Edit My Password</button>
        <div class="row">
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" [(ngModel)]="toa" placeholder="Type of Applicant" disabled>
              <label for="toa">Type of applicant</label>
            </div>
          </div>
        </div>

        <!--External User information-->



        <div class="container-fluid" *ngIf="isInternal == false">

          <div class="row">
            <div class="col">
              <div class="col">
                <div class="form-floating mb-3 mt-3">
                  <input type="text" class="form-control" [(ngModel)]="extApplicantBpNoApplicant" placeholder="Enter BP Number" disabled>
                  <label for="bpNoApplicant">BP Number</label>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-floating mb-3 mt-3">
                <input type="text" class="form-control" [(ngModel)]="extApplicantCompanyName" placeholder="Enter Company Name" readonly>
                <label for="address">Company Name</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-floating mb-3 mt-3">
                <input type="text" class="form-control" [(ngModel)]="extApplicantCompanyRegNo" placeholder="Enter Company Reg No" readonly>
                <label for="address">Company Reg No.</label>
              </div>
            </div>
            <div class="col">
              <div class="form-floating mb-3 mt-3">
                <input type="email" class="form-control" [(ngModel)]="extApplicantCompanyType" placeholder="Select Company Type" readonly>
                <label for="applicantEmail">Company Type</label>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col">
              <div class="form-floating mb-3 mt-3">
                <input type="text" class="form-control" [(ngModel)]="extApplicantName" placeholder="Enter First Name" readonly>
                <label for="name">Name</label>
              </div>
            </div>
            <div class="col">
              <div class="form-floating mb-3 mt-3">
                <input type="text" class="form-control" [(ngModel)]="extApplicantSurname" placeholder="Enter Surname" readonly>
                <label for="surname">Surname</label>
              </div>
            </div>
          </div>

          <div class="row">
            <!--            <div class="col">
                          <div class="form-floating mb-3 mt-3">
                            <input type="text" class="form-control" [(ngModel)]="extApplicantIDNumber" placeholder="Enter ID Number" readonly>
                            <label for="extApplicantIDNumber">ID Number</label>
                          </div>

                        </div>-->
            <!--  <div class="col">-->
            <div class="form-floating mb-3 mt-3">
              <input type="email" class="form-control" [(ngModel)]="extApplicantEmail" placeholder="Enter Email" readonly>
              <label for="applicantEmail">Email</label>
            </div>
            <!-- </div>-->
          </div>


          <div class="row">
            <div class="col">
              <div class="form-floating mb-3 mt-3">
                <input type="text" class="form-control" [(ngModel)]="extApplicantPhyscialAddress" placeholder="Enter Address" readonly>
                <label for="applicantTellNo">Physical Address</label>
              </div>
            </div>
            <div class="col">
              <div class="form-floating mb-3 mt-3">
                <input type="tel" class="form-control" [(ngModel)]="extApplicantTellNo" placeholder="Enter Tell No." readonly>
                <label for="applicantTellNo">Cell No.</label>
              </div>
            </div>

            <div class="row">
              <div class="form-floating mb-3 mt-3">
                <input type="text" class="form-control" [(ngModel)]="extApplicantVatNumber" placeholder="Enter Vat Number" readonly>
                <label for="extApplicantIDNumber">Vat Number</label>
              </div>
            </div>

          </div>

        </div>



        <!--Internal user information-->
        <div class="container-fluid" *ngIf="isInternal == true">


          <div class="row">
            <div class="col">
              <div class="form-floating mb-3 mt-3">
                <input type="text" class="form-control" [(ngModel)]="internalApplicantName" placeholder="Enter First Name" readonly>
                <label for="name">Name</label>
              </div>
            </div>
            <div class="col">
              <div class="form-floating mb-3 mt-3">
                <input type="text" class="form-control" [(ngModel)]="internalApplicantSurname" placeholder="Enter Surname" readonly>
                <label for="surname">Surname</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="form-floating mb-3 mt-3">
                <input type="text" class="form-control" [(ngModel)]="internalApplicantDirectorate" placeholder="Enter Surname" disabled>
                <label for="surname">Department</label>
              </div>
            </div>
            <div class="col">
              <div class="form-floating mb-3 mt-3">
                <input type="text" class="form-control" [(ngModel)]="internalApplicantBranch" placeholder="Enter Branch" readonly>
                <label for="Branch">Branch</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-floating mb-3 mt-3">
                <input type="email" class="form-control" [(ngModel)]="internalApplicantCostCenterNo" placeholder="Enter Cost Center Number" readonly>
                <label for="applicantEmail">Cost Center Number</label>
              </div>
            </div>
            <div class="col">
              <div class="form-floating mb-3 mt-3">
                <input type="text" class="form-control" [(ngModel)]="internalApplicantCostCenterOwner" placeholder="Enter Cost Center Owner" readonly>
                <label for="applicantTellNo">Cost Center Owner</label>
              </div>
            </div>
          </div>



        </div>
      </div>

    </mat-tab>



    <!-----------------------------------------------------------Engineers-------------------------------------------------------------->

    <mat-tab label="Engineers">
      <app-edit-engineer></app-edit-engineer>
    </mat-tab>

    <!-----------------------------------------------------------Contractors-------------------------------------------------------------->

    <mat-tab label="Contractors">
      <app-edit-contractor></app-edit-contractor>
    </mat-tab>


  </mat-tab-group>
</div>


<ng-template #userProfileEditModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{CurrentUser.fullName}}'s Profile Detials</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">

    <div class="container-fluid" *ngIf="isInternal == false">

      <div class="row">
        <div class="col">
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" [(ngModel)]="extApplicantBpNoApplicantEdit" placeholder="Enter BP Number" disabled>
              <label for="bpNoApplicant">BP Number</label>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" [(ngModel)]="extApplicantCompanyNameEdit" placeholder="Enter Company Name" readonly>
            <label for="address">Company Name</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" [(ngModel)]="extApplicantCompanyRegNoEdit" placeholder="Enter Company Reg No">
            <label for="address">Company Reg No.</label>
          </div>
        </div>
        <div class="col">
          <div class="form-floating mb-3 mt-3">
            <input type="email" class="form-control" [(ngModel)]="extApplicantCompanyTypeEdit" placeholder="Select Company Type">
            <label for="applicantEmail">Company Type</label>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col">
          <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" [(ngModel)]="extApplicantNameEdit" placeholder="Enter First Name">
            <label for="name">Name</label>
          </div>
        </div>
        <div class="col">
          <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" [(ngModel)]="extApplicantSurnameEdit" placeholder="Enter Surname">
            <label for="surname">Surname</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" [(ngModel)]="extApplicantIDNumberEdit" placeholder="Enter ID Number">
            <label for="extApplicantIDNumber">ID Number</label>
          </div>

        </div>
        <div class="col">
          <div class="form-floating mb-3 mt-3">
            <input type="email" class="form-control" [(ngModel)]="extApplicantEmailEdit" placeholder="Enter Email">
            <label for="applicantEmail">Email</label>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col">
          <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" [(ngModel)]="extApplicantPhyscialAddressEdit" placeholder="Enter Address">
            <label for="applicantTellNo">Physical Address</label>
          </div>
        </div>
        <div class="col">
          <div class="form-floating mb-3 mt-3">
            <input type="tel" class="form-control" [(ngModel)]="extApplicantTellNoEdit" placeholder="Enter Tell No.">
            <label for="applicantTellNo">Cell No.</label>
          </div>
        </div>

        <div class="row">
          <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" [(ngModel)]="extApplicantVatNumberEdit" placeholder="Enter Vat Number">
            <label for="extApplicantIDNumber">Vat Number</label>
          </div>
        </div>

      </div>

    </div>

    <div class="container-fluid" *ngIf="isInternal == true">


      <div class="row">
        <div class="col">
          <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" [(ngModel)]="internalApplicantNameEdit" placeholder="Enter First Name">
            <label for="name">Name</label>
          </div>
        </div>
        <div class="col">
          <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" [(ngModel)]="internalApplicantSurnameEdit" placeholder="Enter Surname">
            <label for="surname">Surname</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" [(ngModel)]="internalApplicantDirectorateEdit" placeholder="Enter Surname" disabled>
            <label for="surname">Department</label>
          </div>
        </div>
        <div class="col">
          <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" [(ngModel)]="internalApplicantBranchEdit" placeholder="Enter Branch">
            <label for="Branch">Branch</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-floating mb-3 mt-3">
            <input type="email" class="form-control" [(ngModel)]="internalApplicantCostCenterNoEdit" placeholder="Enter Cost Center Number">
            <label for="applicantEmail">Cost Center Number</label>
          </div>
        </div>
        <div class="col">
          <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" [(ngModel)]="internalApplicantCostCenterOwnerEdit" placeholder="Enter Cost Center Owner">
            <label for="applicantTellNo">Cost Center Owner</label>
          </div>
        </div>
      </div>



    </div>

  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-success" (click)=" updateUserProfileDetails();modal.close('Save click')">Save</button>
  </div>
</ng-template>

<ng-template #passwordEditModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Please enter in your <strong>CURRENT</strong> password.</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="currentPassword">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" >
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-success" (click)="updatePassword(newPasswordModal)">Next</button>
  </div>
</ng-template>


<ng-template #newPasswordModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Please enter in your <strong>NEW</strong> password.</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="newPassword">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <br>
    <mat-form-field>
      <mat-label>Re-enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="newReEnterPassword">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-success" (click)="changePassword()">Save</button>
  </div>
</ng-template>
