h1 {
  font-family: 'Nunito', sans-serif;
  margin: 0 auto;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #343a40;
  font-size: 50px;
  margin-top: 210px;
  font-weight: bold;
  margin-bottom: 148px;
}

.mat-blue {
  margin: 5px;
  background-color: #005870;
  color: white;
  margin-top: 21px;
}
