<app-nav-menu></app-nav-menu>
<link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap" rel="stylesheet">
<link _ngcontent-ng-cli-universal-c545="" href="https://fonts.googleapis.com/css?family=Roboto:300italic,400italic,400,100,300,600,700" rel="stylesheet" type="text/css">

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<div class="content-body">
  <div class="headerViewProject ">
    <div class="leftSideHeader ">
      <div class="ProjectNumberCard">
        <h2>View Project Details : {{projectNumber}}</h2>
      </div>
     
      <div class="main">
        <!--<div class="cont3 " *ngIf="ActionCenter">
          <app-action-center [ApplicationID]="ApplicationID" (refreshParent)="ngOnInit()" class="animationSlideUp"></app-action-center>

        </div>
        <button mat-button color="action" [matMenuTriggerFor]="actions" class="animationSlideUp" *ngIf="!ActionCenter"> <img src="assets/fontawesome-free-6.4.2-web/svgs/regular/ellipsis-vertical-solid.svg" class="icon"></button>
        <mat-menu #actions="matMenu">
          <button mat-menu-item> Move to Paid</button>
          <button mat-menu-item> Apply For A Building Plan</button>-->
        <!--<button mat-menu-item (click)="MoveToNextStage()" *ngIf="isInternalUser">Move to Next Stage</button>-->
        <!--<button mat-menu-item (click)="MoveToNextStage()"><img src="assets/fontawesome-free-6.4.2-web/svgs/regular/ban-solid.svg" class="icon"> Cancel Application</button>--><!--reapply Sindiswa 22 January 2023-->
        <!--<button mat-menu-item><img src="assets/fontawesome-free-6.4.2-web/svgs/regular/ban-solid.svg" class="icon"> Cancel Application</button>-->
        <!--<button mat-menu-item (click)="validate()"><i class="fa fa-repeat" aria-hidden="true"></i> Test BP</button>-->
        <!--</mat-menu>-->

        <div class="PropertyOwnerDetails ">
          <h3>Applicant Details</h3>
          <p class="Name">{{applicantName}}</p>
          <p class="Email"><img src="assets/fontawesome-free-6.4.2-web/svgs/solid/at.svg" class="icon3"> {{applicantEmail}}</p>
          <p class="CellNo"><img src="assets/fontawesome-free-6.4.2-web/svgs/solid/phone.svg" class="icon3"> {{applicantCell}}</p>
        </div>
        <div class="PropertyOwnerDetails cardhover">
          <mat-tab-group dynamicHeight>

            <mat-tab label="Engineer Details">

            </mat-tab>

            <mat-tab label="Contractor Details">

            </mat-tab>
          </mat-tab-group>
            <!--<h3>Architect Details</h3>-->
            <!--<p class="Name">{{architectName}}</p>
    <p class="Email"><img src="assets/fontawesome-free-6.4.2-web/svgs/solid/at.svg" class="icon3"> {{altEmail}}</p>
    <p class="CellNo"><img src="assets/fontawesome-free-6.4.2-web/svgs/solid/phone.svg" class="icon3"> {{altCellNo}}</p>-->
        </div>
      </div>
    </div>
    <div class="rightSideHeader">
      <div class="Tracker">

        <div class="actionCenter ">
          <h3>Action Center</h3>
          <div class="cont3 ">

            <app-action-center [ApplicationID]="ApplicationID" (refreshParent)="ngOnInit()"></app-action-center>


          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="displayRow">
    <div class="MiddleView">
      <div class="Map ">
        <mat-tab-group  dynamicHeight>

          <mat-tab label="Map Details">
            <app-project-details-map-view [data]="ARCGISAPIData"></app-project-details-map-view>
          </mat-tab>
          <mat-tab label="Application Details">
            <div class="applicationDeatails">
             <p>Description of Project - {{description}}</p>
              <p>Nature Of Work - {{natureOfWork}}</p>
              <p>Type Of Application - {{typeOfApplication}}</p>
              <p>Type Of Excavation - {{typeOfExcavation}}</p>
              <p>Address Of Project - {{physicalAddress}}</p>
              <p>Expected Start Date - {{expectedStartDate}}</p>
              <p>Expected End Date - {{expectedEndDate}}</p>
              <p>Coordinates - {{coordinates}}</p>
              
              
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
      <div class="displayRow">
        <div class="tracker">
          <h3>Tracker</h3>
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- Position Column -->
            <ng-container matColumnDef="DepartmentName" class="approve">
              <th mat-header-cell *matHeaderCellDef>Department</th>
              <td mat-cell *matCellDef="let element">{{element.subDepartmentName}}</td>

            </ng-container>

            <!-- Indication Column -->
            <ng-container matColumnDef="indication">
              <th mat-header-cell *matHeaderCellDef>Indication</th>
              <td mat-cell *matCellDef="let element">
                <div class="contIndication">
                  <!--   <i class="fa fa-thumbs-up greenThumbsUp" aria-hidden="true" *ngIf=" element.commentStatus === FinalApproved"></i>-->
                  <img src="assets/fontawesome-free-6.4.2-web/svgs/regular/thumbs-up-solid-green.svg" class="icon2" *ngIf="element.commentStatus === 'Approved'">
                  <img src="assets/fontawesome-free-6.4.2-web/svgs/regular/thumbs-down-solid-red.svg" class="icon2" *ngIf="element.commentStatus === 'Rejected'">
                  <img src="assets/fontawesome-free-6.4.2-web/svgs/regular/pen-to-square.svg" class="icon2" *ngIf="element.commentStatus === 'Assigned'">
                  <img src="assets/fontawesome-free-6.4.2-web/svgs/regular/retweet-solid.svg" class="icon2" *ngIf="element.commentStatus === 'Distributed'">
                  <img src="assets/fontawesome-free-6.4.2-web/svgs/regular/clock-regular.svg" class="icon2" *ngIf="element?.UserAssaignedToComment === null && element.commentStatus == '' || element.commentStatus == null"> <!-- projectTracker Sindiswa 15 January 2024 -->
                  <img src="assets/fontawesome-free-6.4.2-web/svgs/regular/comment-solid-orange.svg" class="icon2" *ngIf="element.isAwaitingClarity ">
                  <p class="blueThumbsUpText" *ngIf="element.commentStatus === 'Approved'">Approved</p>
                  <p class="yellowTimerText" *ngIf="element?.UserAssaignedToComment === null && element.commentStatus == '' || element.commentStatus == null">Waiting</p> <!-- projectTracker Sindiswa 15 January 2024 -->
                  <p *ngIf="element.commentStatus == 'Distributed'">Distributed</p>
                  <p class="orangeSpeechText" *ngIf="element.isAwaitingClarity && element.isAwaitingClarity">Awaiting Clarity</p>

                  <!-- projectTracker Sindiswa 12 January 2024 -->
                  <img class="icon2" src="assets/fontawesome-free-6.4.2-web/svgs/regular/pen-to-square.svg" *ngIf="element?.UserAssaignedToComment !== null && element?.UserAssaignedToComment !== 'EndOfCommentProcess' && element?.UserAssaignedToComment !== 'All users in Subdepartment FA' && element?.UserAssaignedToComment !== 'Senior Reviewer to comment' && element?.commentStatus === null" />
                  <p class="" *ngIf="element?.commentStatus === 'Assigned'">Assigned</p>
                  <!-- projectTracker Sindiswa 12 January 2024 -->
                </div>
              </td>
            </ng-container>

            <!-- projectTracker Sindiswa 12 January 2024 -->
            <ng-container matColumnDef="zoneUser" class="approve">
              <th mat-header-cell *matHeaderCellDef>User</th>
              <td mat-cell *matCellDef="let element">{{element.zoneUser}}</td>
            </ng-container>

            <!-- end of projectTracker Sindiswa 12 January 2024 -->

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row [ngClass]="{'approve': row.action === 'H'}" *matRowDef="let row; columns: displayedColumns;"></tr>

          </table>
        </div>

        <div class="Documents ">
          <mat-tab-group dynamicHeight>

            <mat-tab label="Documents">
              <app-documents-component [isWayleave]="isWayleave"></app-documents-component>
            </mat-tab>
            <mat-tab label="Financial Documents">
              <app-bpfinancials [isWayleave]="isWayleave"></app-bpfinancials>
            </mat-tab>
            <!--<mat-tab label="Stage Checklist">

            </mat-tab>-->
          </mat-tab-group>
        </div>
      </div>
    </div>

    <div class="BootomViewProject ">
      <div class="Comments ">
        <mat-tab-group>

          <mat-tab label=" General Comments">
            <div class="generalcomments">
              <div *ngIf="CommentsList.length === 0">
                <h4>No comments have been made yet.</h4>
              </div>
              <div *ngFor="let comment of CommentsList ; let i = index">
                <div [class.cardApprove]="comment.CommentStatus === 'Approved' || comment.CommentStatus == 'LS Approved'|| comment.CommentStatus == 'Permit Approved' || comment.CommentStatus == 'Final Approve'" [class.cardRelaxation]="comment.CommentStatus==='LS Relaxation'" [class.cardClarify]="comment.CommentStatus === 'Clarify'" [class.cardReject]="comment.CommentStatus === 'Rejected'">

                  <div class="icon-containerApprove " *ngIf="comment.CommentStatus == 'Approved' || comment.CommentStatus == 'LS Approved' || comment.CommentStatus == 'TP Approved'|| comment.CommentStatus == 'Final Approve' || comment.CommentStatus == 'Permit Approved' ">
                    <img src="assets/fontawesome-free-6.4.2-web/svgs/regular/thumbs-up-solid.svg" class="icon">
                  </div>

                  <div class="icon-containerRelaxation" *ngIf="comment.CommentStatus === 'LS Relaxation' || comment.CommentStatus == 'TP Relaxation'">
                    <img src="assets/fontawesome-free-6.4.2-web/svgs/regular/arrow-rotate-right-solid.svg" class="icon">
                  </div>

                  <div class="icon-containerClarify " *ngIf="comment.CommentStatus === 'Clarify'">
                    <img src="assets/fontawesome-free-6.4.2-web/svgs/regular/bookmark.svg" class="icon">
                  </div>

                  <div class="icon-containerReject" *ngIf=" comment.CommentStatus === 'Rejected'">
                    <img src="assets/fontawesome-free-6.4.2-web/svgs/regular/ban-solid.svg" class="icon">
                  </div>
                  <div class="message-text-container">

                    <div class="messageHead">
                      <h1 [class.message-textApprove]="comment.CommentStatus === 'Approved'|| comment.CommentStatus == 'Final Approve' || comment.CommentStatus == 'Permit Approved' ||comment.CommentStatus == 'LS Approved'" [class.message-textRelaxation]="comment.CommentStatus === 'LS Relaxation'" [class.message-textClarify]="comment.CommentStatus === 'Clarify'" [class.message-textReject]="comment.CommentStatus === 'Rejected'">{{comment.CommentStatus}} by {{comment.UserName}}</h1>
                      <p>{{comment.DateCreated}}</p>
                    </div>
                    <div class="messageFoot">
                      <p class="sub-text">{{comment.Comment}}</p>
                      <button mat-raised-button color="clarify" (click)="openEditReply(i,replyModal)" *ngIf="comment.isApplicantReplay == null && comment.CommentStatus == 'Clarify' && CurrentUser.appUserId == comment.CanReplyUserID">Reply</button>
                      <button mat-raised-button color="clarify" (click)="openViewReply(i)" *ngIf="comment.isApplicantReplay != null && comment.CommentStatus == 'Clarify'">View Reply</button>

                    </div>
                  </div>
                </div>
              </div>

            </div>
          </mat-tab>
          <mat-tab label="Internal Comments">
          </mat-tab>
          <mat-tab label="Notes">
          </mat-tab>
        </mat-tab-group>


      </div>

    </div>
  </div>
</div>
<ng-template #UploadProof let-modal>

  <div class="modal-header">
    <h4 class="modal-title">Upload Proof of Payment For Relaxation Invoice</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>

  <div class="modal-body">

  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-success" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>


<ng-template #replyModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Reply</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="row">

        <div class="form-floating mb-3 mt-3">
          <input type="text" class="form-control" [(ngModel)]="reply" id="reply" name="reply" placeholder="Edit Comment">
          <label for="reply">Enter in a reply</label>
        </div>

      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="SaveReply()">Save</button>
  </div>
</ng-template>
