h1 {
  font-family: 'Nunito', sans-serif;
  margin: 0 auto;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  color: white;
  font-size: 50px;
  font-weight: bold;
  margin-top:120px
}

h2 {
  font-family: 'Nunito', sans-serif;
  margin: 0 auto;
  text-align: center;
  padding-top: 0;
  color: white;
  font-size: 30px;
  /* margin-top: -5px; */
  margin-bottom: 76px;
}
mat-tab-group{
    width:100%;
    margin-top:55px;
}
mat-tab {
  width: 100%;
}
mat-tab-labels {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
table {
  width: 100%;
  margin-bottom:20px;
}
.form-select{
    padding-top:0;
    padding-bottom:0;
}
mat-expansion-panel {
  margin-top: 15px;
  margin-bottom: 15px;
}
