h1 {
  font-family: 'Nunito', sans-serif;
  margin: 0 auto;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #343a40;
  font-size: 50px;
  font-weight: bold;
  margin-top: 70px
}
h3 {
  font-family: 'Nunito', sans-serif;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px; /* Adjust as needed */
  padding-bottom: 20px; /* Adjust as needed */
  color: #343a40;
  font-size: 30px; /* Adjust as needed */
  font-weight: bold;
  margin-top: 20px; /* Adjust as needed */
}
.loading-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  z-index: 9999; /* Place it above other content */
}
.text {
  font-size: 24px;
  color: white;
  margin-top: 20px;
}

.text2 {
  font-size: 12px;
  color: white;
  margin-top: 10px;
}

.timeline .event:nth-child(2n) {
  margin-left: 20px; /* Adjust this value as needed to control the offset to the right */
}

.cont2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.mat-white {
  bottom: 53px;
  margin-bottom: -32px;
  background-color: #005870;
}
.mat-permit {
  margin: 10px;
  background-color: #005a71;
  color: white;
}
h5 {
  opacity: 50%;
  font-size: 14px;
  margin-top: -13px;
}
h6 {
  opacity: 50%;
  font-size: 14px;
  margin-top: -46px;
  text-align: end;
}
.maps {
  position: center;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}
.card_image{
  /*  width:50px;
    height:50px;*/
}
/*MFT*/

.cards {
  /* display: flex; */
  flex-wrap: nowrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: -1px 4px 20px 0px rgb(0 0 0 / 0%);
  display: flex;
  flex-direction: row;
  overflow: hidden;
  margin: 45px;
}

.card_content {
  padding: 1rem;
  background: #ffffff;
  width: 100%;
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #323a40;

}
.cont89 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
/*//////////////////*/
.cont1 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: baseline;
  margin-bottom: -62px;
}
.cont {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.cont3 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
.cont6 {
  top: 252px;
  margin-top: 174px;
  position: absolute;
}

.mat-warn {
  margin-bottom: 10px;
  background-color: #f43636;
  color: #fff;
  margin: 10px;
}
.mat-orange {
  margin-bottom: 10px;
  background-color: #f48a36;
  color: #fff;
  margin-bottom: 32px;
}
.mat-clarify {
  background-color: #f48a36;
  color: #fff;
  margin-bottom: 17px;
}
.mat-red {
  margin-bottom: 10px;
  background-color: #f43636;
  color: #fff;
  margin-bottom: 32px;
  width: 226px;
  height: 59px;
}
.mat-green {
  margin-bottom: 10px;
  background-color: #14c92c;
  color: #fff;
  margin-bottom: 32px;
  width: 226px;
  height: 59px;
  font-size: 19px;
}

.mat-action {
  background-color: #ffffff00;
  color: #282828;
  height: 59px;
  font-size: 19px;
  margin-bottom: 76px;
}






h2 {
  font-family: 'Nunito', sans-serif;
  margin: 0 auto;
  text-align: center;
  padding-top: 0;
  padding-bottom: 40px;
  color: #343a40;
  font-size: 30px;
}
mat-tab-group{
}
mat-tab {
}
mat-tab-labels {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
table {
  width: 100%;
  margin-bottom:20px;
}
.form-select{
    padding-top:0;
    padding-bottom:0;
}
mat-expansion-panel {
  margin-top: 15px;
  margin-bottom: 15px;
}

section.timeline-outer {
  width: 100%;
  margin: 0 auto;
}

h1.header {
  font-size: 50px;
  line-height: 70px;
}
/* Timeline */

.approve {
  border-left: 8px solid #00b5c7;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #333;
  margin: 15px auto;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  padding: 21px;
  list-style: none;
  text-align: left;
}

  .approve h1,
  .approve h2,
  .approve h3 {
    font-size: 1.4em;
  }

  .approve .event {
    border-bottom: 1px solid rgba(160, 160, 160, 0.2);
    padding-bottom: 15px;
    margin-bottom: 20px;
    position: relative;
  }

    .approve .event:last-of-type {
      padding-bottom: 0;
      margin-bottom: 0;
      border: none;
    }

    .approve .event:before,
    .approve .event:after {
      position: absolute;
      display: block;
      top: 0;
    }

    .approve .event:before {
      left: -177.5px;
      color: #212121;
      content: attr(data-date);
      text-align: right;
      /*  font-weight: 100;  #00b5c7*/

      font-size: 16px;
      min-width: 120px;
    }

    .approve .event:after {
      box-shadow: 0 0 0 8px #00b5c7;
      left: -30px;
      background: #212121;
      border-radius: 50%;
      height: 11px;
      width: 11px;
      content: "";
      top: 5px;
    }

/*finalApprove*/

.finalApprove {
  border-left: 8px solid #00c734;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #333;
  margin: 15px auto;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  padding: 21px;
  list-style: none;
  text-align: left;
}

  .finalApprove h1,
  .finalApprove h2,
  .finalApprove h3 {
    font-size: 1.4em;
  }

  .finalApprove .event {
    border-bottom: 1px solid rgba(160, 160, 160, 0.2);
    padding-bottom: 15px;
    margin-bottom: 20px;
    position: relative;
  }

    .finalApprove .event:last-of-type {
      padding-bottom: 0;
      margin-bottom: 0;
      border: none;
    }

    .finalApprove .event:before,
    .finalApprove .event:after {
      position: absolute;
      display: block;
      top: 0;
    }

    .finalApprove .event:before {
      left: -177.5px;
      color: #212121;
      content: attr(data-date);
      text-align: right;
      /*  font-weight: 100;  #00b5c7*/

      font-size: 16px;
      min-width: 120px;
    }

    .finalApprove .event:after {
      box-shadow: 0 0 0 8px #00c734;
      left: -30px;
      background: #212121;
      border-radius: 50%;
      height: 11px;
      width: 11px;
      content: "";
      top: 5px;
    }

/*Reject*/

.Reject {
  border-left: 8px solid #ed0000;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #333;
  margin: 15px auto;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  padding: 21px;
  list-style: none;
  text-align: left;
}

  .Reject h1,
  .Reject h2,
  .Reject h3 {
    font-size: 1.4em;
  }

  .Reject .event {
    border-bottom: 1px solid rgba(160, 160, 160, 0.2);
    padding-bottom: 15px;
    margin-bottom: 20px;
    position: relative;
  }

    .Reject .event:last-of-type {
      padding-bottom: 0;
      margin-bottom: 0;
      border: none;
    }

    .Reject .event:before,
    .Reject .event:after {
      position: absolute;
      display: block;
      top: 0;
    }

    .Reject .event:before {
      left: -177.5px;
      color: #212121;
      content: attr(data-date);
      text-align: right;
      /*  font-weight: 100;*/

      font-size: 16px;
      min-width: 120px;
    }

    .Reject .event:after {
      box-shadow: 0 0 0 8px #ed0000;
      left: -30px;
      background: #212121;
      border-radius: 50%;
      height: 11px;
      width: 11px;
      content: "";
      top: 5px;
    }

/*clarify*/

.clarify {
  border-left: 8px solid #ffb100;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #333;
  margin: 15px auto;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  padding: 21px;
  list-style: none;
  text-align: left;
}

  .clarify h1,
  .clarify h2,
  .clarify h3 {
    font-size: 1.4em;
  }

  .clarify .event {
    border-bottom: 1px solid rgba(160, 160, 160, 0.2);
    padding-bottom: 15px;
    margin-bottom: 20px;
    position: relative;
  }

    .clarify .event:last-of-type {
      padding-bottom: 0;
      margin-bottom: 0;
      border: none;
    }

    .clarify .event:before,
    .clarify .event:after {
      position: absolute;
      display: block;
      top: 0;
    }

    .clarify .event:before {
      left: -177.5px;
      color: #212121;
      content: attr(data-date);
      text-align: right;
      /*  font-weight: 100;*/

      font-size: 16px;
      min-width: 120px;
    }

    .clarify .event:after {
      box-shadow: 0 0 0 8px #ffb100;
      left: -30px;
      background: #212121;
      border-radius: 50%;
      height: 11px;
      width: 11px;
      content: "";
      top: 5px;
    }

/*refer*/
.refer {
  border-left: 8px solid #7c00ed;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #333;
  margin: 15px auto;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  padding: 21px;
  list-style: none;
  text-align: left;
}

  .refer h1,
  .refer h2,
  .refer h3 {
    font-size: 1.4em;
  }

  .refer .event {
    border-bottom: 1px solid rgba(160, 160, 160, 0.2);
    padding-bottom: 15px;
    margin-bottom: 20px;
    position: relative;
  }

    .refer .event:last-of-type {
      padding-bottom: 0;
      margin-bottom: 0;
      border: none;
    }

    .refer .event:before,
    .refer .event:after {
      position: absolute;
      display: block;
      top: 0;
    }

    .refer .event:before {
      left: -177.5px;
      color: #212121;
      content: attr(data-date);
      text-align: right;
      /*  font-weight: 100;*/

      font-size: 16px;
      min-width: 120px;
    }

    .refer .event:after {
      box-shadow: 0 0 0 8px #7c00ed;
      left: -30px;
      background: #212121;
      border-radius: 50%;
      height: 11px;
      width: 11px;
      content: "";
      top: 5px;
    }
/**/


/*reviewerClarify*/

.reviewerClarify {
  border-left: 8px solid deeppink; /* comments Sindiswa 18 January 2024 - changing reviewer clarity and interactions pink */
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #333;
  margin: 15px auto;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  padding: 21px;
  list-style: none;
  text-align: left;
}

  .reviewerClarify h1,
  .reviewerClarify h2,
  .reviewerClarify h3 {
    font-size: 1.4em;
  }

  .reviewerClarify .event {
    border-bottom: 1px solid rgba(160, 160, 160, 0.2);
    padding-bottom: 15px;
    margin-bottom: 20px;
    position: relative;
  }

    .reviewerClarify .event:last-of-type {
      padding-bottom: 0;
      margin-bottom: 0;
      border: none;
    }

    .reviewerClarify .event:before,
    .reviewerClarify .event:after {
      position: absolute;
      display: block;
      top: 0;
    }

    .reviewerClarify .event:before {
      left: -177.5px;
      color: #212121;
      content: attr(data-date);
      text-align: right;
      /*  font-weight: 100;*/

      font-size: 16px;
      min-width: 120px;
    }

    .reviewerClarify .event:after {
      box-shadow: 0 0 0 8px deeppink; /* comments Sindiswa 18 January 2024 - changing reviewer clarity and interactions pink */
      left: -30px;
      background: #212121;
      border-radius: 50%;
      height: 11px;
      width: 11px;
      content: "";
      top: 5px;
    }
/**/




/*returned*/
.returned {
  border-left: 8px solid #bc76fb;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #333;
  margin: 15px auto;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  padding: 21px;
  list-style: none;
  text-align: left;
}

  .returned h1,
  .returned h2,
  .returned h3 {
    font-size: 1.4em;
  }

  .returned .event {
    border-bottom: 1px solid rgba(160, 160, 160, 0.2);
    padding-bottom: 15px;
    margin-bottom: 20px;
    position: relative;
  }

    .returned .event:last-of-type {
      padding-bottom: 0;
      margin-bottom: 0;
      border: none;
    }

    .returned .event:before,
    .returned .event:after {
      position: absolute;
      display: block;
      top: 0;
    }

    .returned .event:before {
      left: -177.5px;
      color: #212121;
      content: attr(data-date);
      text-align: right;
      /*  font-weight: 100;*/

      font-size: 16px;
      min-width: 120px;
    }

    .returned .event:after {
      box-shadow: 0 0 0 8px #bc76fb;
      left: -30px;
      background: #212121;
      border-radius: 50%;
      height: 11px;
      width: 11px;
      content: "";
      top: 5px;
    }
/**/


/*——————————————
Responsive Stuff
———————————————*/


a {
  color: inherit;
}



.menu {
  
  filter: url("#shadowed-goo");
  cursor:pointer;
}

.menu-item, .menu-open-button {
/*  background: #1fa2ff;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  margin-left: -30px;
  position: absolute;
  top: 38px;
  color: white;
  text-align: center;
  line-height: 60px;
  transform: translate3d(0, 0, 0);
  transition: transform ease-out 200ms;*/
}

.menu-open {
  display: none;
}

.hamburger {
  width: 25px;
  height: 3px;
  background: white;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -1.5px;
  transition: transform 200ms;
}

.hamburger-1 {
  transform: translate3d(0, -8px, 0);
}

.hamburger-2 {
  transform: translate3d(0, 0, 0);
}

.hamburger-3 {
  transform: translate3d(0, 8px, 0);
}

.menu-open:checked + .menu-open-button .hamburger-1 {
  transform: translate3d(0, 0, 0) rotate(45deg);
}

.menu-open:checked + .menu-open-button .hamburger-2 {
  transform: translate3d(0, 0, 0) scale(0.1, 1);
}

.menu-open:checked + .menu-open-button .hamburger-3 {
  transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu {
/*  position: absolute;
  right: -534px;
  margin-left: -80px;
  padding-top: 20px;
  padding-left: 80px;
  width: 650px;
  height: 150px;
  box-sizing: border-box;
  font-size: 20px;
  text-align: left;*/
}

.menu-item:hover {
  background: #abdcff;
  color: #1fa2ff;
}

.menu-item:nth-child(3) {
  transition-duration: 180ms;
}

.menu-item:nth-child(4) {
  transition-duration: 180ms;
}

.menu-item:nth-child(5) {
  transition-duration: 180ms;
}

.menu-item:nth-child(6) {
  transition-duration: 180ms;
}

.menu-open-button {
  z-index: 2;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 400ms;
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
}



.menu-open:checked + .menu-open-button {
  transition-timing-function: linear;
  transition-duration: 200ms;
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

  .menu-open:checked ~ .menu-item:nth-child(3) {
    transition-duration: 190ms;
    transform: translate3d(1px, 64px, 0);
  }

  .menu-open:checked ~ .menu-item:nth-child(4) {
    transition-duration: 290ms;
    transform: translate3d(1px, 140px, 0);
  }

  .menu-open:checked ~ .menu-item:nth-child(5) {
    transition-duration: 390ms;
    transform: translate3d(1px, 217px, 0);
  }

  .menu-open:checked ~ .menu-item:nth-child(6) {
    transition-duration: 490ms;
    transform: translate3d(1px, 293px, 0);
  }

.mat-blue {
  background-color: #ccdee2;
  color: #005870;
  margin-top: -77px;
}

.mat-blue2 {
  background-color: #ccdee2;
  color: #005870;

}

button {
  /*  margin: 10px;*/
}

.mat-column-name {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 8% !important;
  width: 70% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}

.mat-form-field {
/*  margin: 40px 0;*/
  width: 100%;
}

.mat-toolbar-single-row {
  height: auto !important;
  background: transparent;
}

  .mat-toolbar-single-row button {
    width: 200px;
  }

.mat-form-field {
  width: 100%;
}

#uploadFile {
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 9;
  opacity: 0;
  height: 100%;
  cursor: pointer;
  position: absolute;
}

.mat-column-DocumentName {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 8% !important;
  width: 60% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-actions {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 8% !important;
  width: 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  text-align: center;
}

.loading {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
}

.loadingText{
    font-size:16px;
}

.cont7 {
  display: flex;
  justify-content: center;
}
.mat-generatePackBtn{
  background-color: #f48a36;
  color: #fff;
/*  margin-left: 22px;*/
}

:host ::ng-deep .mat-tab-label-active {
  background-color: #ccdee2;
  color: #005870;
  user-select: none;
}

@keyframes fade-in-bottom {
  0% {
    opacity: 0;
    transform: translateY(20px); /* Optional: Add a slide-up effect */
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes fade-in-top {
  0% {
    opacity: 0;
    transform: translateY(-60px); /* Optional: Add a slide-up effect */
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animationSlideDown {
  animation: fade-in-bottom 0.5s ease-out;
}

.animationSlideUp {
  animation: fade-in-top 0.5s ease-out;
}

.animationFadeIn {
  animation: fade-in 0.7s ease-out;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

/* CSS for fade-in animation */
.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.centered-text {
  text-align: center;
}

.line {
  display: inline-block;
  width: 40%;
  height: 1px;
  background-color: #000; /* Change this to your desired line color */
  vertical-align: middle;
}

.left-line {
  margin-right: 10px; /* Adjust this margin as needed */
}

.right-line {
  margin-left: 10px; /* Adjust this margin as needed */
}

quill-editor {
  width: 90%;
  min-height: 300px;
  overflow-y: auto;
}

.modal-body {
  overflow-y: auto; /* Enable vertical scrolling within the modal body */
}

.disabled-textbox {
  background-color: #e0e0e0; /* Grey background color */
  border: 1px solid #ccc; /* Border style */
  padding: 10px; /* Padding for content */
  display: inline-block; /* Allow the div to grow with content */
  width: 90%; /* Automatically adjust width based on content */
  min-height: 40px; /* Minimum height, adjust as needed */
  overflow: auto; /* Enable scrolling if content exceeds the height */
  pointer-events: none; /* Ignore mouse events, making it visually appear disabled */
  color: #777; /* Text color to make it less prominent */
  border-radius: 8px;
}

/*JJS - Changed the approval packing loading screen to match the other loading screens*/


.loading-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255 255 255);
  z-index: 9999;
  animation: fadein 0.5s linear forwards;
}

.text {
  font-size: 24px;
  color: black;
  margin-top: 20px;
}

.text2 {
  font-size: 12px;
  color: black;
  margin-top: 10px;
}

.logo2 {
  width: 252px;
  height: 252px;
  animation: spin 4s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadein {

  0% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }

}
/*Progess bar Kyle 07-02-24*/



.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #ccdee2; /* Set default background color for progress bar */
  border-radius: 0px 30px 30px 0px;
  animation: fill-progress 4s forwards; /* Keep the final state of the animation */
}

@keyframes fill-progress {
  0% {
    width: 0%; /* Start with 0% width */
  }

  100% {
    width: var(--progressBar); /* Fill up to the progressBar width */
  }
}

.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #005870;
  font-weight: 600;
  font-size: 14px;
  z-index: 1;
}

.progress-bar-container {
  position: relative;
  width: 100%;
  height: 37px;
  border: 1px solid #62626221;
  margin-bottom: 36px;
}


image-container {
    height : 100%;
    width :100% ;
   /* margin-right:0;
    margin-left:70%;*/
}
.iframe{
    width:100%;
    height:100%;
}
.cont9{
    margin:10px;
    display:flex;
}
.cont10 {
  margin: 10px;

}
.MFTImage {
  margin-left: 90%;
  width: auto%; /* Set the width to 50% */
 max-height:100px; /* Maintain aspect ratio */
}
.cont8{
    display:flex;
    justify-content:center;
}
/*Progess bar Kyle 07-02-24*/
.manDoc{
    width:100%
}
.textFuckingBox {
  display: none;
}

.viewButton{

    margin : 0 ;
}
