<app-nav-menu></app-nav-menu>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Creating a access group</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>


      <div class="row">

        <div class="form-floating mb-3 mt-3">
          <input type="text" class="form-control" id="accessGroupName" placeholder="Enter the access group name">
          <label for="accessGroupName">Enter a description</label>
        </div>

        <mat-form-field>
          <div>
            <mat-toolbar>
              <!-- Display files names -->
              <input matInput [(ngModel)]="fileAttr" readonly name="name" />
              <!-- Browse Button -->
              <button mat-flat-button color="blue">Upload Image</button>
            </mat-toolbar>
            <!-- Fetch selected filed on change -->
            <input type="file"
                   #fileInput
                   id="uploadFile"
                   (change)="uploadFileEvt($event)"
                   name="uploadFile"
                   multiple="multiple"
                   accept="image/*" />
          </div>
        </mat-form-field>

      </div>


    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>



<h1>Application Information</h1>
<h2>Project number {{projectNo}}</h2>

<div class="cont1">

  <app-action-center [ApplicationID]="ApplicationID" *ngIf="isInternalUser" (optionEvent)="reciveOption($event)"></app-action-center>
  <button mat-button color="action" [matMenuTriggerFor]="actions"> <mat-icon>more_vert</mat-icon></button>
  <mat-menu #actions="matMenu">
    <button mat-menu-item (click)="ChangeApplicationStatusToPaid()" *ngIf="isInternalUser"> move to paid</button>
    <button mat-menu-item (click)="MoveToNextStage()" *ngIf="isInternalUser">Move to Next stage</button>
    <button mat-menu-item (click)="MoveToNextStage()"> <i class="fa fa-ban" aria-hidden="true"></i> Cancel Application</button>
    <button mat-menu-item (click)="goToNewWayleave(true)" *ngIf="canReapply"><i class="fa fa-repeat" aria-hidden="true"></i> Re-apply</button>
  </mat-menu>

</div>

<div class="container-fluid cont6">

  <mat-tab-group>

    <!--------------------------------------------------------Project Information--------------------------------------------------->

    <mat-tab label="Project Information">

      <app-view-project-details></app-view-project-details>
      <!--<nav class="menu">
        <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
        <label class="menu-open-button" for="menu-open">
          <span class="hamburger hamburger-1"></span>
          <span class="hamburger hamburger-2"></span>
          <span class="hamburger hamburger-3"></span>
        </label>

        <a class="menu-item" matTooltipPosition="left" matTooltip="Show applicant layer"> <i class="fa fa-user"></i> </a>
        <a class="menu-item" matTooltipPosition="left" matTooltip="Show department layer"><i class="fa fa-building"></i> </a>
        <a class="menu-item" matTooltipPosition="left" matTooltip="Show all layers"> <i class="fa fa-eye"></i> </a>
        <a class="menu-item" matTooltipPosition="left" matTooltip="Hide all layers"> <i class="fa fa-eye-slash"></i> </a>


      </nav>-->
      <!--<div class="maps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d55522.617408819875!2d30.405427199999995!3d-29.569843200000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sza!4v1662643454248!5m2!1sen!2sza" width="100%" height="700" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>-->
      <app-project-details-map-view [data]="ARCGISAPIData"></app-project-details-map-view>
      <app-department-circulation></app-department-circulation>
    </mat-tab>


    <!--------------------------------------------------------Comments--------------------------------------------------->


    <mat-tab label="Comments">




      <div class="main-container">
        <section id="timeline" class="timeline-outer">
          <div class="container" id="content">
            <div class="row" *ngFor="let commentsList of CommentsList">
              <div class="col s12 m12 l12">

                <ul class="timeline">
                  <li class="event" data-date="">
                    {{commentsList.SubDepartmentName}}
                    <!-- data-bind="{{commentsList.SubDepartmentName}}-->
                    <h3>{{commentsList.CommentStatus}}</h3>
                    <p>

                      {{commentsList.Comment}}
                    </p>
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </section>

        <br />
      </div>
      <div class="cont3" *ngIf="isInternalUser">
        <button mat-raised-button color="green" (click)="onCreateApprovalPack()">Approval Pack</button>
        <button mat-raised-button color="red" (click)="onCrreateRejectionPack()">Rejection Pack</button>

      </div>


    </mat-tab>





    <!--------------------------------------------------------Messaging--------------------------------------------------->
    <!--     <mat-tab label="Messaging">

    </mat-tab>-->
    <!--------------------------------------------------------Financial--------------------------------------------------->

    <mat-tab label="Financial">
      <div class="container-fluid">
        <br>
        <div class="form-floating">
          <select class="form-select" aria-label="Default select example" placeholder="Type of application">
            <option selected>Type </option>
            <option value="1">Deposit</option>
            <option value="2">Transgression</option>
            <option value="3">type 3</option>
            <option value="4">type 4</option>
          </select>

          <br>
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
      The actual rendered columns are set as a property on the row definition" -->
            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="weight">
              <th mat-header-cell *matHeaderCellDef> Weight </th>
              <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
              <th mat-header-cell *matHeaderCellDef> Symbol </th>
              <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let i = index">
                <button mat-raised-button color="blue" matTooltip="View" (click)="viewPDF()"><i class="fa fa-eye"></i></button>

                <!--<button mat-raised-button color="blue" matTooltip="View all sub Depertments" (click)="openViewSubDep(viewSub);getSubDemartmentByDepartmentID(i,viewSub)"><i class="fa fa-eye"></i></button>-->


              </td>
              <td mat-cell *matCellDef="let element">  </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
        <div class="form-floating mb-3 mt-3" *ngIf="wbsRequired">
          <input type="text" class="form-control" id="wbsNumberRequested" placeholder="WBS Number" [(ngModel)]="wbsNumberRequested" readonly>
          <label for="wbsNumberRequested">WBS Number</label>
        </div>
        <div class="cont" *ngIf="isInternalUser">
          <button mat-raised-button (click)="enterWBSNumberModal(wbsNumberModal)"  color="orange">WBS</button>
          <button mat-raised-button color="orange" (click)="generateConsolidatedDepositInvoice()">Consolidate Deposits</button>
          <button mat-raised-button color="orange">Deposit Refund</button>
        </div>


      </div>

    </mat-tab>


    <!--------------------------------------------------------Documents--------------------------------------------------->


    <mat-tab label="Documents">

      <div class="container-fluid">
        <button mat-raised-button color="primary" (click)="openDocUpload(newSub)">Upload document</button>
      </div>

      <table mat-table [dataSource]="dataSourceDoc" class="mat-elevation-z8">

        <!-- Name Column -->
        <ng-container matColumnDef="documentName">
          <th mat-header-cell *matHeaderCellDef> Document Name </th>
          <td mat-cell *matCellDef="let element"> {{element.documentName}} </td>
        </ng-container>


        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let i = index">
            <button mat-raised-button color="blue"  (click)="viewDocument(i)" matTooltip="View document"><i class="fa fa-eye"></i></button>
            <!--<button mat-raised-button color="blue" matTooltip="View all sub Depertments" (click)="openViewSubDep(viewSub);getSubDemartmentByDepartmentID(i,viewSub)"><i class="fa fa-eye"></i></button>-->
            <button mat-raised-button color="warn" matTooltip="Delete document"><i class="fa fa-trash"></i></button>


          </td>
          <td mat-cell *matCellDef="let element">  </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsDocs"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsDocs;"></tr>
      </table>

    </mat-tab>


    <!--------------------------------------------------------Applicant--------------------------------------------------->

    <mat-tab label="Applicant">

      <!--External User information-->
      <div class="container-fluid" *ngIf="isInternal == false">

        <div class="row">
          <div class="col">
            <div class="col">
              <div class="form-floating mb-3 mt-3">
                <input type="text" class="form-control" [(ngModel)]="extApplicantBpNoApplicant" placeholder="Enter BP Number" disabled>
                <label for="bpNoApplicant">BP Number</label>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" [(ngModel)]="extApplicantCompanyName" placeholder="Enter Company Name" disabled>
              <label for="address">Company Name</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" [(ngModel)]="extApplicantCompanyRegNo" placeholder="Enter Company Reg No" disabled>
              <label for="address">Company Reg No.</label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="email" class="form-control" [(ngModel)]="extApplicantCompanyType" placeholder="Select Company Type" disabled>
              <label for="applicantEmail">Company Type</label>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" [(ngModel)]="extApplicantName" placeholder="Enter First Name" disabled>
              <label for="name">Name</label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" [(ngModel)]="extApplicantSurname" placeholder="Enter Surname" disabled>
              <label for="surname">Surname</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" [(ngModel)]="extApplicantIDNumber" placeholder="Enter ID Number" disabled>
              <label for="extApplicantIDNumber">ID Number</label>
            </div>

          </div>
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="email" class="form-control" [(ngModel)]="extApplicantEmail" placeholder="Enter Email" disabled>
              <label for="applicantEmail">Email</label>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" [(ngModel)]="extApplicantPhyscialAddress" placeholder="Enter Address" disabled>
              <label for="applicantTellNo">Physcial Address</label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="tel" class="form-control" [(ngModel)]="extApplicantTellNo" placeholder="Enter Tell No." disabled>
              <label for="applicantTellNo">Cell No.</label>
            </div>

          </div>

        </div>

      </div>



      <!--Internal user information-->
      <div class="container-fluid" *ngIf="isInternal == true">


        <div class="row">
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" [(ngModel)]="internalApplicantName" placeholder="Enter First Name" disabled>
              <label for="name">Name</label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" [(ngModel)]="internalApplicantSurname" placeholder="Enter Surname" disabled>
              <label for="surname">Surname</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" [(ngModel)]="internalApplicantDirectorate" placeholder="Enter Surname" disabled>
              <label for="surname">Department</label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" [(ngModel)]="internalApplicantBranch" placeholder="Enter Branch" disabled>
              <label for="Branch">Branch</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="email" class="form-control" [(ngModel)]="internalApplicantCostCenterNo" placeholder="Enter Cost Center Number" disabled>
              <label for="applicantEmail">Cost Center Number</label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" [(ngModel)]="internalApplicantCostCenterOwner" placeholder="Enter Cost Center Owner" disabled>
              <label for="applicantTellNo">Cost Center Owner</label>
            </div>
          </div>
        </div>



      </div>
    </mat-tab>

    <!--------------------------------------------------------Engineer--------------------------------------------------->

    <mat-tab label="Engineer">
      <div class="container-fluid">

        <!--  <app-new-egineer></app-new-egineer>-->
        <app-view-engineers-table [ApplicationID]="ApplicationID"></app-view-engineers-table>


      </div>





    </mat-tab>



    <!--------------------------------------------------------Contractor--------------------------------------------------->

    <mat-tab label="Contractor">

      <div class="container-fluid">


        <!--     <app-new-contractor></app-new-contractor>-->

        <app-view-contractors-table [ApplicationID]="ApplicationID"></app-view-contractors-table>
      </div>

    </mat-tab>



    <!--------------------------------------------------------Tracking--------------------------------------------------->


    <mat-tab label="Tracking" *ngIf="isInternalUser">
      <button mat-raised-button color="blue" (click)="openXl(content)">Create New Note</button>
    </mat-tab>



    <!--------------------------------------------------------Auditing--------------------------------------------------->


    <mat-tab label="Audit Trail" *ngIf="isInternalUser">

      <app-audit-trail></app-audit-trail>

    </mat-tab>



    <!--this is the modal for the action center-->

    <ng-template #newSub let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Upload Document </h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <form>
          <mat-form-field>
            <div>
              <mat-toolbar>
                <!-- Display files names -->
                <input matInput [(ngModel)]="fileAttr" readonly name="name" />
                <!-- Browse Button -->
                <button mat-flat-button color="blue">Browse File</button>
              </mat-toolbar>
              <!-- Fetch selected filed on change -->
              <input type="file"
                     #fileInput
                     id="uploadFile"
                     (change)="uploadFileEvt($event)"
                     name="uploadFile"
                     multiple="multiple"
                     accept="image/*" />
            </div>
          </mat-form-field>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-outline-success" (click)="modal.close('Close click')">Save</button>
      </div>
    </ng-template>

  </mat-tab-group>



</div>

<!--This is for the wbs number-->

<ng-template #wbsNumberModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">WBS Number</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="addWBSNumber">
      <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" formControlName="wbsnumber" placeholder="wbsnumber">
        <label for="wbsnumber">WBS Number</label>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-success" (click)="onCreateWBSNumber();modal.close('Save click')">Save</button>
  </div>
</ng-template>


