<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="subDepartmentName" class="approve">
    <th mat-header-cell *matHeaderCellDef>Department</th>
    <td mat-cell *matCellDef="let element">{{element.subDepartmentName}}</td>
  </ng-container>

  <!-- Indication Column -->
  <ng-container matColumnDef="indication">
    <th mat-header-cell *matHeaderCellDef>Indication</th>
    <td mat-cell *matCellDef="let element">
      <i class="fa fa-thumbs-up greenThumbsUp" aria-hidden="true" *ngIf=" element.commentStatus === FinalApproved"></i>
      <i class="fa fa-thumbs-up blueThumbsUp" aria-hidden="true" *ngIf="element.commentStatus === ApprovedConditional ||element.commentStatus === Approved"></i>
      <i class="fa fa-thumbs-down redThumbsDown" aria-hidden="true" *ngIf="element.commentStatus === Rejected"></i>
      <i class="fa fa-clock-o yellowTimer" aria-hidden="true" *ngIf="element.commentStatus !== FinalApproved && element.commentStatus !== ApprovedConditional && element.commentStatus !== Approved && element.isAwaitingClarity === false && element.IsRefered === false && element.commentStatus !== Rejected || element.commentStatus === Null"></i>
      <i class="fa fa-commenting-o orangeSpeech" aria-hidden="true" *ngIf="element.isAwaitingClarity"></i>
      <i class="fa fa-retweet blueRefer" aria-hidden="true" *ngIf="element.IsRefered"></i>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row [ngClass]="{'approve': row.action === 'H'}" *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
