

table {
  width: 100%;
  margin-bottom:20px;
}
.mat-column-dep {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 60% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  text-align: center;
}
.greenThumbsUp {
  color: #68d017;
  font-size: 29px;
}
.greenThumbsUpText {
  color: #42640c;
  font-size: 13px;
}
.blueThumbsUpText {
  color: #0099c6;
  font-size: 13px;
}
.redThumbsDownText {
  color: #d01717;
  font-size: 13px;
}
.yellowTimerText {
  color: #fe9800;
  font-size: 13px;
}
.blueReferText {
  color: #6607f2;
  font-size: 13px;
}
.orangeSpeechText {
  color: #ff9600;
  font-size: 13px;
}
.contIndication {
  display: flex;
  flex-direction: column;
}
.blueThumbsUp {
  color: #00a4ff;
  font-size: 29px;
}
.redThumbsDown {
  color: #d01717;
  font-size: 29px;
}
.yellowTimer {
  color: #d0c400bd;
  font-size: 29px;
}
.orangeSpeech {
  color: #ff9600;
  font-size: 29px;
}
.blueRefer {
  color: #00a4ff;
  font-size: 29px;
}

.mat-column-indication {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 40% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  text-align: center;
}
.approve {
  background-color: #9ef5c1c7;
}
