<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="subDepartmentName" class="approve">
    <th mat-header-cell *matHeaderCellDef>Department</th>
    <td mat-cell *matCellDef="let element">{{element.subDepartmentName}}</td>

  </ng-container>
  <ng-container matColumnDef="zoneName" class="approve">
    <th mat-header-cell *matHeaderCellDef>Area</th>
    <td mat-cell *matCellDef="let element">{{element.zoneName}}</td>

  </ng-container>
 
  <!-- Indication Column -->
  <ng-container matColumnDef="indication">
    <th mat-header-cell *matHeaderCellDef>Indication</th>
    <td mat-cell *matCellDef="let element">
      <div class="contIndication">
     <!--   <i class="fa fa-thumbs-up greenThumbsUp" aria-hidden="true" *ngIf=" element.commentStatus === FinalApproved"></i>-->
        <img src="assets/fontawesome-free-6.4.2-web/svgs/regular/thumbs-up-solid-green.svg" class="icon2" *ngIf=" element.commentStatus === FinalApproved">
        <img src="assets/fontawesome-free-6.4.2-web/svgs/regular/thumbs-up-solid-blue.svg" class="icon2" *ngIf="element.commentStatus === ApprovedConditional || element.commentStatus === Approved">
        <img src="assets/fontawesome-free-6.4.2-web/svgs/regular/thumbs-down-solid-red.svg" class="icon2" *ngIf="element.commentStatus === Rejected || element.commentStatus === FinalReject">
        <img src="assets/fontawesome-free-6.4.2-web/svgs/regular/clock-regular.svg" class="icon2" *ngIf="element.commentStatus !== FinalApproved && element.commentStatus !== ApprovedConditional && element.commentStatus !== Approved && element.isAwaitingClarity === false && element.IsRefered === false && element.commentStatus !== Rejected &&  element.commentStatus !== FinalReject|| element.commentStatus === Null">
        <img src="assets/fontawesome-free-6.4.2-web/svgs/regular/comment-solid-orange.svg" class="icon2" *ngIf="element.isAwaitingClarity">
        <img src="assets/fontawesome-free-6.4.2-web/svgs/regular/retweet-solid-purple.svg" class="icon2" *ngIf="element.IsRefered">
<!--        <i class="fa fa-thumbs-up blueThumbsUp" aria-hidden="true" *ngIf="element.commentStatus === ApprovedConditional ||element.commentStatus === Approved"></i>-->
      <!--  <i class="fa fa-thumbs-down redThumbsDown" aria-hidden="true" *ngIf="element.commentStatus === Rejected"></i>-->
<!--        <i class="fa fa-clock-o yellowTimer" aria-hidden="true" *ngIf="element.commentStatus !== FinalApproved && element.commentStatus !== ApprovedConditional && element.commentStatus !== Approved && element.isAwaitingClarity === false && element.IsRefered === false && element.commentStatus !== Rejected || element.commentStatus === Null"></i>-->
      <!--  <i class="fa fa-commenting-o orangeSpeech" aria-hidden="true" *ngIf="element.isAwaitingClarity"></i>-->
        <!--<i class="fa fa-retweet blueRefer" aria-hidden="true" *ngIf="element.IsRefered"></i>-->
        <p class="greenThumbsUpText" *ngIf=" element.commentStatus === FinalApproved">Final Approved</p>
        <p class="blueThumbsUpText" *ngIf="element.commentStatus === ApprovedConditional ||element.commentStatus === Approved">Prov. Approved</p>
        <p class="redThumbsDownText" *ngIf="element.commentStatus === Rejected || element.commentStatus === FinalReject">Rejected</p>
        <p class="yellowTimerText" *ngIf="element.commentStatus !== FinalApproved && element.commentStatus !== ApprovedConditional && element.commentStatus !== Approved && element.isAwaitingClarity === false && element.IsRefered === false && element.commentStatus !== Rejected &&  element.commentStatus !== FinalReject || element.commentStatus === Null">Waiting</p>
        <p class="orangeSpeechText" *ngIf="element.isAwaitingClarity">Awaiting Clarity</p>
        <p class="blueReferText" *ngIf="element.IsRefered">Referred</p>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row [ngClass]="{'approve': row.action === 'H'}" *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
