<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="subDepartmentName" class="approve">
    <th mat-header-cell *matHeaderCellDef>Department</th>
    <td mat-cell *matCellDef="let element">{{element.SubDepartmentName}}</td>
  </ng-container>

  <ng-container matColumnDef="zoneName" class="approve">
    <th mat-header-cell *matHeaderCellDef>Zone Name</th>
    <td mat-cell *matCellDef="let element">{{element.ZoneName}}</td>
  </ng-container>

  <ng-container matColumnDef="comment" class="approve">
    <th mat-header-cell *matHeaderCellDef>Comment</th>
    <td mat-cell *matCellDef="let element" >{{element.PermitComment}}</td>
  </ng-container>



  <!-- Indication Column -->
  <ng-container matColumnDef="indication">
    <th mat-header-cell *matHeaderCellDef>Indication</th>
    <td mat-cell *matCellDef="let element">
      <i class="fa fa-location-arrow blueArrow" aria-hidden="true" *ngIf=" element.PermitCommentStatus === MeetOnSite"></i>
      <i class="fa fa-thumbs-up greenThumbsUp" aria-hidden="true" *ngIf="element.PermitCommentStatus === Approved"></i>
      <i class="fa fa-thumbs-down redThumbsDown" aria-hidden="true" *ngIf="element.PermitCommentStatus === Rejected"></i>
      <i class="fa fa-clock-o yellowTimer" aria-hidden="true" *ngIf="element.PermitCommentStatus !== MeetOnSite && element.PermitCommentStatus !== Approved && element.PermitCommentStatus !== Rejected"></i>

    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row [ngClass]="{'approve': row.action === 'H'}" *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
