
<button mat-raised-button color="action" *ngIf="CanConsolidate && (CurrentUserProfile[0].userID == ApplicantID || CurrentUserProfile[0].userID == OriginatorID) && PermitBtn === false" (click)="CombinePTW()">Consolidate PTW</button> <!--*ngIf="" [disabled]=""-->

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="subDepartmentName" class="approve">
    <th mat-header-cell *matHeaderCellDef>Department</th>
    <td mat-cell *matCellDef="let element">{{element.SubDepartmentName}}</td>
  </ng-container>

  <ng-container matColumnDef="zoneName" class="approve">
    <th mat-header-cell *matHeaderCellDef>Zone Name</th>
    <td mat-cell *matCellDef="let element">{{element.ZoneName}}</td>
  </ng-container>

  <ng-container matColumnDef="comment" class="approve">
    <th mat-header-cell *matHeaderCellDef>Comment</th>
    <td mat-cell *matCellDef="let element">{{element.PermitComment}}</td>
  </ng-container>



  <!-- Indication Column -->
  <ng-container matColumnDef="indication">
    <th mat-header-cell *matHeaderCellDef>Indication</th>
    <td mat-cell *matCellDef="let element">
      <img src="assets/fontawesome-free-6.4.2-web/svgs/regular/location-dot-solid.svg" class="icon" *ngIf=" element.PermitCommentStatus === MeetOnSite">
      <img src="assets/fontawesome-free-6.4.2-web/svgs/regular/thumbs-up-solid-green.svg" class="icon" *ngIf="element.PermitCommentStatus === Approved">
      <img src="assets/fontawesome-free-6.4.2-web/svgs/regular/thumbs-down-solid-red.svg" class="icon" *ngIf="element.PermitCommentStatus === Rejected">
      <img src="assets/fontawesome-free-6.4.2-web/svgs/regular/clock-regular.svg" class="icon" *ngIf="element.PermitCommentStatus !== MeetOnSite && element.PermitCommentStatus !== Approved && element.PermitCommentStatus !== Rejected">
      <!--      <i class="fa fa-location-arrow blueArrow" aria-hidden="true" *ngIf=" element.PermitCommentStatus === MeetOnSite"></i>-->
      <!--      <i class="fa fa-thumbs-up greenThumbsUp" aria-hidden="true" *ngIf="element.PermitCommentStatus === Approved"></i>-->
      <!--      <i class="fa fa-thumbs-down redThumbsDown" aria-hidden="true" *ngIf="element.PermitCommentStatus === Rejected"></i>-->
      <!--      <i class="fa fa-clock-o yellowTimer" aria-hidden="true" *ngIf="element.PermitCommentStatus !== MeetOnSite && element.PermitCommentStatus !== Approved && element.PermitCommentStatus !== Rejected"></i>-->

    </td>
  </ng-container>

  <ng-container matColumnDef="addDocument" class="approve">
    <th mat-header-cell *matHeaderCellDef>Document Upload</th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="element.SubDepartmentID == CurrentUserProfile[0].subDepartmentID && element.ZoneID == CurrentUserProfile[0].zoneID  && CanIssuePermit || CurrentUserProfile[0].subDepartmentName == 'EMB'">
        <app-documents-component [ApplicationID]="ApplicationID"
                                 [ServiceConditionActive]="false"
                                 [isCalledInsidePermit]="isCalledInsidePermit"
                                 [permitSubForCommentID]="element.PermitSubForCommentID"
                                 [permitDocumentName]="element.PermitDocName"
                                 [permitCommentStatus]="element.PermitCommentStatus">

        </app-documents-component>
      </ng-container>
    </td>
  </ng-container>
  <!---Permit Kyle 13-02-24-->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Status</th>
    <td mat-cell *matCellDef="let element ; let i = index">
      <div *ngIf="element.hasSupervsionFee == true && (element.PermitCommentStatus === Approved || element.PermitCommentStatus === MeetOnSite)">
        <img src="assets/fontawesome-free-6.4.2-web/svgs/regular/clock-regular.svg" class="icon" *ngIf="element.isPaid == false" (click)="getPermitDocument(i)">
        <img src="assets/fontawesome-free-6.4.2-web/svgs/regular/thumbs-up-solid-green.svg" class="icon" *ngIf="element.isPaid == true">
        <p class="statusUnpaid" *ngIf="element.isPaid == false">Pending Payment</p>
        <p class="statusPaid" *ngIf="element.isPaid == true"> Paid</p>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="moveToPaid">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element ; let i = index">
      <button mat-raised-button (click)=" moveToPaid(i)" color="create" *ngIf="element.hasSupervisionFee == true && element.isPaid == false && isEMB == true &&(element.PermitCommentStatus === Approved || element.PermitCommentStatus === MeetOnSite)">Move To Paid</button>
      <button mat-raised-button (click)=" requestForDelete(i)" color="create" *ngIf="element.hasDoc && CurrentUser.appUserId == element.UserAssaignedToComment">Request For Delete</button>
    </td>
  </ng-container>

  <!---Permit Kyle 13-02-24-->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row [ngClass]="{'approve': row.action === 'H'}" *matRowDef="let row; columns: displayedColumns"></tr>

</table>


<h3>*Please note that this version of the PTW module is still under development. Some features may not be enabled!</h3>
