h1 {
  font-family: 'Nunito', sans-serif;
  margin: 0 auto;
  text-align: center;
  padding-top: 26px;
  padding-bottom: 113px;
  color: white;
  font-size: 40px;
  font-weight: bold;
}

button {
  margin: 10px;
}

.mat-success {
  background-color: #446414;
  color: #fff;
}

.mat-another {
  background-color: #ea2a74;
  color: #fff;
}

.mat-create {
  background-color: #005870;
  color: #fff;
}

.mat-blue {
  background-color: #20c997;
  color: #fff;
}

.mat-warn {
  background-color: #9d2235;
  color: #fff;
}

.mat-orange {
  background-color: #ff9900;
  color: #fff;
}


.createNewDep {
  margin-top: 10px;
  margin-bottom: 10px;
}

table {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.mat-column-name {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 8% !important;
  width: 60% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-actions {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 8% !important;
  width: 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  text-align: center;
}

.create {
  margin-top: 10px;
  margin-bottom: 10px;
}

.checked {
  background-color: limegreen;
  color: white;
}

.blueArrow {
  color: #00a4ff;
  font-size: 29px;
}
.greenThumbsUp {
  color: #68d017;
  font-size: 29px;
}
.redThumbsDown {
  color: #d01717;
  font-size: 29px;
}
.yellowTimer {
  color: #d0c400bd;
  font-size: 29px;
}
/*Permit Kyle 13-02-24*/
.mat-action {
  color: white;
  background-color: #005870;
  margin: 10px;
}
.mat-column-addDocument {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 8% !important;
  width: 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  text-align: center;
}
/*Permit Kyle 13-02-24*/
