<button mat-raised-button color="create" (click)="openPermitModal(content)">Apply For Permit</button>


<!--This table is for the icons to show which departments have approved and what not-->


<!--<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">-->

  <!-- Position Column -->
  <!--<ng-container matColumnDef="subDepartmentName" class="approve">
    <th mat-header-cell *matHeaderCellDef>Department</th>
    <td mat-cell *matCellDef="let element">{{element.subDepartmentName}}</td>
  </ng-container>-->

  <!-- Indication Column -->
  <!--<ng-container matColumnDef="indication">
    <th mat-header-cell *matHeaderCellDef>Indication</th>
    <td mat-cell *matCellDef="let element">
      <i class="fa fa-thumbs-up greenThumbsUp" aria-hidden="true" *ngIf=" element.commentStatus === FinalApproved"></i>
      <i class="fa fa-thumbs-up blueThumbsUp" aria-hidden="true" *ngIf="element.commentStatus === ApprovedConditional ||element.commentStatus === Approved"></i>
      <i class="fa fa-thumbs-down redThumbsDown" aria-hidden="true" *ngIf="element.commentStatus === Rejected"></i>
      <i class="fa fa-clock-o yellowTimer" aria-hidden="true" *ngIf="element.commentStatus !== FinalApproved && element.commentStatus !== ApprovedConditional && element.commentStatus !== Approved && element.isAwaitingClarity == false && element.IsRefered == false || element.commentStatus === Null"></i>
      <i class="fa fa-commenting-o orangeSpeech" aria-hidden="true" *ngIf="element.isAwaitingClarity"></i>
      <i class="fa fa-retweet blueRefer" aria-hidden="true" *ngIf="element.IsRefered"></i>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row [ngClass]="{'approve': row.action === 'H'}" *matRowDef="let row; columns: displayedColumns;"></tr>

</table>-->


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Please select a date for your permit</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>


      <div class="row">

        <div class="form-floating mb-3 mt-3">
          <input type="date" class="form-control" id="accessGroupName" placeholder="Enter the access group name">
          <label for="accessGroupName">Select Start Date</label>
        </div>

      </div>


    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>
