<div class="container-fluid">

  <div class="row">
    <div class="col">
      <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" [(ngModel)]="clientName" placeholder="Enter First Name">
        <label for="clientName">Name</label>
      </div>
    </div>

    <div class="col">
      <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" [(ngModel)]="clientSurname" placeholder="Enter Surname">
        <label for="clientSurname">Surname</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" [(ngModel)]="clientEmail" placeholder="Enter Email">
        <label for="clientEmail">Email</label>
      </div>
    </div>

    <div class="col">
      <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" [(ngModel)]="clientCellNo" placeholder="Enter Cell Number">
        <label for="clientEmail">Cell Number</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" [(ngModel)]="clientAddress" placeholder="Enter Address">
        <label for="clientAddress">Address</label>
      </div>
    </div>

    <div class="col">
      <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" [(ngModel)]="clientRefNo" placeholder="Enter Ref No">
        <label for="clientRefNo">Refference Number</label>
      </div>
    </div>
  </div>

</div>
