<div class="container-fluid">
  <button mat-raised-button color="action" (click)="openDocUpload(newSub)">Upload document</button>
</div>

<table mat-table [dataSource]="dataSourceDoc" class="mat-elevation-z8">

  <!-- Name Column -->
  <ng-container matColumnDef="DocumentName">
    <th mat-header-cell *matHeaderCellDef>Document Name</th>
    <td mat-cell *matCellDef="let element"> {{element.DocumentName}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>actions</th>
    <td mat-cell *matCellDef="let i = index">
      <button mat-raised-button color="blue" (click)="viewDocument(i)" matTooltip="View document"><img src="assets/fontawesome-free-6.4.2-web/svgs/regular/eye-solid-white.svg" class="icon"></button>
      <!--<button mat-raised-button color="warn" matTooltip="Delete document"><i class="fa fa-trash"></i></button>-->
    </td>
    <td mat-cell *matCellDef="let element">  </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumnsDocs"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumnsDocs;"></tr>
</table>


<ng-template #newSub let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Upload Document: Please name your files in a clear and descriptive manner to assist the reviewer. Thank you!</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="onCloseFile()"></button>
  </div>
  <div class="modal-body">
    <form>
      <mat-form-field>
        <!-- Display files names -->
        <input matInput [(ngModel)]="fileAttrs" readonly name="name" />
        <!-- app-file-upload Component -->
        <div class="row" style="margin-bottom:15px;">
          <div class="container-fluid">
            <app-file-upload [ApplicationID]="ApplicationID"
                             [UploadFor]="fileAttrsName"
                             (passFileName)="onPassFileName($event)"
                             (onUploadFinished)="onFileDelete($event, 0)"
                             (onUploadSuccess)="onFileUpload($event)"
                             [ServiceConditionActive]="ServiceConditionActive"
                             >
            </app-file-upload>
          </div>
        </div>
      </mat-form-field>
    </form>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-success" (click)="getAllDocsForApplication();changeHasFile();modal.close('Close click')">Save</button>
  </div>
</ng-template>
