h6 {
  color: black;
  font-size: 20px;
}
.table {
  margin-top: 30px;
  margin-bottom: 18px;
  padding-bottom: 1px;
}
.table {
  /*    width: 750px;
    margin: 0 auto;*/
  margin-bottom: 30px;
  overflow-x: scroll;
  overflow-y: hidden
}
.mat-column-actions {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 8% !important;
  width: 1% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-blue {
  margin: 5px;
  color: #005870;
  background-color: #ccdee2;
  width: 20px;
}
.mat-column-projectNumber {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 8% !important;
  width: 45% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-description {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 8% !important;
  width: 45% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -webkit-hyphens: auto;
  hyphens: auto;
}
