<app-nav-menu></app-nav-menu>

<h1>Cyberfox Configuration</h1>


<div class="container-fluid">

  <mat-tab-group>

    <mat-tab label="Stages">
      <app-stages-config></app-stages-config>
    </mat-tab>

    <mat-tab label="SMTP">
    </mat-tab>

    <mat-tab label="Escalate">

      <div class="cont2">


        <form [formGroup]="addEscalateDate" (ngSubmit)="onEscalateDateSubmit()">

          <div class="form-floating mb-3 mt-3">
            <input type="number" class="form-control" formControlName="escalateDate" id="escalateDate" placeholder="Enter a date">
            <label for="escalateDate"> Please enter how many days until a project can be esclated</label>
          </div>
        </form>

        <button type="button" mat-raised-button color="success" (click)="onEscalateDateSubmit()">Save</button>
      </div>
      <div class="form-floating mb-3 mt-3">
        <input type="number" class="form-control" [(ngModel)]="viewEscalateDate" id="viewEscalateDate" name="viewEscalateDate" placeholder="Enter a date" disabled>
        <label for="escalateDate"> The Current date for the escalation</label>
      </div>
    </mat-tab>

  </mat-tab-group>

</div>
