h1 {
  font-family: 'Nunito', sans-serif;
  margin: 0 auto;
  padding-top: 40px;
  color: #343a40;
  font-size: 50px;
  margin-top: 0px;
  font-weight: bold;
  margin-bottom: 40px;
}

.glass {
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  max-height: 80vh;
  overflow: auto;
}

.mat-success {
  background-color: #2dd568;
  color: #fff;
}
.cont2{
    margin-bottom:10px;
}

.mat-blue {
  margin-right: 5px;
  background-color: #268df7 !important;
  color: #005870;
}
