app-nav-menu {
  margin: 60px;
}

h1 {
  font-family: 'Nunito', sans-serif;
  margin: 0 auto;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #343a40;
  font-size: 70px;
  font-weight: bold;
  margin-top: 152px;
  padding-bottom: 206px;
}


.mat-success {
  background-color: #2dd568;
  color: #fff;
}
.cont2{
    margin-bottom:10px;
}
