<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Creating a new contractor</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">

        <!--<div class="row">-->
        <!--<div class="col">
       <div class="form-floating mb-3 mt-3">
         <input type="text" class="form-control" id="bpNoContractor" [(ngModel)]="bpNoContractor" placeholder="Enter BP Number" name="bpNoContractor">
         <label for="bpNoContractor">BP Number</label>
       </div>
     </div>-->
        <!--          <div class="col">
                <div class="form-floating mb-3 mt-3">
                  <input type="text" class="form-control" id="ProfessionalRegNo" [(ngModel)]="ProfessionalRegNo" placeholder="Enter Professional Reg No" name="professionalRegNo">
                  <label for="professionalRegNo">CIDB Number</label>
                </div>
              </div>-->
        <!--</div>-->
        <div class="row">
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" id="contractorIDNo" [(ngModel)]="contractorIDNo" placeholder="Enter ID Number" name="contractorIDNo">
              <label for="contractorIDNo">Company Name</label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" id="ProfessionalRegNo" [(ngModel)]="ProfessionalRegNo" placeholder="Enter Professional Reg No" name="professionalRegNo">
              <label for="professionalRegNo">CIDB Number</label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" id="CIBDrating" [(ngModel)]="CIBRating" placeholder="Enter Grading" name="CIBRating">
              <label for="CIBDrating">CIDB Grading</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" id="Name" [(ngModel)]="Name" placeholder="Enter First Name" name="name">
              <label for="name">Name</label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" id="Surname" [(ngModel)]="Surname" placeholder="Enter Surname" name="surname">
              <label for="surname">Surname</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="tel" class="form-control" id="ContractorTell" [(ngModel)]="ContractorTell" placeholder="Enter Tell No." name="contractorTell">
              <label for="contractorTell">Cell No.</label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="email" class="form-control" id="ContractorEmail" [(ngModel)]="ContractorEmail" placeholder="Enter Email" name="contractorEmail">
              <label for="contractorEmail">Email</label>
            </div>
          </div>
        </div>


      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="modal.close('Save click'); onAddcontractor()">Save</button>
  </div>
</ng-template>

<div class="container-fluid">
  <div class="row">
    <button type="button" class="createNewCon" (click)="openXl(content)">
      Create New Contractor
    </button>
  </div>
</div>



<ng-template #edit let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit a new contractor</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">

        <div class="row">
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" id="editBpNoContractor" [(ngModel)]="editBpNoContractor" placeholder="Enter BP Number" name="editBpNoContractor">
              <label for="bpNoContractor">Company Name</label>
            </div>
          </div>
          <!--          <div class="col">
                  <div class="form-floating mb-3 mt-3">
                    <input type="text" class="form-control" id="editProfessionalRegNo" [(ngModel)]="editProfessionalRegNo" placeholder="Enter Professional Reg No" name="editProfessionalRegNo">
                    <label for="professionalRegNo">Professional Reg No.</label>
                  </div>
                </div>-->
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" id="editContractorIDNo" [(ngModel)]="editContractorIDNo" placeholder="Enter ID Number" name="editContractorIDNo">
              <label for="contractorIDNo">CIDB Number</label>
            </div>
          </div>

          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" id="editCIBDrating" [(ngModel)]="editCIBDrating" placeholder="Enter Grading" name="editCIBDrating">
              <label for="CIBDrating">CIDB Grading</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" id="editName" [(ngModel)]="editName" placeholder="Enter First Name" name="editName">
              <label for="name">Name</label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" id="Surname" [(ngModel)]="editSurname" placeholder="Enter Surname" name="editSurname">
              <label for="surname">Surname</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="tel" class="form-control" id="editContractorTell" [(ngModel)]="editContractorTell" placeholder="Enter Tell No." name="editContractorTell">
              <label for="contractorTell">Cell No.</label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="email" class="form-control" id="editContractorEmail" [(ngModel)]="editContractorEmail" placeholder="Enter Email" name="editContractorEmail">
              <label for="contractorEmail">Email</label>
            </div>
          </div>
        </div>


      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="modal.close('Save click'); onEditContractor()">Save</button>
  </div>
</ng-template>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->
  <!-- Position Column -->
  <ng-container matColumnDef="ProfessinalType">
    <th mat-header-cell *matHeaderCellDef>Professinal Type</th>
    <td mat-cell *matCellDef="let element"> {{element.ProfessinalType}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="surname">
    <th mat-header-cell *matHeaderCellDef>Surname</th>
    <td mat-cell *matCellDef="let element"> {{element.surname}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="bpNumber">
    <th mat-header-cell *matHeaderCellDef>Bp Number </th>
    <td mat-cell *matCellDef="let element"> {{element.bpNumber}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="professionalRegNo">
    <th mat-header-cell *matHeaderCellDef>Professional Reg No </th>
    <td mat-cell *matCellDef="let element"> {{element.professionalRegNo}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="CIBRating">
    <th mat-header-cell *matHeaderCellDef>CIDB Grading</th>
    <td mat-cell *matCellDef="let element"> {{element.CIBRating}} </td>
  </ng-container>

  <ng-container matColumnDef="phoneNumber">
    <th mat-header-cell *matHeaderCellDef>Contractor Tell</th>
    <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let i = index">
      <button mat-raised-button color="warn" (click)="onDelete(i)"><i class="fa fa-trash" aria-hidden="true"></i></button>
      <button mat-raised-button color="primary" (click)="openEditModal(edit, i)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
    </td>
    <td mat-cell *matCellDef="let element">  </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

